In [2]:
import os
import sys
# import re
import pickle
from collections import defaultdict, OrderedDict, Counter
import warnings
warnings.filterwarnings('ignore')

from tqdm import tqdm

In [3]:
import numpy as np
import pandas as pd
# from pandas.plotting import scatter_matrix
# from pandas_profiling import ProfileReport
# from missingno import dendrogram
# import missingno as msno

# pd.options.display.float_format = '{:0.5f}'.format`

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

# settings for seaborn plot sizes
sns.set(rc={'figure.figsize':(20, 10)})
plt.rc('font',family='Malgun Gothic')

In [5]:
def percent_(df_bin, df) :
    total = sum(df_bin)
    #print(total)
    percentage = df_bin/total*100
    #print(percentage)
    df['%']=percentage
    ## 데이터프레임의 항목당 백분율 계산 함수 (매개변수 (DF_백분율로 나타내려는 column, DF))

### Data (독거 노인 현황 연령별)

In [6]:
data4 = pd.read_csv('data/독거노인_현황_연령별__20221122095841.csv')

In [7]:
data5 = pd.read_csv('data/독거노인_현황_연령별__20221122095943.csv')

In [8]:
data4_1=data4[data4['시점']==2018]

In [9]:
data4['연령별(1)'].unique()

array(['계', '65~79세', '80세 이상'], dtype=object)

In [10]:
data4_1

        시점 시군별(1) 시군별(2)       독거노인별(1)  연령별(1)     데이터
1632  2018     합계     소계             합계       계  378779
1633  2018     합계     소계             합계  65~79세  265445
1634  2018     합계     소계             합계  80세 이상  113334
1635  2018     합계     소계  국민기초생활보장 수급권자       계   61592
1636  2018     합계     소계  국민기초생활보장 수급권자  65~79세   39739
...    ...    ...    ...            ...     ...     ...
2035  2018     북부    가평군          저소득노인  65~79세     326
2036  2018     북부    가평군          저소득노인  80세 이상     298
2037  2018     북부    가평군             일반       계    3149
2038  2018     북부    가평군             일반  65~79세    2488
2039  2018     북부    가평군             일반  80세 이상     661

[408 rows x 6 columns]

In [11]:
data5[data5['시점']==2018]

        시점 시군별(1) 시군별(2)  연령별(1)       독거노인별(1)     데이터
1632  2018     합계     소계       계             합계  378779
1633  2018     합계     소계       계  국민기초생활보장 수급권자   61592
1634  2018     합계     소계       계          저소득노인   21322
1635  2018     합계     소계       계             일반  295865
1636  2018     합계     소계  65~79세             합계  265445
...    ...    ...    ...     ...            ...     ...
2035  2018     북부    가평군  65~79세             일반    2488
2036  2018     북부    가평군  80세 이상             합계    1245
2037  2018     북부    가평군  80세 이상  국민기초생활보장 수급권자     286
2038  2018     북부    가평군  80세 이상          저소득노인     298
2039  2018     북부    가평군  80세 이상             일반     661

[408 rows x 6 columns]

In [12]:
data5['연령별(1)'].unique()

array(['계', '65~79세', '80세 이상'], dtype=object)

In [13]:
data4_1

        시점 시군별(1) 시군별(2)       독거노인별(1)  연령별(1)     데이터
1632  2018     합계     소계             합계       계  378779
1633  2018     합계     소계             합계  65~79세  265445
1634  2018     합계     소계             합계  80세 이상  113334
1635  2018     합계     소계  국민기초생활보장 수급권자       계   61592
1636  2018     합계     소계  국민기초생활보장 수급권자  65~79세   39739
...    ...    ...    ...            ...     ...     ...
2035  2018     북부    가평군          저소득노인  65~79세     326
2036  2018     북부    가평군          저소득노인  80세 이상     298
2037  2018     북부    가평군             일반       계    3149
2038  2018     북부    가평군             일반  65~79세    2488
2039  2018     북부    가평군             일반  80세 이상     661

[408 rows x 6 columns]

In [14]:
data4_1.head(50)

        시점 시군별(1) 시군별(2)       독거노인별(1)  연령별(1)     데이터
1632  2018     합계     소계             합계       계  378779
1633  2018     합계     소계             합계  65~79세  265445
1634  2018     합계     소계             합계  80세 이상  113334
1635  2018     합계     소계  국민기초생활보장 수급권자       계   61592
1636  2018     합계     소계  국민기초생활보장 수급권자  65~79세   39739
1637  2018     합계     소계  국민기초생활보장 수급권자  80세 이상   21853
1638  2018     합계     소계          저소득노인       계   21322
1639  2018     합계     소계          저소득노인  65~79세   11857
1640  2018     합계     소계          저소득노인  80세 이상    9465
1641  2018     합계     소계             일반       계  295865
1642  2018     합계     소계             일반  65~79세  213849
1643  2018     합계     소계             일반  80세 이상   82016
1644  2018     남부     소계             합계       계  263527
1645  2018     남부     소계             합계  65~79세  183208
1646  2018     남부     소계             합계  80세 이상   80319
1647  2018     남부     소계  국민기초생활보장 수급권자       계   41749
1648  2018     남부     소계  국민기초생활보장 수급권자  65~79세   26950
1649  2018     남부     소계  국민기초생활보장 수급권자  80세 이상   14799
1650  2018     남부     소계          저소득노인       계   13464
1651  2018     남부     소계          저소득노인  65~79세    7234
1652  2018     남부     소계          저소득노인  80세 이상    6230
1653  2018     남부     소계             일반       계  208314
1654  2018     남부     소계             일반  65~79세  149024
1655  2018     남부     소계             일반  80세 이상   59290
1656  2018     남부    수원시             합계       계   34656
1657  2018     남부    수원시             합계  65~79세   24058
1658  2018     남부    수원시             합계  80세 이상   10598
1659  2018     남부    수원시  국민기초생활보장 수급권자       계    4719
1660  2018     남부    수원시  국민기초생활보장 수급권자  65~79세    3148
1661  2018     남부    수원시  국민기초생활보장 수급권자  80세 이상    1571
1662  2018     남부    수원시          저소득노인       계    1303
1663  2018     남부    수원시          저소득노인  65~79세     687
1664  2018     남부    수원시          저소득노인  80세 이상     616
1665  2018     남부    수원시             일반       계   28634
1666  2018     남부    수원시             일반  65~79세   20223
1667  2018     남부    수원시             일반  80세 이상    8411
1668  2018     남부    성남시             합계       계   29045
1669  2018     남부    성남시             합계  65~79세   21229
1670  2018     남부    성남시             합계  80세 이상    7816
1671  2018     남부    성남시  국민기초생활보장 수급권자       계    6824
1672  2018     남부    성남시  국민기초생활보장 수급권자  65~79세    4491
1673  2018     남부    성남시  국민기초생활보장 수급권자  80세 이상    2333
1674  2018     남부    성남시          저소득노인       계    1297
1675  2018     남부    성남시          저소득노인  65~79세     578
1676  2018     남부    성남시          저소득노인  80세 이상     719
1677  2018     남부    성남시             일반       계   20924
1678  2018     남부    성남시             일반  65~79세   16160
1679  2018     남부    성남시             일반  80세 이상    4764
1680  2018     남부    안양시             합계       계   14204
1681  2018     남부    안양시             합계  65~79세    9445

In [16]:
data4_1[data4_1['시군별(1)']=='북부']

        시점 시군별(1) 시군별(2)       독거노인별(1)  연령별(1)     데이터
1908  2018     북부     소계             합계       계  115252
1909  2018     북부     소계             합계  65~79세   82237
1910  2018     북부     소계             합계  80세 이상   33015
1911  2018     북부     소계  국민기초생활보장 수급권자       계   19843
1912  2018     북부     소계  국민기초생활보장 수급권자  65~79세   12789
...    ...    ...    ...            ...     ...     ...
2035  2018     북부    가평군          저소득노인  65~79세     326
2036  2018     북부    가평군          저소득노인  80세 이상     298
2037  2018     북부    가평군             일반       계    3149
2038  2018     북부    가평군             일반  65~79세    2488
2039  2018     북부    가평군             일반  80세 이상     661

[132 rows x 6 columns]

1)지역별 독거노인의 총 수

In [19]:
data4_1['시군별(2)'].unique()

array(['소계', '수원시', '성남시', '안양시', '부천시', '광명시', '평택시', '안산시', '과천시',
       '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시', '이천시', '안성시', '김포시',
       '화성시', '광주시', '여주시', '양평군', '의정부시', '동두천시', '고양시', '구리시', '남양주시',
       '파주시', '양주시', '포천시', '연천군', '가평군'], dtype=object)

In [20]:
si_list=[ '수원시', '성남시', '안양시', '부천시', '광명시', '평택시', '안산시', '과천시',
       '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시', '이천시', '안성시', '김포시',
       '화성시', '광주시', '여주시', '양평군', '의정부시', '동두천시', '고양시', '구리시', '남양주시',
       '파주시', '양주시', '포천시', '연천군', '가평군']

In [39]:
total_elder =[]
for si in si_list :
    #print(si)
    elder=data4_1[data4_1['시군별(2)']==si].iloc[0]['데이터']
    total_elder.append(elder)

In [40]:
data4_1[data4_1['시군별(2)']=='수원시'].iloc[0]

시점           2018
시군별(1)         남부
시군별(2)        수원시
독거노인별(1)       합계
연령별(1)          계
데이터         34656
Name: 1656, dtype: object

In [41]:
total_elder

[34656,
 29045,
 14204,
 22791,
 9263,
 15716,
 17146,
 1511,
 4323,
 11022,
 7366,
 3761,
 8719,
 21967,
 6865,
 7925,
 10441,
 13842,
 9260,
 5923,
 7781,
 15078,
 5351,
 29219,
 6978,
 20009,
 14532,
 7939,
 8132,
 3499,
 4515]

In [42]:
key = si_list
value = total_elder

In [43]:
mapping = {k:v for k, v in zip(key, value)}

In [44]:
mapping

{'수원시': 34656,
 '성남시': 29045,
 '안양시': 14204,
 '부천시': 22791,
 '광명시': 9263,
 '평택시': 15716,
 '안산시': 17146,
 '과천시': 1511,
 '오산시': 4323,
 '시흥시': 11022,
 '군포시': 7366,
 '의왕시': 3761,
 '하남시': 8719,
 '용인시': 21967,
 '이천시': 6865,
 '안성시': 7925,
 '김포시': 10441,
 '화성시': 13842,
 '광주시': 9260,
 '여주시': 5923,
 '양평군': 7781,
 '의정부시': 15078,
 '동두천시': 5351,
 '고양시': 29219,
 '구리시': 6978,
 '남양주시': 20009,
 '파주시': 14532,
 '양주시': 7939,
 '포천시': 8132,
 '연천군': 3499,
 '가평군': 4515}

In [46]:
data4_1_1 = pd.Series(mapping)

In [49]:
data4_1_1

수원시     34656
성남시     29045
안양시     14204
부천시     22791
광명시      9263
평택시     15716
안산시     17146
과천시      1511
오산시      4323
시흥시     11022
군포시      7366
의왕시      3761
하남시      8719
용인시     21967
이천시      6865
안성시      7925
김포시     10441
화성시     13842
광주시      9260
여주시      5923
양평군      7781
의정부시    15078
동두천시     5351
고양시     29219
구리시      6978
남양주시    20009
파주시     14532
양주시      7939
포천시      8132
연천군      3499
가평군      4515
dtype: int64

In [50]:
data4_1_2=pd.DataFrame(data4_1_1, columns=['독거노인수'])

In [52]:
data4_1_2 #지역별 독거노인의 총 수

      독거노인수
수원시   34656
성남시   29045
안양시   14204
부천시   22791
광명시    9263
평택시   15716
안산시   17146
과천시    1511
오산시    4323
시흥시   11022
군포시    7366
의왕시    3761
하남시    8719
용인시   21967
이천시    6865
안성시    7925
김포시   10441
화성시   13842
광주시    9260
여주시    5923
양평군    7781
의정부시  15078
동두천시   5351
고양시   29219
구리시    6978
남양주시  20009
파주시   14532
양주시    7939
포천시    8132
연천군    3499
가평군    4515

In [87]:
data4_1_2=data4_1_2.reset_index()

In [92]:
data4_1_2.rename(columns = {'index' : '지역'}, inplace = True)

In [93]:
data4_1_2

      지역  독거노인수
0    수원시  34656
1    성남시  29045
2    안양시  14204
3    부천시  22791
4    광명시   9263
5    평택시  15716
6    안산시  17146
7    과천시   1511
8    오산시   4323
9    시흥시  11022
10   군포시   7366
11   의왕시   3761
12   하남시   8719
13   용인시  21967
14   이천시   6865
15   안성시   7925
16   김포시  10441
17   화성시  13842
18   광주시   9260
19   여주시   5923
20   양평군   7781
21  의정부시  15078
22  동두천시   5351
23   고양시  29219
24   구리시   6978
25  남양주시  20009
26   파주시  14532
27   양주시   7939
28   포천시   8132
29   연천군   3499
30   가평군   4515

In [95]:
data_to.rename(columns = {'시군별(2)' : '지역'}, inplace = True)

In [96]:
data_to

       지역        데이터
1     수원시  1242212.0
18    성남시   972280.0
35    안양시   584239.0
52    부천시   868106.0
69    광명시   333114.0
86    평택시   518672.0
103   안산시   717130.0
120   과천시    58325.0
137   오산시   229520.0
154   시흥시   483327.0
171   군포시   283876.0
188   의왕시   155084.0
205   하남시   256760.0
222   용인시  1053522.0
239   이천시   221585.0
256   안성시   194954.0
273   김포시   443019.0
290   화성시   798100.0
307   광주시   376819.0
324   여주시   115074.0
341   양평군   117670.0
358  의정부시   451542.0
375  동두천시    99566.0
392   고양시  1056853.0
409   구리시   204977.0
426  남양주시   688965.0
443   파주시   463122.0
460   양주시   224250.0
477   포천시   163474.0
494   연천군    45606.0
511   가평군    63936.0

In [98]:
data_to.rename(columns = {'데이터' : '총인구수'}, inplace = True)

In [99]:
data_to

       지역       총인구수
1     수원시  1242212.0
18    성남시   972280.0
35    안양시   584239.0
52    부천시   868106.0
69    광명시   333114.0
86    평택시   518672.0
103   안산시   717130.0
120   과천시    58325.0
137   오산시   229520.0
154   시흥시   483327.0
171   군포시   283876.0
188   의왕시   155084.0
205   하남시   256760.0
222   용인시  1053522.0
239   이천시   221585.0
256   안성시   194954.0
273   김포시   443019.0
290   화성시   798100.0
307   광주시   376819.0
324   여주시   115074.0
341   양평군   117670.0
358  의정부시   451542.0
375  동두천시    99566.0
392   고양시  1056853.0
409   구리시   204977.0
426  남양주시   688965.0
443   파주시   463122.0
460   양주시   224250.0
477   포천시   163474.0
494   연천군    45606.0
511   가평군    63936.0

In [ ]:
data_65up

In [104]:
df = pd.merge(pd.merge(data4_1_2, data_to, on='지역'), data_65up, on='지역')

In [106]:
df['독거노인/노인'] = df['독거노인수'] / df['65세이상인구수']
df['노인/전체'] = df['65세이상인구수'] / df['총인구수']

In [111]:
df.to_csv('anal4.csv')

In [102]:
data_65up.columns = ['지역', '65세이상인구수']

In [15]:
data4_1['독거노인별(1)'].unique()

array(['합계', '국민기초생활보장 수급권자', '저소득노인', '일반'], dtype=object)

필요한 지표 ????

1)지역별 독거노인의 총 수 <찬웅>
2)지역 인구 내 65세 이상 인구의 비율 <민진 님>
3)지역별 65세 이상 인구 중 독거노인의 비율 <찬웅>
4)전체 구급 출동 요청에서 65세 이상 노인이 차지하는 비중 <택관 님>

In [56]:
data_e=pd.read_csv('시별_연령별_인구.csv')

In [57]:
data_e

     Unnamed: 0    시점 시군별(1) 시군별(2)       인구현황별(1) 인구현황별(2)        데이터
0          2278  2018     남부    수원시       세대수 (세대)       소계   492939.0
1          2279  2018     남부    수원시       등록인구 (명)       소계  1242212.0
2          2280  2018     남부    수원시       등록인구 (명)       남자   627004.0
3          2281  2018     남부    수원시       등록인구 (명)       여자   615208.0
4          2282  2018     남부    수원시        한국인 (명)       소계  1201166.0
..          ...   ...    ...    ...            ...      ...        ...
522        2817  2018     북부    가평군  65세이상 고령자 (명)      한국인    14802.0
523        2818  2018     북부    가평군  65세이상 고령자 (명)      외국인       35.0
524        2819  2018     북부    가평군       평균연령 (세)       소계       48.1
525        2820  2018     북부    가평군     인구밀도 (명/㎢)       소계       76.0
526        2821  2018     북부    가평군     인구밀도면적 (㎢)       소계      843.3

[527 rows x 7 columns]

In [60]:
data_e['시군별(2)'].unique()

array(['수원시', '성남시', '안양시', '부천시', '광명시', '평택시', '안산시', '과천시', '오산시',
       '시흥시', '군포시', '의왕시', '하남시', '용인시', '이천시', '안성시', '김포시', '화성시',
       '광주시', '여주시', '양평군', '의정부시', '동두천시', '고양시', '구리시', '남양주시', '파주시',
       '양주시', '포천시', '연천군', '가평군'], dtype=object)

In [61]:
data_e['인구현황별(1)'].unique()

array(['세대수 (세대)', '등록인구 (명)', '한국인 (명)', '외국인 (명)', '세대당 인구 (명)',
       '65세이상 고령자 (명)', '평균연령 (세)', '인구밀도 (명/㎢)', '인구밀도면적 (㎢)'],
      dtype=object)

In [63]:
data_kye=data_e[data_e['인구현황별(2)']=='소계']

In [65]:
data_kye # 소계만 모아놓은 데이터셋

     Unnamed: 0    시점 시군별(1) 시군별(2)       인구현황별(1) 인구현황별(2)         데이터
0          2278  2018     남부    수원시       세대수 (세대)       소계   492939.00
1          2279  2018     남부    수원시       등록인구 (명)       소계  1242212.00
4          2282  2018     남부    수원시        한국인 (명)       소계  1201166.00
7          2285  2018     남부    수원시        외국인 (명)       소계    41046.00
10         2288  2018     남부    수원시     세대당 인구 (명)       소계        2.44
..          ...   ...    ...    ...            ...      ...         ...
520        2815  2018     북부    가평군     세대당 인구 (명)       소계        2.07
521        2816  2018     북부    가평군  65세이상 고령자 (명)       소계    14837.00
524        2819  2018     북부    가평군       평균연령 (세)       소계       48.10
525        2820  2018     북부    가평군     인구밀도 (명/㎢)       소계       76.00
526        2821  2018     북부    가평군     인구밀도면적 (㎢)       소계      843.30

[279 rows x 7 columns]

In [77]:
data_to=data_kye[data_kye['인구현황별(1)']=='등록인구 (명)']

In [89]:
data_to

    시군별(2)        데이터
1      수원시  1242212.0
18     성남시   972280.0
35     안양시   584239.0
52     부천시   868106.0
69     광명시   333114.0
86     평택시   518672.0
103    안산시   717130.0
120    과천시    58325.0
137    오산시   229520.0
154    시흥시   483327.0
171    군포시   283876.0
188    의왕시   155084.0
205    하남시   256760.0
222    용인시  1053522.0
239    이천시   221585.0
256    안성시   194954.0
273    김포시   443019.0
290    화성시   798100.0
307    광주시   376819.0
324    여주시   115074.0
341    양평군   117670.0
358   의정부시   451542.0
375   동두천시    99566.0
392    고양시  1056853.0
409    구리시   204977.0
426   남양주시   688965.0
443    파주시   463122.0
460    양주시   224250.0
477    포천시   163474.0
494    연천군    45606.0
511    가평군    63936.0

In [82]:
data_to=data_to[['시군별(2)','데이터']]

In [79]:
data_65up=data_kye[data_kye['인구현황별(1)']=='65세이상 고령자 (명)']

In [80]:
data_65up

     Unnamed: 0    시점 시군별(1) 시군별(2)       인구현황별(1) 인구현황별(2)       데이터
11         2289  2018     남부    수원시  65세이상 고령자 (명)       소계  117844.0
28         2306  2018     남부    성남시  65세이상 고령자 (명)       소계  120370.0
45         2323  2018     남부    안양시  65세이상 고령자 (명)       소계   67827.0
62         2340  2018     남부    부천시  65세이상 고령자 (명)       소계   98097.0
79         2357  2018     남부    광명시  65세이상 고령자 (명)       소계   40002.0
96         2374  2018     남부    평택시  65세이상 고령자 (명)       소계   58837.0
113        2391  2018     남부    안산시  65세이상 고령자 (명)       소계   63275.0
130        2408  2018     남부    과천시  65세이상 고령자 (명)       소계    7774.0
147        2425  2018     남부    오산시  65세이상 고령자 (명)       소계   18690.0
164        2442  2018     남부    시흥시  65세이상 고령자 (명)       소계   37781.0
181        2459  2018     남부    군포시  65세이상 고령자 (명)       소계   31814.0
198        2476  2018     남부    의왕시  65세이상 고령자 (명)       소계   19166.0
215        2493  2018     남부    하남시  65세이상 고령자 (명)       소계   30344.0
232        2510  2018     남부    용인시  65세이상 고령자 (명)       소계  125266.0
249        2527  2018     남부    이천시  65세이상 고령자 (명)       소계   28038.0
266        2544  2018     남부    안성시  65세이상 고령자 (명)       소계   29385.0
283        2561  2018     남부    김포시  65세이상 고령자 (명)       소계   48668.0
300        2578  2018     남부    화성시  65세이상 고령자 (명)       소계   63705.0
317        2595  2018     남부    광주시  65세이상 고령자 (명)       소계   42937.0
334        2612  2018     남부    여주시  65세이상 고령자 (명)       소계   21980.0
351        2629  2018     남부    양평군  65세이상 고령자 (명)       소계   26932.0
368        2663  2018     북부   의정부시  65세이상 고령자 (명)       소계   61525.0
385        2680  2018     북부   동두천시  65세이상 고령자 (명)       소계   17744.0
402        2697  2018     북부    고양시  65세이상 고령자 (명)       소계  126800.0
419        2714  2018     북부    구리시  65세이상 고령자 (명)       소계   23834.0
436        2731  2018     북부   남양주시  65세이상 고령자 (명)       소계   86748.0
453        2748  2018     북부    파주시  65세이상 고령자 (명)       소계   57977.0
470        2765  2018     북부    양주시  65세이상 고령자 (명)       소계   31181.0
487        2782  2018     북부    포천시  65세이상 고령자 (명)       소계   26370.0
504        2799  2018     북부    연천군  65세이상 고령자 (명)       소계   10623.0
521        2816  2018     북부    가평군  65세이상 고령자 (명)       소계   14837.0

In [83]:
data_65up = data_65up [['시군별(2)','데이터']]

In [84]:
data_65up

    시군별(2)       데이터
11     수원시  117844.0
28     성남시  120370.0
45     안양시   67827.0
62     부천시   98097.0
79     광명시   40002.0
96     평택시   58837.0
113    안산시   63275.0
130    과천시    7774.0
147    오산시   18690.0
164    시흥시   37781.0
181    군포시   31814.0
198    의왕시   19166.0
215    하남시   30344.0
232    용인시  125266.0
249    이천시   28038.0
266    안성시   29385.0
283    김포시   48668.0
300    화성시   63705.0
317    광주시   42937.0
334    여주시   21980.0
351    양평군   26932.0
368   의정부시   61525.0
385   동두천시   17744.0
402    고양시  126800.0
419    구리시   23834.0
436   남양주시   86748.0
453    파주시   57977.0
470    양주시   31181.0
487    포천시   26370.0
504    연천군   10623.0
521    가평군   14837.0

-----------------

*데이터 설명 및 활용방안

>>data4와 5는 같은파일

2018년만 뽑아내서 data4_1로 저장

연령별로 65~79 / 80세이상

-----------------

### Data (사망원인별_사망_시군별)

In [ ]:
data5=pd.read_csv('data/사망원인별_사망_시군별__20221122094512.csv')

In [ ]:
data5

In [ ]:
data5_1=data5[data5['시점']==2018]

In [ ]:
data5_1

In [ ]:
data5_1['사망원인별(1)'].unique()

In [ ]:
data5_1['시군별(2)'].unique()

In [ ]:
data5_1['성별(1)'].unique()

-----------------

*데이터 설명 및 활용방안

>> 2018년만 뽑아내서 data5_1로 저장

사망원인별 분류에서 어떤 사망원인이 구급 출동건수와 직관적으로 연결되는지를 판단할 수 없어서 (도메인 지식 부족)

데이터로 쓰기 부적합.

-----------------