### 변수의 자료형

In [1]:
x = 1

In [2]:
x

1

In [3]:
type(x)

int

In [4]:
x = 1.0

In [5]:
x

1.0

In [6]:
type(x)

float

In [7]:
x ='1'

In [8]:
type(x)

str

In [9]:
x =True

In [10]:
x

True

In [11]:
type(x)

bool

In [12]:
x = str(1) # 숫자 1을 문자형으로!

In [13]:
x

'1'

In [1]:
x = '1' # 숫자 1을 문자형으로 갖는 변수 'x'

In [15]:
int(x)

1

In [16]:
x = None  # 아무것도 없다~ null값

In [17]:
x

### 리스트

In [18]:
# 아무것도 없는 빈 리스트를 만드는 두가지 방법 1. 대괄호  2. 함수로 list()

In [19]:
list1 = list()

In [20]:
list1.insert(0, 'A') # insert (a,b)  index(a)의 위치에 b값을 넣는다.

In [21]:
list1

['A']

In [22]:
list1.append('B')

In [23]:
list1

['A', 'B']

In [24]:
list2 = [i for i in range (0, 10)]

In [25]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list2[4]

4

In [27]:
list2[-1]

9

In [28]:
list2[1:5]

[1, 2, 3, 4]

In [29]:
list2[4:-1]

[4, 5, 6, 7, 8]

In [30]:
list2[-1]

9

### 튜플

In [31]:
x = (1,2,3,4) #튜플은 수정 제외하고 다 가능!

### 딕셔너리

In [32]:
dict1= {}

In [33]:
dict1 = dict()

In [34]:
dict1 = {'name' : 'hojin'}

In [35]:
dict1['age'] = 20

In [36]:
dict1[1] = 1

In [37]:
dict1

{'name': 'hojin', 'age': 20, 1: 1}

In [38]:
dict1[(1,2,3)] = 1

In [39]:
dict1

{'name': 'hojin', 'age': 20, 1: 1, (1, 2, 3): 1}

### 조건문 (if, for)

##### if 조건문1 :
       구문 1
      elif 조건문2 :
       구문2
      elif 조건문3 :
       구문3
      else :
       구문4

In [40]:
if False:
    print('Hello')
    
print('World')
# indent 구분 확실히!!

World

In [41]:
num = 4

In [42]:
if num %2  == 0 :
    print('짝수')
else :
    print('홀수')

짝수

##### for 변수 in 반복될 대상 :
        구문

In [43]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [45]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range (2,10) :
    for j in range (1,10) :
        print ( 'i:', i , 'j:', j)

i: 2 j: 1
i: 2 j: 2
i: 2 j: 3
i: 2 j: 4
i: 2 j: 5
i: 2 j: 6
i: 2 j: 7
i: 2 j: 8
i: 2 j: 9
i: 3 j: 1
i: 3 j: 2
i: 3 j: 3
i: 3 j: 4
i: 3 j: 5
i: 3 j: 6
i: 3 j: 7
i: 3 j: 8
i: 3 j: 9
i: 4 j: 1
i: 4 j: 2
i: 4 j: 3
i: 4 j: 4
i: 4 j: 5
i: 4 j: 6
i: 4 j: 7
i: 4 j: 8
i: 4 j: 9
i: 5 j: 1
i: 5 j: 2
i: 5 j: 3
i: 5 j: 4
i: 5 j: 5
i: 5 j: 6
i: 5 j: 7
i: 5 j: 8
i: 5 j: 9
i: 6 j: 1
i: 6 j: 2
i: 6 j: 3
i: 6 j: 4
i: 6 j: 5
i: 6 j: 6
i: 6 j: 7
i: 6 j: 8
i: 6 j: 9
i: 7 j: 1
i: 7 j: 2
i: 7 j: 3
i: 7 j: 4
i: 7 j: 5
i: 7 j: 6
i: 7 j: 7
i: 7 j: 8
i: 7 j: 9
i: 8 j: 1
i: 8 j: 2
i: 8 j: 3
i: 8 j: 4
i: 8 j: 5
i: 8 j: 6
i: 8 j: 7
i: 8 j: 8
i: 8 j: 9
i: 9 j: 1
i: 9 j: 2
i: 9 j: 3
i: 9 j: 4
i: 9 j: 5
i: 9 j: 6
i: 9 j: 7
i: 9 j: 8
i: 9 j: 9

### 함수

##### def func1() :
        구문1
        return

매개변수와 return의 존재 유무에 따른 함수의 종류 4가지 !! 기억할것

In [48]:
def fun5(*args) :
    return args       
#계산기

In [49]:
def calc(oper , *args) :
    if oper == '+' :
        ret= 0
        for i in args :
            ret += i
    return ret

In [50]:
calc ('+' , 1, 2)

3

In [2]:
def fun6(**kwargs) :
    print(kwargs.keys())
    for key in kwargs.keys():
        print(key, kwargs[key])
    return kwargs

In [3]:
fun6(name = 'hojin' , age = 20)

dict_keys(['name', 'age'])
name hojin
age 20

{'name': 'hojin', 'age': 20}

### 프린트 함수 배우기

In [53]:
print('문자열', sep=' ', end='\n') # sep ; 자동 띄어쓰기, end ; 끝맺음 방법
                                    #'\n' : 줄 바꿈

문자열

In [54]:
print('Hello', 'World')
print('Hi', 'Python')

Hello World
Hi Python

In [55]:
print('Hello', 'World', sep = '|')

Hello|World

#### 프린트 함수의 다른 유형

##### print('{0},{1}'.format(value1, vaue2))

In [56]:
print ('This is {}. That is {}'.format('apple','banana'))

This is apple. That is banana

In [57]:
print ('This is {1}. That is {0}'.format('apple','banana')) #숫자를 기입하여 순서를 바꿀 수도 있다.

This is banana. That is apple

In [58]:
a = 'apple'
b = 'banana'

In [61]:
print('This is {}. That is {}'.format(a,b)) # format안에 변수를 넣는 것도 가능!

This is apple. That is banana

In [4]:
print('This is {fruit1}. That is {fruit2}'.format(fruit1 = 'apple' , fruit2 = 'banana')) # 함수에서 매개변수 값 주는 것과 유사

This is apple. That is banana

In [64]:
print('This is {:0.3f}'.format(123.45678)) #0.3f 는 소수점 세자리까지 표기

This is 123.457

In [65]:
print('This is {0:0.10f}'.format(123.45678)) #0.3f 는 소수점 세자리까지 표기 #float

This is 123.4567800000

In [66]:
print('This is {:03d}'.format(12)) #03d 는 세자리를 채워라~ #d는 정수

This is 012

In [67]:
print('This is {0:03d}'.format(1234))

This is 1234

##### 포맷팅
- %s : 문자열
- %d : 정수
- %f : 실수

- %o : 8진수
- %x : 16진수

In [5]:
print(f'This is %s'  %'apple')

This is apple

In [6]:
print(f'This is %s. That is %s'    %('apple','banana'))

This is apple. That is banana

In [71]:
print(f'The value is %d' %1)

The value is 1

In [73]:
print(f'The value is %05d' %1) # 5자리로 만들어라!

The value is 00001

In [10]:
for i in range (2,10):           #구구단 반복문의 출력값을 깔끔하게!
    for j in range (1,10):
        print (f'%d * %d = %2d'%(i,j,i*j))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [77]:
print(f'The value is %.3f'%123.456789)

The value is 123.457

- 2진수 : 0, 1
- 8진수 : 0 ~ 7
- 10진수 : 0 ~ 9
- 16진수 : 0 ~ 9 , a ~ f

2진수  : 0 1 10 11 100 101 110 111
10진수 : 0 1 2  3  4   5   6   7

8진수 :  0 1 2 3 4 5 6 7 10 11 12 13 14 15 16 17 20
10진수 : 0 1 2 3 4 5 6 7 8  9  10 11 12 13 14 15 16 17 18 
16진수 : 0 1 2 3 4 5 6 7 8  9  a  b  c  d  e  f  10

In [78]:
for i in range(10) :
    print (f'The value is %o'%i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 10
The value is 11

홈페이지 색작업 시, 색상분류가 16진수로 이루어져 있기 떄문에, 16진수 자주 활용.

In [80]:
for i in range(18) :
    print(f'The value is %x'%i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is a
The value is b
The value is c
The value is d
The value is e
The value is f
The value is 10
The value is 11

In [83]:
print(f'%0.1f%%'%90) # %표현하고자 할 때 %%로!

90.0%