# 6. Real Pipeline

In [211]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [212]:
water = pd.read_csv('drinking_water_potability.csv')

In [213]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.57822,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.86938,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.17706,7.509306,NaN,327.459761,16.140368,78.698446,2.309149,1

In [139]:
water.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

null(median) => standardscaler=> svc / train, test 0.25

### 1. null값 median으로 채우기!

In [98]:
water['ph'].fillna(water['ph'].median(), inplace=True)

In [99]:
water['ph'].median()

7.036752104

In [100]:
water['ph'].isnull().sum()

0

In [101]:
water['Sulfate'].fillna(water['Sulfate'].median(), inplace=True)

In [102]:
water['Trihalomethanes'].fillna(water['Trihalomethanes'].median(), inplace=True)

In [103]:
water.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

### 1-1) null값 채우는 dict와 함수만들기

In [113]:
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

In [116]:
for col in water.columns :
    #print(col)
    #np.where(water[col]==np.nan, 'col의 median값', water[col])
    print(col , water[col].median())

ph 7.036752104
Hardness 196.9676269
Solids 20927.833605
Chloramines 7.1302989740000005
Sulfate 333.0735457
Conductivity 421.88496825000004
Organic_carbon 14.218337935000001
Trihalomethanes 66.6224851
Turbidity 3.955027563
Potability 0.0

In [118]:
col_dict={}
for col in water.columns :
    col_dict[col] =  water[col].median()

In [119]:
col_dict

{'ph': 7.036752104,
 'Hardness': 196.9676269,
 'Solids': 20927.833605,
 'Chloramines': 7.1302989740000005,
 'Sulfate': 333.0735457,
 'Conductivity': 421.88496825000004,
 'Organic_carbon': 14.218337935000001,
 'Trihalomethanes': 66.6224851,
 'Turbidity': 3.955027563,
 'Potability': 0.0}

In [134]:
def fill_null(x) :
    for col in col_dict :
        x[col] = x.fillna(col_dict[col], inplace=True)
    x.drop('Potability', axis =1, inplace=True)
    return x

In [135]:
fill_null(water)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
1,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
2,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
3,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
4,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
...,...,...,...,...,...,...,...,...,...
3271,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
3272,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
3273,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
3274,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0
3275,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.0

In [131]:
water.isnull().sum()

ph                    0
Hardness              0
Solids                0
Chloramines           0
Sulfate               0
Conductivity          0
Organic_carbon        0
Trihalomethanes       0
Turbidity             0
Potability         3276
dtype: int64

### 2. standardscaler 적용하기!

In [59]:
scaler = StandardScaler() # 값의 차이를 scale 해서 정규화시킴.

In [60]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.036752,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,333.073546,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,333.073546,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.80216,8.061362,333.073546,392.449580,19.903225,66.622485,2.798243,1
3273,9.419510,175.762646,33155.57822,7.350233,333.073546,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.86938,6.303357,333.073546,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.17706,7.509306,333.073546,327.459761,16.140368,78.698446,2.309149,1

In [61]:
X= water.drop('Potability', axis=1)

In [62]:
Y =water['Potability']

In [63]:
model=SVC()

In [64]:
model.fit(x_train,y_train)

SVC()

In [65]:
model.score(x_train,y_train)

0.6088726088726089

In [66]:
model.score(x_test, y_test)

0.6117216117216118

In [67]:
scaler_x = scaler.fit_transform(X)

In [69]:
x_train, x_test, y_train, y_test = train_test_split(scaler_x,Y,test_size=0.25, random_state=0)

In [78]:
pipeline = make_pipeline(StandardScaler(), SVC())

### 3. SVC모델 적용

In [70]:
model=SVC()

In [71]:
model.fit(x_train,y_train)

SVC()

In [72]:
model.score(x_train,y_train)

0.7362637362637363

In [73]:
model.score(x_test, y_test)

0.6715506715506715

In [110]:
trans_func = FunctionTransformer(fill_null)

In [111]:
pipeline3 = make_pipeline(StandardScaler(), trans_func, SVC())

In [123]:
pipeline3.fit(x_train, y_train)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [75]:
real_water = [None, 2.04890456e+02, 2.07913190e+04, 7.30021187e+00,
        3.68516441e+02, 5.64308654e+02, 1.03797831e+01, 8.69909705e+01,
        2.96313538e+00]

----------

해설!!

In [214]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [215]:
water = pd.read_csv('drinking_water_potability.csv')

In [216]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.57822,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.86938,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.17706,7.509306,NaN,327.459761,16.140368,78.698446,2.309149,1

In [217]:
water.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [218]:
water['ph'].fillna(water['ph'].median(), inplace=True)

In [219]:
water['Sulfate'].fillna(water['Sulfate'].median(), inplace=True)

In [220]:
water['Trihalomethanes'].fillna(water['Trihalomethanes'].median(), inplace=True)

In [221]:
water.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [222]:
water[['ph','Sulfate','Trihalomethanes']].median()

ph                   7.036752
Sulfate            333.073546
Trihalomethanes     66.622485
dtype: float64

In [236]:
def median_func(data) :
    col_list=['ph','Sulfate','Trihalomethanes']
    for col in col_list : 
        if col =='ph' :
            data[col].fillna( 7.036752, inplace=True)
        elif col == 'Sulfate' :
            data[col].fillna(333.073546, inplace=True)
        elif col == 'Trihalomethanes' :
            data[col].fillna(66.622485, inplace=True)
            
    return data        #fillna 하는 함수

In [224]:
water.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [225]:
medianfunc = FunctionTransformer(median_func)

In [226]:
pipeline = make_pipeline(medianfunc, StandardScaler(), SVC() )

In [227]:
X = water.drop('Potability', axis=1)
Y = water['Potability']

In [228]:
X

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,7.036752,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135
1,3.716080,129.422921,18630.05786,6.635246,333.073546,592.885359,15.180013,56.329076,4.500656
2,8.099124,224.236259,19909.54173,9.275884,333.073546,418.606213,16.868637,66.420093,3.055934
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821
3272,7.808856,193.553212,17329.80216,8.061362,333.073546,392.449580,19.903225,66.622485,2.798243
3273,9.419510,175.762646,33155.57822,7.350233,333.073546,432.044783,11.039070,69.845400,3.298875
3274,5.126763,230.603758,11983.86938,6.303357,333.073546,402.883113,11.168946,77.488213,4.708658
3275,7.874671,195.102299,17404.17706,7.509306,333.073546,327.459761,16.140368,78.698446,2.309149

In [229]:
x_train, x_test, y_train, y_test =train_test_split(X,Y,test_size=0.25, random_state=0)

In [230]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('functiontransformer',
                 FunctionTransformer(func=<function median_func at 0x00000246EA44B4C0>)),
                ('standardscaler', StandardScaler()), ('svc', SVC())])

In [231]:
pipeline.score(x_train, y_train)

0.7358567358567358

리얼 시스템을 만드려면 pipeline을 저장해서 옮겨야함!
리얼은 한줄 데이터가 들어옴.
실제 데이터 측정을 위해
1.데이터프레임이 필요함 !!! 어떤항목이 null인지 확인을 위해
2.median 전처리 하기위한 뭔가가 필요

In [232]:
from joblib import dump

In [233]:
dump(pipeline, 'water_model.joblib')

['water_model.joblib']

In [234]:
import waterlib as wlib
from joblib import load

In [237]:
ph = input('ph를 입력해주세요')

ph를 입력해주세요 2

In [241]:
Hardness = input('Hardness를 입력해주세요')

Hardness를 입력해주세요 2

In [238]:
ph

'2'

In [242]:
Hardness

'2'

In [246]:
columns = ['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity']

In [251]:
real_water = [[None, 2.04890456e+02, 2.07913190e+04, 7.30021187e+00,
        3.68516441e+02, 5.64308654e+02, 1.03797831e+01, 8.69909705e+01,
        2.96313538e+00]]

In [255]:
real_df = pd.DataFrame(real_water, columns = columns)

In [256]:
real_df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,None,204.890456,20791.319,7.300212,368.516441,564.308654,10.379783,86.990971,2.963135

In [257]:
from joblib import load

In [260]:
pipeline = load('water_model.joblib')

In [262]:
from waterlib import median_func

In [263]:
median_func

import waterlib as wlib
median_func = wlib.median_func()

In [266]:
ret=pipeline.predict(real_df)

In [267]:
if ret[0] ==0 :
    print('Do not Drink!!')
else : 
    print('You can Drink!')

Do not Drink!!