xls xlsx #엑셀 확장자는 엑셀에서만 열 수 있음.

csv #csv는 모든 프로그램에서 다 열 수 있음.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR-Employee-Attrition (1).csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [5]:
df.shape #행열 확인 (1470개의 data, 35개의 column)

(1470, 35)

In [6]:
df.isnull().sum() #null값 검사

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df['Gender'].unique() #Gender의 종속값이 두개 밖에 없다는 사실 확인!

array(['Female', 'Male'], dtype=object)

In [8]:
df['Gender'].value_counts() #대략의 종속값 별 갯수 확인

Male      882
Female    588
Name: Gender, dtype: int64

In [9]:
gender_mapping = {'Female':0, 'Male':1}

In [10]:
df['Gender2'] = df['Gender'].map(gender_mapping)

In [11]:
df['Gender2']

0       0
1       1
2       1
3       0
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender2, Length: 1470, dtype: int64

In [12]:
df['Gender2'].value_counts()

1    882
0    588
Name: Gender2, dtype: int64

In [13]:
df['Gender2']

0       0
1       1
2       1
3       0
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender2, Length: 1470, dtype: int64

In [14]:
df['BusinessTravel']

0           Travel_Rarely
1       Travel_Frequently
2           Travel_Rarely
3       Travel_Frequently
4           Travel_Rarely
              ...
1465    Travel_Frequently
1466        Travel_Rarely
1467        Travel_Rarely
1468    Travel_Frequently
1469        Travel_Rarely
Name: BusinessTravel, Length: 1470, dtype: object

In [15]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [16]:
for i in enumerate(df['BusinessTravel'].unique()) :
    print (i)

(0, 'Travel_Rarely')
(1, 'Travel_Frequently')
(2, 'Non-Travel')

In [17]:
bt_mapping= {}

In [18]:
for i in enumerate(['a','b','c','d']) :
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [19]:
for i,j in enumerate(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel']) :
    print (j)
    bt_mapping[j] = i
print(bt_mapping)

#enumerate j 가 key i 가 value

Travel_Rarely
Travel_Frequently
Non-Travel
{'Travel_Rarely': 0, 'Travel_Frequently': 1, 'Non-Travel': 2}

In [20]:
for value, key in enumerate(df['BusinessTravel'].unique()) :
    bt_mapping[key] = value

In [21]:
bt_mapping

{'Travel_Rarely': 0, 'Travel_Frequently': 1, 'Non-Travel': 2}

In [22]:
df['BusinessTravel2'] = df['BusinessTravel'].map(bt_mapping)

In [23]:
df['BusinessTravel2'].value_counts()

0    1043
1     277
2     150
Name: BusinessTravel2, dtype: int64

In [24]:
numColumns = df.select_dtypes(['object']).columns

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
 35  Gender2                   1470 non-null   int64
 36  BusinessTravel2           1470 non-null   int64
dtypes: int64(28), object(9)
memory usage: 425.0+ KB

In [26]:
intcolumns = df.select_dtypes('int64').columns

In [27]:
intcolumns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Gender2',
       'BusinessTravel2'],
      dtype='object')

In [28]:
X = df[intcolumns]

In [29]:
X

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Gender2,BusinessTravel2
0,41,1102,1,2,1,1,2,94,3,2,...,0,8,0,1,6,4,0,5,0,0
1,49,279,8,1,1,2,3,61,2,2,...,1,10,3,3,10,7,1,7,1,1
2,37,1373,2,2,1,4,4,92,2,1,...,0,7,3,3,0,0,0,0,1,0
3,33,1392,3,4,1,5,4,56,3,1,...,0,8,3,3,8,7,3,0,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,6,3,3,2,2,2,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,1,17,3,3,5,2,0,3,1,1
1466,39,613,6,1,1,2062,4,42,2,3,...,1,9,5,3,7,7,1,7,1,0
1467,27,155,4,3,1,2064,2,87,4,2,...,1,6,0,3,6,2,0,3,1,0
1468,49,1023,2,3,1,2065,4,63,2,2,...,0,17,3,2,9,6,0,8,1,1
1469,34,628,8,3,1,2068,2,82,4,2,...,0,6,3,4,4,3,1,2,1,0

In [30]:
att_map = {}
for value, key in enumerate(df['Attrition'].unique()):
    att_map[key] = value

In [31]:
df['Attrition'] = df['Attrition'].map(att_map)

In [32]:
Y = df['Attrition']

In [33]:
print (X.shape, Y.shape)

(1470, 28) (1470,)

In [34]:
X.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Gender2',
       'BusinessTravel2'],
      dtype='object')

In [35]:
Y

0       0
1       1
2       0
3       1
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Attrition, Length: 1470, dtype: int64

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_scorep
from sklearn.model_selection import train_test_split  #맨 위 두개는 모델만들때
#세번째는 정확도 테스트 # 마지막은 트레인테스트

ImportError: cannot import name 'accuracy_scorep' from 'sklearn.metrics' (C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [ ]:
train_input, test_input, train_output, test_output = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state = 0)

In [ ]:
print(train_input.shape)
print(train_output.shape)
print(test_input.shape)
print(test_output.shape)

In [ ]:
classifier1 = DecisionTreeClassifier()
classifier2 = RandomForestClassifier()

In [ ]:
classifier1.fit(train_input, train_output)

In [ ]:
predict_train = classifier1.predict(train_input)

In [ ]:
train_input

In [ ]:
predict_train

In [ ]:
accuracy_score(predict_train, train_output) * 100

In [ ]:
predict_test =classifier1.predict(test_input)

In [37]:
accuracy_score(predict_test, test_output) * 100

NameError: name 'accuracy_score' is not defined

In [38]:
classifier2.fit(train_input, train_output)

NameError: name 'classifier2' is not defined

In [39]:
predict_train2 = classifier2.predict(train_input)

NameError: name 'classifier2' is not defined

In [ ]:
predict_train2

In [40]:
accuracy_score(predict_train2, train_output) * 100

NameError: name 'accuracy_score' is not defined

In [ ]:
predict_test2 =classifier2.predict(test_input)

In [41]:
accuracy_score(predict_test2, test_output) * 100

NameError: name 'accuracy_score' is not defined