In [1]:
import pandas as pd

In [3]:
loan=pd.read_csv('loan.csv')

In [ ]:
loan.columns

null값 처리의 여러가지방법 1번 dropna로 다날리기

In [ ]:
loan = loan.dropna() #null값있는 항목 전부제외

In [ ]:
loan.shape #데이터가 100개 넘게 날라감. 데이터손실 큼!!

In [ ]:
loan.info()

In [ ]:
obj_col =[]
for i, j in zip(loan.dtypes.index, loan.dtypes.values):
    if j == 'object' :
        obj_col.append(i)
        #object인 애들만 뽑아내기

In [ ]:
obj_col

Loan_ID는 의미가 없기 때문에 나중에 !!지우자!!

In [ ]:
for col in obj_col[1:] : 
    print(loan[col].unique())
    #Loan_ID를 제외한 나머지변수들의 고유항목들 보기!

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label1 = LabelEncoder()

In [ ]:
for col in obj_col[1:] :
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])

In [ ]:
X = loan.drop(['Loan_ID','Loan_Status'], axis=1)
Y = loan['Loan_Status']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=0)

In [ ]:
model = SVC()

In [ ]:
model.fit(x_train, y_train)

In [ ]:
model.score(x_train,y_train)

In [ ]:
model.score(x_test,y_test)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
x_train = scaler.fit_transform(x_train)

In [ ]:
x_test = scaler.transform(x_test)

In [ ]:
model2 =SVC()

In [ ]:
model2.fit(x_train, y_train)

In [ ]:
model2.score(x_train,y_train)

In [ ]:
model2.score(x_test,y_test)

--------------------------

위에는 걍 빈모델로 해본거 !! 다시 정석으로 하기

In [4]:
loan=pd.read_csv('loan.csv')

In [5]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

 null이 있는 컬럼들

-Gender               13
-Married               3
-Dependents           15
-Self_Employed        32
-LoanAmount           22
-Loan_Amount_Term     14
-Credit_History       50

1) Gender의 결측치 처리!

In [6]:
loan['Gender'].value_counts(dropna=False) #null값 까지 표시하기 위해 dropna=False

Male      489
Female    112
NaN        13
Name: Gender, dtype: int64

In [7]:
loan['Gender'].mode() #최빈값!!

0    Male
Name: Gender, dtype: object

In [8]:
male=loan['Gender'].value_counts(dropna=False)[0]
female=loan['Gender'].value_counts(dropna=False)[1]
na=loan['Gender'].value_counts(dropna=False)[2]

In [9]:
print('Male의 비율 : %.2f'%(male / len(loan) *100))
print('Female의 비율 : %.2f'%(female / len(loan) *100))
print('Null의 비율 : %.2f'%(na / len(loan) *100))

Male의 비율 : 79.64
Female의 비율 : 18.24
Null의 비율 : 2.12

In [10]:
loan['Gender'].fillna(loan['Gender'].mode()[0], inplace=True)

In [11]:
loan['Gender'].isnull().sum()

0

2) Married 항목 결측치 처리

In [12]:
loan['Married'].value_counts(dropna=False)

Yes    398
No     213
NaN      3
Name: Married, dtype: int64

In [13]:
loan['Married'].fillna(loan['Married'].mode()[0], inplace=True)

In [14]:
loan['Married'].isnull().sum()

0

In [15]:
null_col = ['Gender','Married','Dependents','Self_Employed'] #4가지 항목은 최빈값으로 결측치 처리!

In [16]:
for col in null_col :
    #print(loan[col].value_counts(dropna=False))
    loan[col].fillna(loan[col].mode()[0], inplace=True)

In [17]:
loan.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
loan['LoanAmount'].describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [19]:
loan['LoanAmount'].median()

128.0

In [20]:
loan['Self_Employed'].value_counts()

No     532
Yes     82
Name: Self_Employed, dtype: int64

In [22]:
loan.groupby('Self_Employed')['LoanAmount'].median()

Self_Employed
No     125.0
Yes    150.0
Name: LoanAmount, dtype: float64

In [23]:
loan[loan['LoanAmount'].isnull()]['Self_Employed'].value_counts()

No     19
Yes     3
Name: Self_Employed, dtype: int64

In [24]:
loan['LoanAmount'].fillna(loan['LoanAmount'].median(), inplace=True) # LoanAmount의 결측치 처리 중위수로!

In [25]:
loan['LoanAmount'].isnull().sum()

0

In [26]:
loan['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [27]:
loan.groupby('Loan_Amount_Term')['LoanAmount'].median()

Loan_Amount_Term
12.0     111.0
36.0     117.5
60.0     140.0
84.0     126.0
120.0     25.0
180.0    127.0
240.0    114.0
300.0    124.0
360.0    128.0
480.0    113.0
Name: LoanAmount, dtype: float64

In [28]:
loan['Loan_Amount_Term'].fillna(loan['Loan_Amount_Term'].mode()[0], inplace=True) # LoanAmountterm의 결측치 처리 최빈값로!

In [29]:
loan['Credit_History'].value_counts(dropna=False)

1.0    475
0.0     89
NaN     50
Name: Credit_History, dtype: int64

In [30]:
loan.groupby('Credit_History')['LoanAmount'].median()

Credit_History
0.0    127.0
1.0    128.0
Name: LoanAmount, dtype: float64

In [31]:
loan['Credit_History'].fillna(loan['Credit_History'].mode()[0], inplace=True) # LoanAmountterm의 결측치 처리 최빈값로!

In [32]:
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [33]:
from sklearn.preprocessing import LabelEncoder

In [37]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [38]:
label = LabelEncoder()

In [47]:
for col in obj_col :
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])

In [48]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [49]:
X = loan.drop(['Loan_ID','Loan_Status'], axis=1)
Y = loan['Loan_Status']

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [51]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=1)

In [52]:
model = SVC()

In [53]:
model.fit(x_train, y_train)

SVC()

In [54]:
model.score(x_train,y_train)

0.6924643584521385

In [55]:
model.score(x_test,y_test)

0.6910569105691057

In [56]:
from sklearn.preprocessing import MinMaxScaler

In [57]:
scaler = MinMaxScaler()

In [58]:
x_train = scaler.fit_transform(x_train)

In [59]:
x_test = scaler.transform(x_test)

In [60]:
model2 =SVC()

In [61]:
model2.fit(x_train, y_train)

SVC()

In [62]:
model2.score(x_train,y_train)

0.8044806517311609

In [63]:
model2.score(x_test,y_test)

0.8373983739837398

In [64]:
import pickle

In [66]:
with open('loan_model.pkl', 'wb') as f :
    pickle.dump(model, f)

 * auto sklearn에 대해 알아보기~

In [ ]:
loan['LoanAmount'].value_counts()