In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
real3 = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [3]:
real3 = np.asarray(real3).reshape(1,-1)

In [4]:
df=pd.DataFrame(real3, columns =['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [5]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,None,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [6]:
with open('null_dict.pkl', 'rb') as f :
    null_dict= pickle.load(f)  #열기

In [7]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [8]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    df[col].fillna(null_dict[col], inplace=True)

In [9]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [43]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df[col] = label.transform(df[col])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [12]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [20]:
with open('loan_model.pkl', 'rb') as f :
    model= pickle.load(f)

In [21]:
model

SVC()

In [26]:
X = df.drop(['Loan_ID'], axis=1, inplace=True)

In [27]:
predict = model.predict(df)

In [29]:
predict

array(['Y'], dtype=object)

In [32]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [34]:
real = np.asarray(real).reshape(1,-1)

In [35]:
df1=pd.DataFrame(real, columns =['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [36]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [37]:
model

SVC()

In [45]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df1[col] = label.transform(df1[col])

In [49]:
X = df1.drop(['Loan_ID'], axis=1, inplace=True)

KeyError: "['Loan_ID'] not found in axis"

In [47]:
predict = model.predict(df1)

In [48]:
predict

array(['Y'], dtype=object)

In [30]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [50]:
real2 = np.asarray(real2).reshape(1,-1)

In [51]:
df2 = pd.DataFrame(real2, columns = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [52]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [53]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df2[col] = label.transform(df2[col])

In [54]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [55]:
X = df2.drop(['Loan_ID'], axis=1, inplace=True)

In [56]:
predict = model.predict(df2)

In [57]:
predict

array(['Y'], dtype=object)

In [ ]:
s