# Python Comprehension
- List
- Set
- Dict

## List Comprehension

## [ 출력표현식 for 요소 in 입력 Sequence [if 조건식] ]

구구단 2단의 결과를 넣은 리스트를 만들어보시오

In [9]:
dan =[]
i= 2
for j in range (1, 10) :
    print(i,j, i*j)
    dan.append(i*j)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

In [10]:
dan

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
[2*i for i in range(1,10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

[Quiz] List Comprehension을 이용해서 1~10까지 제곱 출력하기
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
[i **2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
[i%2==0 for i in range(1,21)]

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [20]:
ret =[]
for i in range(1, 21) :
    if i%2 ==0:
        ret.append(i)

In [21]:
ret

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
[i for i in range(1, 21) if i%2 ==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## [Quiz] List Comprehension을 이용하여 oldlist에서 숫자를 제곱해서 newlist를 만들어라
## new list =[1,4,9]

In [26]:
oldlist = [1, 2, 'A', False, 3]

In [37]:
newlist=[i**2 for i in (oldlist) if type(i)==int]

In [35]:
newlist

[1, 4, 9]

# Set Comprehension

In [38]:
oldlist = [1,1,2,3,3,4]

In [39]:
{i*i for i in oldlist}

{1, 4, 9, 16}

# Dictionary Comprehension

## {Key:Value for 요소 in  입력 Sequence [if 조건식]}

In [40]:
id_name = {1: '남성현', 2: '고상현', 3: '윤승현'}

이름이 key고 value가 숫자

In [41]:
id_name.items()

dict_items([(1, '남성현'), (2, '고상현'), (3, '윤승현')])

In [66]:
name_id = {}
for key, value in id_name.items() :
    name_id[value] = key

In [143]:
name_id

{'남성현': 1, '고상현': 2, '윤승현': 3}

In [106]:
{value : key for key, value in id_name.items()}

{'남성현': 1, '고상현': 2, '윤승현': 3}

In [105]:
id_name.keys()

dict_keys([1, 2, 3])

In [103]:
newdict={}
for i, j in zip(id_name.keys() , id_name.values()) :
   # print ((j,i))
    newdict[j]= i

In [145]:
newdict

{'남성현': 1, '고상현': 2, '윤승현': 3}

Value가 2인 사람만 출력

In [136]:
[key for key, value in name_id.items() if value ==2][0]

'고상현'

In [121]:
name_id.items()

dict_items([('남성현', 1), ('고상현', 2), ('윤승현', 3)])

1부터 10까지 홀수를 key로 하고 value를 key의 제곱으로 하는 dict만들기

In [141]:
{key : (key**2) for key in range(11) if key%2==1}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

## Partial

- 매개 변수가 1개인 함수에 여러 매개 변수를 전달해야 할 때 많이 사용

In [164]:
def double(x) :
    return x ** 2

def triple(x) : 
    return x ** 3

def multiple(x,y,z) : 
    return x** y +z

In [165]:
print(double(2))
print(triple(2))

4
8

매개변수를 여러개 넣고 싶을때,

In [166]:
from functools import partial

In [167]:
dbl = partial(multiple, y=2, z=1)
tpl = partial(multiple, y=3, z=2)

In [169]:
print(dbl(3))
print(tpl(3))

10
29