In [44]:
import pandas as pd
from sklearn.svm import SVC

In [45]:
data = pd.read_csv('diabetes.csv')

1> 자료 살펴보기

In [ ]:
data.head()

In [46]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
data.info()

1-1>변수명 파악

num columns descriptions
1 Pregnancies 임신 횟수
2 Glucose 포도당 부하 검사 수치
3 BloodPressure 혈압(mm Hg)
4 SkinThickness 팔 삼두근 뒤쪽의 피하지방 측정값(mm)
5 Insulin 혈청 인슐린(mu U/ml)
6 BMI 체질량지수 (체중(kg) / 키(m)^2)
7 DiabetesPedigreeFunction 당뇨 내력 가중치 값
8 Age 나이
9 Outcome 당뇨 여부

In [47]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [50]:
len(data[data['Pregnancies']>=1].value_counts())

657

In [51]:
data['Pregnancies'].value_counts()  # 0 // 1 // 2 // 34 // 56 // 789 // 10+

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [53]:
data['BloodPressure'].value_counts().sort_index()

0      35
24      1
30      2
38      1
40      1
44      4
46      2
48      5
50     13
52     11
54     11
55      2
56     12
58     21
60     37
61      1
62     34
64     43
65      7
66     30
68     45
70     57
72     44
74     52
75      8
76     39
78     45
80     40
82     30
84     23
85      6
86     21
88     25
90     22
92      8
94      6
95      1
96      4
98      3
100     3
102     1
104     2
106     3
108     2
110     3
114     1
122     1
Name: BloodPressure, dtype: int64

In [18]:
import pandas as pd
from sklearn.svm import SVC
import numpy as np

In [19]:
data = pd.read_csv('diabetes.csv')

In [20]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    #print(col, len(data[data[col] ==0]))
    data[col]=np.where((data[col]==0) , np.nan, data[col])
    #1-1>>data의 0값들을 null값 처리!

In [21]:
def ageRange(age) : 
    if 21 <= age < 30 :
        return 1
    elif 30 <= age < 40 :
        return 2
    elif 40 <= age < 50 :
        return 3
    elif 50 <= age < 60 :
        return 4
    elif 60 <= age < 70 :
        return 5
    else :
        return 6

In [22]:
data['Age2'] = data['Age'].apply(ageRange) #Age를 구간별로 나눈 새로운 변수 Age2를 만듬

In [36]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148.0,72.0,35.0,192.0,33.6,0.627,50,1,4
1,1,85.0,66.0,29.0,140.0,26.6,0.351,31,0,2
2,8,183.0,64.0,32.0,140.0,23.3,0.672,32,1,2
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,122.0,70.0,27.0,105.0,36.8,0.340,27,0,1
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,2
766,1,126.0,60.0,31.0,131.0,30.1,0.349,47,1,3
767,1,93.0,70.0,31.0,105.0,30.4,0.315,23,0,1

In [37]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    data[col].fillna(data.groupby('Age2')[col].transform('median'), inplace=True)

In [38]:
model=SVC(kernel = 'linear',C=5, gamma=0.0001)     #모델을 변화시켜서 정확도 변화 확인!!

In [39]:
x= data.drop('Outcome', axis=1)

In [40]:
y = data['Outcome']

In [41]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [42]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0, stratify=y)

In [43]:
model.fit(x_train, y_train)

SVC(C=5, gamma=0.0001, kernel='linear')

In [44]:
model.score(x_train, y_train)

0.7719869706840391

In [45]:
model.score(x_test, y_test)

0.7597402597402597

In [46]:
final_data=[]
for c in range(1,5) : 
    for i in range(1, 10) : 
        gamma = 0.0001 * i
        model = SVC(C=c, gamma=gamma)
        model.fit(x_train,y_train)
        ret1 = model.score(x_train, y_train)
        ret2 = model.score(x_test, y_test)
        temp=[]
        temp.append(c)
        temp.append(gamma)
        temp.append(ret1)
        temp.append(ret2)
        final_data.append(temp)
        #SVC 모델에 최적의 C , gamma값 찾기~

In [47]:
df = pd.DataFrame(final_data, columns = ['C','gamma','train','test'])

In [48]:
df.sort_values(by=['test','train'], ascending= False)

    C   gamma     train      test
27  4  0.0001  0.781759  0.798701
18  3  0.0001  0.773616  0.798701
31  4  0.0005  0.835505  0.792208
30  4  0.0004  0.828990  0.792208
29  4  0.0003  0.809446  0.792208
11  2  0.0003  0.794788  0.792208
19  3  0.0002  0.789902  0.792208
2   1  0.0003  0.781759  0.792208
10  2  0.0002  0.778502  0.792208
1   1  0.0002  0.773616  0.792208
35  4  0.0009  0.866450  0.785714
7   1  0.0008  0.817590  0.785714
6   1  0.0007  0.811075  0.785714
5   1  0.0006  0.806189  0.785714
12  2  0.0004  0.806189  0.785714
20  3  0.0003  0.804560  0.785714
28  4  0.0002  0.793160  0.785714
3   1  0.0004  0.786645  0.785714
9   2  0.0001  0.767101  0.785714
34  4  0.0008  0.863192  0.779221
25  3  0.0008  0.856678  0.779221
33  4  0.0007  0.851792  0.779221
32  4  0.0006  0.850163  0.779221
24  3  0.0007  0.848534  0.779221
23  3  0.0006  0.842020  0.779221
15  2  0.0007  0.840391  0.779221
22  3  0.0005  0.833876  0.779221
14  2  0.0006  0.828990  0.779221
21  3  0.0004  0.822476  0.779221
8   1  0.0009  0.819218  0.779221
4   1  0.0005  0.801303  0.779221
26  3  0.0009  0.863192  0.772727
16  2  0.0008  0.845277  0.772727
13  2  0.0005  0.817590  0.772727
17  2  0.0009  0.853420  0.766234
0   1  0.0001  0.768730  0.766234

In [50]:
model=SVC(kernel = 'linear',C=4, gamma=0.0001) #최적의 모델 선정!!

혈청 인슐린 값에 이상치가 있음을 확인 (mean 과 50%(median)의 차이가 큼)

1-2>인슐린

인슐린 수치가 0인 값들을 다 제외시키고 data1로 다시검정

In [ ]:
data['Insulin'].value_counts()

In [ ]:
data1 = data[data['Insulin'] != 0]

In [ ]:
data.drop_duplicates()

In [ ]:
data[data['Pregnancies'] == 0][['Pregnancies']].replace(0, data['Pregnancies'].median(), inplace=True)

In [ ]:
data['Pregnancies']=np.where((data['Pregnancies']==0) , data['Pregnancies'].median(), data['Pregnancies'])

In [ ]:
data

In [ ]:
data['Pregnancies'].median()

In [ ]:
data.columns

In [ ]:
data['Outcome'].value_counts()

In [ ]:
data['Outcome'].unique()

------------------------

상관계수 살펴보기

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
corr = data.corr().round(2)

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(corr, annot=True)

-------------------------------------

2>모델 검정

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [ ]:
model = SVC()

In [ ]:
x = data1.drop(['Outcome'], axis=1)

In [ ]:
y = data1['Outcome']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split

In [ ]:
model.fit(x_train, y_train)

In [ ]:
pre_train = model.predict(x_train)

In [ ]:
mean_absolute_error(pre_train, y_train)

In [ ]:
model.score(x_train, y_train)

In [ ]:
model.score(x_test, y_test)

--------------------------

해설

1.자료 살펴보기

1)임신여부별 당뇨여부

In [ ]:
data.columns

In [ ]:
data[data['Pregnancies'] ==0]

In [ ]:
data['Pregnancies2'] = np.where(data['Pregnancies'] ==0, 0 , 1)

In [ ]:
data

In [ ]:
data.groupby(['Pregnancies2','Outcome'])['Age'].count()

임신여부가 Outcome에 큰 의미는 없는것 같다~

2)연령별 당뇨여부

In [ ]:
data.groupby('Outcome')['Age','BMI'].median()

유의미한 차이라 보기엔 어려움

3) 변수들의 이상치를 null값 처리
이 데이터에선 0값들 (말이 안됨)을 null값으로 바꾼 후
Age구간을 나눠 각각의 Age구간의 median으로 대체하려함.

In [ ]:
data

In [ ]:
data1=data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [ ]:
data1.isnull().sum()

-----------------------

풀이

In [3]:
import numpy as np

data[col]=np.where((data[col]==0) , data[col].median(), data[col])
0값을 각각의 median 값으로 처리
but 이거보다 더 세분화된 null값 처리 요구!!

In [4]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    #print(col, len(data[data[col] ==0]))
    data[col]=np.where((data[col]==0) , np.nan, data[col])
    #값이 0인 변수들의 null값 처리

In [5]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [6]:
data.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [7]:
data['Age'].describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64

In [9]:
def ageRange(age) : 
    if 21 <= age < 30 :
        return 1
    elif 30 <= age < 40 :
        return 2
    elif 40 <= age < 50 :
        return 3
    elif 50 <= age < 60 :
        return 4
    elif 60 <= age < 70 :
        return 5
    else :
        return 6
    
    #Age구간 설정 함수 ageRange

In [10]:
data['Age2'] = data['Age'].apply(ageRange) #Age를 구간별로 나눈 새로운 변수 Age2

In [11]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,4
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,2
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,2
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0,1
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,2
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1,3
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0,1

In [14]:
data.groupby('Age2')['Insulin'].median()
#새로 나눈 나이그룹별 인슐린 수치의 평균
#그룹간 평균수치가 상이하게 다름. <<중위수가 더 적절>>

Age2
1    105.0
2    140.0
3    131.0
4    192.0
5    258.0
6     60.0
Name: Insulin, dtype: float64

In [17]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    data[col].fillna(data.groupby('Age2')[col].transform('median'), inplace=True)

In [18]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148.0,72.0,35.0,192.0,33.6,0.627,50,1,4
1,1,85.0,66.0,29.0,140.0,26.6,0.351,31,0,2
2,8,183.0,64.0,32.0,140.0,23.3,0.672,32,1,2
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,122.0,70.0,27.0,105.0,36.8,0.340,27,0,1
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,2
766,1,126.0,60.0,31.0,131.0,30.1,0.349,47,1,3
767,1,93.0,70.0,31.0,105.0,30.4,0.315,23,0,1

In [19]:
data.isnull().sum() #null값을 다 채웠음을 확인

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
Age2                        0
dtype: int64

In [20]:
model=SVC(kernel = 'linear',C=5, gamma=0.0001)     #모델을 변화시켜서 정확도 변화 확인!!

In [21]:
x= data.drop('Outcome', axis=1)

In [22]:
y = data['Outcome']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0, stratify=y)

In [25]:
model.fit(x_train, y_train)

SVC(C=5, gamma=0.0001, kernel='linear')

In [26]:
model.score(x_train, y_train)

0.7719869706840391

In [27]:
model.score(x_test, y_test)

0.7597402597402597

In [28]:
data=[]
for c in range(1,5) : 
    for i in range(1, 10) : 
        gamma = 0.0001 * i
        model = SVC(C=c, gamma=gamma)
        model.fit(x_train,y_train)
        ret1 = model.score(x_train, y_train)
        ret2 = model.score(x_test, y_test)
        temp=[]
        temp.append(c)
        temp.append(gamma)
        temp.append(ret1)
        temp.append(ret2)
        data.append(temp)

In [29]:
df = pd.DataFrame(data, columns = ['C','gamma','train','test'])

In [32]:
df.sort_values(by=['test','train'], ascending= False)

    C   gamma     train      test
27  4  0.0001  0.781759  0.798701
18  3  0.0001  0.773616  0.798701
31  4  0.0005  0.835505  0.792208
30  4  0.0004  0.828990  0.792208
29  4  0.0003  0.809446  0.792208
11  2  0.0003  0.794788  0.792208
19  3  0.0002  0.789902  0.792208
2   1  0.0003  0.781759  0.792208
10  2  0.0002  0.778502  0.792208
1   1  0.0002  0.773616  0.792208
35  4  0.0009  0.866450  0.785714
7   1  0.0008  0.817590  0.785714
6   1  0.0007  0.811075  0.785714
5   1  0.0006  0.806189  0.785714
12  2  0.0004  0.806189  0.785714
20  3  0.0003  0.804560  0.785714
28  4  0.0002  0.793160  0.785714
3   1  0.0004  0.786645  0.785714
9   2  0.0001  0.767101  0.785714
34  4  0.0008  0.863192  0.779221
25  3  0.0008  0.856678  0.779221
33  4  0.0007  0.851792  0.779221
32  4  0.0006  0.850163  0.779221
24  3  0.0007  0.848534  0.779221
23  3  0.0006  0.842020  0.779221
15  2  0.0007  0.840391  0.779221
22  3  0.0005  0.833876  0.779221
14  2  0.0006  0.828990  0.779221
21  3  0.0004  0.822476  0.779221
8   1  0.0009  0.819218  0.779221
4   1  0.0005  0.801303  0.779221
26  3  0.0009  0.863192  0.772727
16  2  0.0008  0.845277  0.772727
13  2  0.0005  0.817590  0.772727
17  2  0.0009  0.853420  0.766234
0   1  0.0001  0.768730  0.766234

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
import warnings
warnings.filterwarnings('ignore')

In [38]:
model2 = LogisticRegression()
model3 = LogisticRegressionCV()

In [39]:
d = [(x_train, y_train), (x_test, y_test)]

In [40]:
def trainModel(model, d):
    for i, x in enumerate(d) : 
        if(i==0) :
            model.fit(x[0],x[1])
            print('train', model.score(x[0], x[1]))
        else :
            print('test', model.score(x[0], x[1]))

In [41]:
trainModel(model , d)

train 0.8664495114006515
test 0.7857142857142857

In [42]:
trainModel(model2, d)

train 0.749185667752443
test 0.7662337662337663

In [43]:
trainModel(model3, d)

train 0.7687296416938111
test 0.7662337662337663

In [ ]:
#실제 데이터에 적용해보자!

In [ ]:
real =data.iloc[100].values

In [ ]:
real

In [ ]:
# 전처리부터 해야함!!

1. 전처리를 통해서 모델을 하나 만든다.
2. 전처리 결과와 모델을 저장한다.
3. real 데이터를 예측한다.

In [ ]:
import pandas as pd
from sklearn.svm import SVC
import numpy as np

In [ ]:
data = pd.read_csv('diabetes.csv')

In [ ]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    #print(col, len(data[data[col] ==0]))
    data[col]=np.where((data[col]==0) , np.nan, data[col])
    #1-1>>data의 0값들을 null값 처리!

In [ ]:
def ageRange(age) : 
    if 21 <= age < 30 :
        return 1
    elif 30 <= age < 40 :
        return 2
    elif 40 <= age < 50 :
        return 3
    elif 50 <= age < 60 :
        return 4
    elif 60 <= age < 70 :
        return 5
    else :
        return 6

In [ ]:
data['Age2'] = data['Age'].apply(ageRange) #Age를 구간별로 나눈 새로운 변수 Age2를 만듬

In [ ]:
data

In [ ]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    data[col].fillna(data.groupby('Age2')[col].transform('median'), inplace=True)

In [ ]:
model=SVC(kernel = 'linear',C=5, gamma=0.0001)     #모델을 변화시켜서 정확도 변화 확인!!

In [ ]:
x= data.drop('Outcome', axis=1)

In [ ]:
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0, stratify=y)

In [ ]:
model.fit(x_train, y_train)

In [ ]:
model.score(x_train, y_train)

In [ ]:
model.score(x_test, y_test)

In [ ]:
final_data=[]
for c in range(1,5) : 
    for i in range(1, 10) : 
        gamma = 0.0001 * i
        model = SVC(C=c, gamma=gamma)
        model.fit(x_train,y_train)
        ret1 = model.score(x_train, y_train)
        ret2 = model.score(x_test, y_test)
        temp=[]
        temp.append(c)
        temp.append(gamma)
        temp.append(ret1)
        temp.append(ret2)
        final_data.append(temp)
        #SVC 모델에 최적의 C , gamma값 찾기~

In [ ]:
df = pd.DataFrame(final_data, columns = ['C','gamma','train','test'])

In [ ]:
df.sort_values(by=['test','train'], ascending= False)

In [ ]:
model=SVC(kernel = 'linear',C=4, gamma=0.0001) #최적의 모델 선정!!

In [ ]:
import pickle

In [ ]:
with open('model.pkl', 'wb') as f :
    pickle.dump(model, f)