## 데이터 전처리

1) 이상치 삭제하기 (item_price, item_cnt_day가 0보다 작은 값 삭제)
2) 년(year),월(month),일(day) date를 분리하기
3) 수입(income), 연월(y_d), 월일(m_d) 데이터 만들기

전체데이터 2928492개
칼럼 11개
(date, shop_id, item_id, item_price, item_cnt_day, income,
day, month, year, y_m, m_d)

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('sales.csv')

1-1. 이상치 삭제하기 (item_price)

In [3]:
#행 삭제
sales[sales['item_price'] <0]

              date  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013       32     2973        -1.0           1.0

In [4]:
sales1=sales.drop(sales[sales['item_price'] <0].index)

1-2. 이상치 삭제하기 (item_cnt_day)

In [5]:
sales1[sales1['item_cnt_day'] <= 0]

               date  shop_id  item_id  item_price  item_cnt_day
2        05.01.2013       25     2552       899.0          -1.0
148      23.01.2013       25     2321       999.0          -1.0
175      07.01.2013       25     2199      1449.0          -1.0
807      02.01.2013       25     2330       599.0          -1.0
1041     13.01.2013       25     5034      1989.0          -1.0
...             ...      ...      ...         ...           ...
2934243  26.10.2015       25     3917       449.0          -1.0
2934462  18.10.2015       25     4896      6398.0          -1.0
2935263  05.10.2015       25    10039       249.0          -1.0
2935643  16.10.2015       25     7893      2990.0          -1.0
2935779  07.10.2015       25     7087       999.0          -1.0

[7356 rows x 5 columns]

In [6]:
sales2=sales1.drop(sales1[sales1['item_cnt_day'] <=0].index)

In [7]:
sales2

               date  shop_id  item_id  item_price  item_cnt_day
0        02.01.2013       59    22154      999.00           1.0
1        03.01.2013       25     2552      899.00           1.0
3        06.01.2013       25     2554     1709.05           1.0
4        15.01.2013       25     2555     1099.00           1.0
5        10.01.2013       25     2564      349.00           1.0
...             ...      ...      ...         ...           ...
2935844  10.10.2015       25     7409      299.00           1.0
2935845  09.10.2015       25     7460      299.00           1.0
2935846  14.10.2015       25     7459      349.00           1.0
2935847  22.10.2015       25     7440      299.00           1.0
2935848  03.10.2015       25     7460      299.00           1.0

[2928492 rows x 5 columns]

2. 년(year),월(month),일(day) date를 분리하기

sales.iloc[0]['date'].split('.')

type(sales.iloc[0]['date'].split('.'))

sales.count()


i=0
for i in range(sales.count()):
    sales['day'][i] = sales.iloc[i]['date'].split('.')[0]
    sales['month'][i] = sales.iloc[i]['date'].split('.')[1]
    year['year'][i] = sales.iloc[i]['date'].split('.')[2]
    i+=1

sales1['date']

str(sales1['date']).split('.')[0]

sales1['day']= str(sales1['date']).split('.')

str(sales1['date']).split('.')

정규표현식으로 해보기

sales['date'].str.extract('([a-zA-Z]+),')

sales['day'] = sales['date'].str.extract('([0-9]+)[.]')
sales['month'] = sales['date'].str.extract('[.]([0-9]+)[.]')
sales['year'] = sales['date'].str.extract('[.][0-9]+[.]([0-9]+)')

3) 수입(income), 연월(y_d), 월일(m_d) 데이터 만들기

In [14]:
sales2['income'] = sales2['item_price'] * sales2['item_cnt_day']

In [15]:
sales2['income']

0           999.00
1           899.00
3          1709.05
4          1099.00
5           349.00
            ...
2935844     299.00
2935845     299.00
2935846     349.00
2935847     299.00
2935848     299.00
Name: income, Length: 2928492, dtype: float64

In [16]:
sales2['date'].head(1)

0    02.01.2013
Name: date, dtype: object

In [17]:
pd.to_datetime(sales2['date'], format = '%d.%m.%Y')

0         2013-01-02
1         2013-01-03
3         2013-01-06
4         2013-01-15
5         2013-01-10
             ...
2935844   2015-10-10
2935845   2015-10-09
2935846   2015-10-14
2935847   2015-10-22
2935848   2015-10-03
Name: date, Length: 2928492, dtype: datetime64[ns]

In [18]:
sales2[['day','month','year']] = sales2['date'].str.split('.', expand = True)

In [19]:
sales2.head(1)

,date,shop_id,item_id,item_price,item_cnt_day,income,day,month,year
0,02.01.2013,59,22154,999.0,1.0,999.0,02,01,2013

In [22]:
sales2['y_m'] = sales2['year'] + ',' + sales2['month']

In [23]:
sales2['m_d'] = sales2['month'] + ',' + sales2['day']

In [24]:
sales2.head(1)

,date,shop_id,item_id,item_price,item_cnt_day,income,day,month,year,y_m,m_d
0,02.01.2013,59,22154,999.0,1.0,999.0,02,01,2013,"2013,01","01,02"

In [27]:
sales=sales2

In [28]:
sales['year'].value_counts()

2013    1264490
2014    1053211
2015     610791
Name: year, dtype: int64

In [30]:
sales['month'].value_counts().sort_index()

01    302546
02    269471
03    283349
04    227740
05    224378
06    236914
07    234324
08    247835
09    219304
10    226493
11    182728
12    273410
Name: month, dtype: int64

In [31]:
sales['day'].value_counts()

02    103081
07    102064
23    101117
22    101105
08    100718
21    100004
28     99576
27     98743
03     98725
06     97808
30     97209
20     96777
26     95907
05     95158
19     94716
04     94192
01     94182
25     93228
24     93113
16     92631
15     92399
17     92205
12     92099
14     91841
09     91775
13     90780
29     90709
18     90389
10     89838
11     88964
31     67439
Name: day, dtype: int64

In [32]:
sales['y_m'].unique()

array(['2013,01', '2013,02', '2013,03', '2013,04', '2013,05', '2013,06',
       '2013,07', '2013,08', '2013,09', '2013,10', '2013,11', '2013,12',
       '2014,01', '2014,02', '2014,03', '2014,04', '2014,05', '2014,06',
       '2014,07', '2014,08', '2014,09', '2014,10', '2014,11', '2014,12',
       '2015,01', '2015,02', '2015,03', '2015,04', '2015,05', '2015,06',
       '2015,07', '2015,08', '2015,09', '2015,10'], dtype=object)

In [34]:
sales['y_m'].value_counts().sort_index()[:3]

2013,01    115338
2013,02    108326
2013,03    121053
Name: y_m, dtype: int64

In [42]:
ym_mapping={}
for value, key in enumerate(sales['y_m'].unique()):
    ym_mapping[key] = value+1
    #print(value, key)

In [43]:
ym_mapping

{'2013,01': 1,
 '2013,02': 2,
 '2013,03': 3,
 '2013,04': 4,
 '2013,05': 5,
 '2013,06': 6,
 '2013,07': 7,
 '2013,08': 8,
 '2013,09': 9,
 '2013,10': 10,
 '2013,11': 11,
 '2013,12': 12,
 '2014,01': 13,
 '2014,02': 14,
 '2014,03': 15,
 '2014,04': 16,
 '2014,05': 17,
 '2014,06': 18,
 '2014,07': 19,
 '2014,08': 20,
 '2014,09': 21,
 '2014,10': 22,
 '2014,11': 23,
 '2014,12': 24,
 '2015,01': 25,
 '2015,02': 26,
 '2015,03': 27,
 '2015,04': 28,
 '2015,05': 29,
 '2015,06': 30,
 '2015,07': 31,
 '2015,08': 32,
 '2015,09': 33,
 '2015,10': 34}

In [45]:
ym_mapping= { key : value+1 for value, key in enumerate (sales['y_m'].unique())}

In [46]:
ym_mapping

{'2013,01': 1,
 '2013,02': 2,
 '2013,03': 3,
 '2013,04': 4,
 '2013,05': 5,
 '2013,06': 6,
 '2013,07': 7,
 '2013,08': 8,
 '2013,09': 9,
 '2013,10': 10,
 '2013,11': 11,
 '2013,12': 12,
 '2014,01': 13,
 '2014,02': 14,
 '2014,03': 15,
 '2014,04': 16,
 '2014,05': 17,
 '2014,06': 18,
 '2014,07': 19,
 '2014,08': 20,
 '2014,09': 21,
 '2014,10': 22,
 '2014,11': 23,
 '2014,12': 24,
 '2015,01': 25,
 '2015,02': 26,
 '2015,03': 27,
 '2015,04': 28,
 '2015,05': 29,
 '2015,06': 30,
 '2015,07': 31,
 '2015,08': 32,
 '2015,09': 33,
 '2015,10': 34}

In [47]:
sales['y_m2'] = sales['y_m'].map(ym_mapping)

In [48]:
sales['y_m2'].value_counts().sort_index()[:3]

1    115338
2    108326
3    121053
Name: y_m2, dtype: int64

In [67]:
md_mapping= { key : value+1 for value, key in enumerate (sales['m_d'].unique())}

In [80]:
md_mapping #md_mapping 이 정렬이 안되어있다!!

{'01,02': 1,
 '01,03': 2,
 '01,06': 3,
 '01,15': 4,
 '01,10': 5,
 '01,04': 6,
 '01,11': 7,
 '01,05': 8,
 '01,07': 9,
 '01,08': 10,
 '01,13': 11,
 '01,16': 12,
 '01,26': 13,
 '01,27': 14,
 '01,09': 15,
 '01,29': 16,
 '01,12': 17,
 '01,23': 18,
 '01,25': 19,
 '01,30': 20,
 '01,19': 21,
 '01,20': 22,
 '01,24': 23,
 '01,21': 24,
 '01,22': 25,
 '01,28': 26,
 '01,14': 27,
 '01,31': 28,
 '01,17': 29,
 '01,18': 30,
 '01,01': 31,
 '02,21': 32,
 '02,14': 33,
 '02,13': 34,
 '02,24': 35,
 '02,07': 36,
 '02,02': 37,
 '02,23': 38,
 '02,09': 39,
 '02,16': 40,
 '02,15': 41,
 '02,10': 42,
 '02,20': 43,
 '02,11': 44,
 '02,22': 45,
 '02,27': 46,
 '02,05': 47,
 '02,06': 48,
 '02,04': 49,
 '02,08': 50,
 '02,19': 51,
 '02,17': 52,
 '02,18': 53,
 '02,26': 54,
 '02,12': 55,
 '02,25': 56,
 '02,28': 57,
 '02,03': 58,
 '02,01': 59,
 '03,03': 60,
 '03,06': 61,
 '03,02': 62,
 '03,17': 63,
 '03,24': 64,
 '03,10': 65,
 '03,04': 66,
 '03,26': 67,
 '03,25': 68,
 '03,15': 69,
 '03,07': 70,
 '03,01': 71,
 '03,05': 72,
 '03,31': 73,
 '03,08': 74,
 '03,29': 75,
 '03,21': 76,
 '03,16': 77,
 '03,27': 78,
 '03,30': 79,
 '03,23': 80,
 '03,22': 81,
 '03,09': 82,
 '03,19': 83,
 '03,28': 84,
 '03,18': 85,
 '03,20': 86,
 '03,14': 87,
 '03,13': 88,
 '03,11': 89,
 '03,12': 90,
 '04,16': 91,
 '04,27': 92,
 '04,29': 93,
 '04,28': 94,
 '04,06': 95,
 '04,20': 96,
 '04,03': 97,
 '04,04': 98,
 '04,10': 99,
 '04,01': 100,
 '04,22': 101,
 '04,14': 102,
 '04,02': 103,
 '04,05': 104,
 '04,07': 105,
 '04,08': 106,
 '04,24': 107,
 '04,13': 108,
 '04,30': 109,
 '04,11': 110,
 '04,25': 111,
 '04,19': 112,
 '04,23': 113,
 '04,21': 114,
 '04,17': 115,
 '04,18': 116,
 '04,26': 117,
 '04,12': 118,
 '04,15': 119,
 '04,09': 120,
 '05,10': 121,
 '05,17': 122,
 '05,04': 123,
 '05,03': 124,
 '05,22': 125,
 '05,18': 126,
 '05,11': 127,
 '05,02': 128,
 '05,20': 129,
 '05,12': 130,
 '05,19': 131,
 '05,26': 132,
 '05,09': 133,
 '05,13': 134,
 '05,05': 135,
 '05,25': 136,
 '05,01': 137,
 '05,23': 138,
 '05,08': 139,
 '05,06': 140,
 '05,24': 141,
 '05,16': 142,
 '05,14': 143,
 '05,07': 144,
 '05,21': 145,
 '05,15': 146,
 '05,28': 147,
 '05,27': 148,
 '05,31': 149,
 '05,30': 150,
 '05,29': 151,
 '06,16': 152,
 '06,14': 153,
 '06,06': 154,
 '06,15': 155,
 '06,13': 156,
 '06,23': 157,
 '06,27': 158,
 '06,28': 159,
 '06,12': 160,
 '06,18': 161,
 '06,01': 162,
 '06,09': 163,
 '06,10': 164,
 '06,25': 165,
 '06,08': 166,
 '06,03': 167,
 '06,29': 168,
 '06,02': 169,
 '06,04': 170,
 '06,11': 171,
 '06,21': 172,
 '06,19': 173,
 '06,20': 174,
 '06,07': 175,
 '06,05': 176,
 '06,30': 177,
 '06,24': 178,
 '06,26': 179,
 '06,22': 180,
 '06,17': 181,
 '07,22': 182,
 '07,27': 183,
 '07,28': 184,
 '07,01': 185,
 '07,25': 186,
 '07,13': 187,
 '07,21': 188,
 '07,07': 189,
 '07,10': 190,
 '07,26': 191,
 '07,29': 192,
 '07,08': 193,
 '07,05': 194,
 '07,23': 195,
 '07,14': 196,
 '07,02': 197,
 '07,20': 198,
 '07,30': 199,
 '07,17': 200,
 '07,11': 201,
 '07,15': 202,
 '07,18': 203,
 '07,19': 204,
 '07,24': 205,
 '07,31': 206,
 '07,06': 207,
 '07,12': 208,
 '07,04': 209,
 '07,09': 210,
 '07,03': 211,
 '07,16': 212,
 '08,25': 213,
 '08,16': 214,
 '08,22': 215,
 '08,10': 216,
 '08,01': 217,
 '08,11': 218,
 '08,05': 219,
 '08,07': 220,
 '08,09': 221,
 '08,31': 222,
 '08,28': 223,
 '08,30': 224,
 '08,19': 225,
 '08,21': 226,
 '08,18': 227,
 '08,24': 228,
 '08,20': 229,
 '08,27': 230,
 '08,04': 231,
 '08,03': 232,
 '08,12': 233,
 '08,29': 234,
 '08,23': 235,
 '08,14': 236,
 '08,13': 237,
 '08,02': 238,
 '08,26': 239,
 '08,15': 240,
 '08,17': 241,
 '08,08': 242,
 '08,06': 243,
 '09,22': 244,
 '09,30': 245,
 '09,06': 246,
 '09,21': 247,
 '09,14': 248,
 '09,12': 249,
 '09,16': 250,
 '09,02': 251,
 '09,19': 252,
 '09,11': 253,
 '09,03': 254,
 '09,20': 255,
 '09,17': 256,
 '09,15': 257,
 '09,08': 258,
 '09,07': 259,
 '09,13': 260,
 '09,24': 261,
 '09,25': 262,
 '09,27': 263,
 '09,09': 264,
 '09,18': 265,
 '09,05': 266,
 '09,26': 267,
 '09,29': 268,
 '09,28': 269,
 '09,10': 270,
 '09,23': 271,
 '09,01': 272,
 '09,04': 273,
 '10,12': 274,
 '10,29': 275,
 '10,27': 276,
 '10,26': 277,
 '10,25': 278,
 '10,09': 279,
 '10,16': 280,
 '10,15': 281,
 '10,14': 282,
 '10,06': 283,
 '10,11': 284,
 '10,18': 285,
 '10,08': 286,
 '10,05': 287,
 '10,17': 288,
 '10,01': 289,
 '10,07': 290,
 '10,28': 291,
 '10,23': 292,
 '10,21': 293,
 '10,03': 294,
 '10,13': 295,
 '10,10': 296,
 '10,31': 297,
 '10,30': 298,
 '10,22': 299,
 '10,19': 300,
 '10,04': 301,
 '10,20': 302,
 '10,02': 303,
 '10,24': 304,
 '11,06': 305,
 '11,16': 306,
 '11,14': 307,
 '11,22': 308,
 '11,30': 309,
 '11,10': 310,
 '11,07': 311,
 '11,04': 312,
 '11,02': 313,
 '11,23': 314,
 '11,01': 315,
 '11,17': 316,
 '11,03': 317,
 '11,09': 318,
 '11,29': 319,
 '11,20': 320,
 '11,24': 321,
 '11,11': 322,
 '11,15': 323,
 '11,18': 324,
 '11,25': 325,
 '11,13': 326,
 '11,21': 327,
 '11,08': 328,
 '11,05': 329,
 '11,12': 330,
 '11,28': 331,
 '11,26': 332,
 '11,19': 333,
 '11,27': 334,
 '12,04': 335,
 '12,15': 336,
 '12,22': 337,
 '12,31': 338,
 '12,18': 339,
 '12,06': 340,
 '12,03': 341,
 '12,28': 342,
 '12,26': 343,
 '12,19': 344,
 '12,11': 345,
 '12,08': 346,
 '12,09': 347,
 '12,17': 348,
 '12,16': 349,
 '12,14': 350,
 '12,13': 351,
 '12,21': 352,
 '12,12': 353,
 '12,10': 354,
 '12,29': 355,
 '12,30': 356,
 '12,25': 357,
 '12,24': 358,
 '12,07': 359,
 '12,27': 360,
 '12,05': 361,
 '12,01': 362,
 '12,20': 363,
 '12,02': 364,
 '12,23': 365}

In [81]:
md = sales['m_d'].unique()

In [79]:
type(md)

numpy.ndarray

In [82]:
md.sort()

In [83]:
md

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365], dtype=int64)

In [74]:
sales['m_d2'] = sales['m_d'].map(md_mapping)

In [75]:
sales['m_d2'].value_counts().sort_index()

1      18584
2      17059
3      13512
4       6901
5       8987
       ...
361     5443
362     5964
363    10653
364     4211
365     7887
Name: m_d2, Length: 365, dtype: int64

In [76]:
sales.drop(columns = ['y_m','m_d'], inplace=True)

In [77]:
sales.rename({'y_m2':'y_m', 'm_d2':'m_d'}, axis=1, inplace=True)

In [78]:
sales.to_csv('sales_pre.csv', index=False)