In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('titanic/train.csv')

In [3]:
test = pd.read_csv('titanic/test.csv')

In [4]:
print(train.shape, test.shape)

(891, 12) (418, 11)

In [5]:
train_test_dataset = [train, test]

In [6]:
for data in train_test_dataset :
    data['Title']= data['Name'].str.extract('([a-zA-Z]+)\.')
    data['Title']= data['Title'].str.lower()
    data['Title']= np.where(data['Title']== 'mr', 0,      
                    np.where(data['Title'] =='miss', 1,
                    np.where(data['Title'] =='mrs', 2, 3)))
    
    data['Age']= data['Age'].fillna(data.groupby('Title')['Age'].transform('median'))
    #수치를 고정 시킬 필요가 있다!!(생각해 볼것 ; 실제 입력값은 한개기 때문에)
    
    data['Age'] = np.where(data['Age'] <= 16, 0,
                             np.where(data['Age'] <= 26, 1,
                                      np.where(data['Age'] <= 36, 2,
                                               np.where(data['Age'] <= 62, 3, 4))))
                
    data['Embarked'].fillna('S', inplace=True)
    data['Embarked']= data['Embarked'].map({'S':0, 'C':1, 'Q':2})
    
    data['Cabin'] = data['Cabin'].str[0]
        
    def Cabin_g(i) :
        if i == 'A' :
            return 0
        elif i == 'B' :
            return 0.4
        elif i == 'C' :
            return 0.8
        elif i == 'D' :
            return 1.2
        elif i == 'E' :
            return 1.6
        elif i == 'F' :
            return 2
        elif i == 'G' :
            return 2.4
        elif i == 'T' :
            return 2.8
        else :
            pass
    data['Cabin'] = data['Cabin'].apply(Cabin_g)
    data['Cabin'].fillna(data.groupby('Pclass')['Cabin'].transform('median'), inplace = True)
    
    data['Sex']=data['Sex'].map({'male':0, 'female':1})
    data['Fare'].fillna(data.groupby('Pclass')['Fare'].transform('median'), inplace=True)
    data['Fare'] = np.where(data['Fare']<= 17, 0,
                   np.where(data['Fare']<= 30, 1,
                   np.where(data['Fare']<= 100, 2, 3)))
    data['FamilySize'] = data['SibSp'] + data['Parch'] +1
    family_mapping = {}
    for value, key in enumerate(range(1, 12)) :
        family_mapping[key] = round(value*0.4, 1) 
    data['FamilySize']= data['FamilySize'].map(family_mapping)

In [7]:
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize
0,892,3,"Kelly, Mr. James",0,2,0,0,330911,0,2.0,2,0,0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,3,1,0,363272,0,2.0,0,2,0.4
2,894,2,"Myles, Mr. Thomas Francis",0,3,0,0,240276,0,2.0,2,0,0.0
3,895,3,"Wirz, Mr. Albert",0,2,0,0,315154,0,2.0,0,0,0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,1,1,1,3101298,0,2.0,0,2,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",0,2,0,0,A.5. 3236,0,2.0,0,0,0.0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,3,0,0,PC 17758,3,0.8,1,3,0.0
415,1307,3,"Saether, Mr. Simon Sivertsen",0,3,0,0,SOTON/O.Q. 3101262,0,2.0,0,0,0.0
416,1308,3,"Ware, Mr. Frederick",0,2,0,0,359309,0,2.0,0,0,0.0
417,1309,3,"Peter, Master. Michael J",0,0,1,1,2668,1,2.0,1,3,0.8

In [8]:
features_drop = ['PassengerId', 'Name', 'Ticket', 'SibSp', 'Parch']

In [9]:
train= train.drop(features_drop, axis=1)

In [10]:
test = test.drop(features_drop, axis=1)

In [11]:
train.head(1)

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         0       3    0    1     0    2.0         0      0         0.4

In [12]:
test.head(1)

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0    2     0    2.0         2      0         0.0

In [13]:
###########

----10월 31일  머신러닝---

In [14]:
###########

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [18]:
train #survived를 제외한 나머지를 input으로 옮기자!!

     Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0           0       3    0    1     0    2.0         0      0         0.4
1           1       1    1    3     2    0.8         1      2         0.4
2           1       3    1    1     0    2.0         0      1         0.0
3           1       1    1    2     2    0.8         0      2         0.4
4           0       3    0    2     0    2.0         0      0         0.0
..        ...     ...  ...  ...   ...    ...       ...    ...         ...
886         0       2    0    2     0    1.8         0      3         0.0
887         1       1    1    1     1    0.4         0      1         0.0
888         0       3    1    1     1    2.0         0      1         1.2
889         1       1    0    1     1    0.8         1      0         0.0
890         0       3    0    2     0    2.0         2      0         0.0

[891 rows x 9 columns]

In [20]:
train.drop('Survived', axis=1) 
#train.drop(columns = 'Survived') 두개가 같다!! 둘다 알아둘 것

     Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         3    0    1     0    2.0         0      0         0.4
1         1    1    3     2    0.8         1      2         0.4
2         3    1    1     0    2.0         0      1         0.0
3         1    1    2     2    0.8         0      2         0.4
4         3    0    2     0    2.0         0      0         0.0
..      ...  ...  ...   ...    ...       ...    ...         ...
886       2    0    2     0    1.8         0      3         0.0
887       1    1    1     1    0.4         0      1         0.0
888       3    1    1     1    2.0         0      1         1.2
889       1    0    1     1    0.8         1      0         0.0
890       3    0    2     0    2.0         2      0         0.0

[891 rows x 8 columns]

In [21]:
inputs = train.drop('Survived', axis=1)

In [24]:
outputs = train['Survived']

In [26]:
print(inputs.shape, outputs.shape)  # ( 891 , 1 ) 이 생략되어있음.
# 891의 표본이 똑같아야한다.

(891, 8) (891,)

In [31]:
outputs.value_counts() # 0 이 죽은 사람, 1이 산사람 (대략 6:4의 비율)

0    549
1    342
Name: Survived, dtype: int64

In [27]:
train_input, test_input, train_output, test_output = \
train_test_split(inputs, outputs, test_size=0.2, stratify=outputs, random_state=10)

In [28]:
print(train_input.shape, train_output.shape)
print(test_input.shape, test_output.shape)

(712, 8) (712,)
(179, 8) (179,)

train_test_split (인풋, 아웃풋, 테스트사이즈 8:2, 
stratify: outputs의 비율을 유지하면서 결과 도출하라 ,
random_state : random state를 고정함으로써 모델의 랜덤값을 똑같이 쓸수있음.다시 실험하더라도 똑같은 결과 도출을 위해 )

In [33]:
train_output.value_counts()

0    439
1    273
Name: Survived, dtype: int64

In [34]:
test_output.value_counts()

0    110
1     69
Name: Survived, dtype: int64

train과 test의 0과 1의 비율이 어느정도 비슷하다!! (stratify 때문에)

train_input, test_input, train_output, test_output 이 순서가 중요하다 외워야함!!

*모델 학습시키기

In [35]:
model1 = LogisticRegression()
model2 = DecisionTreeClassifier()
model3 = RandomForestClassifier()
model4 = GradientBoostingClassifier()
model5 = AdaBoostClassifier()     #함수기 때문에 뒤애 괄호를 반드시!!

In [37]:
model1.fit(train_input, train_output)  #학습 !!

LogisticRegression()

In [38]:
model1.score(train_input, train_output) * 100

82.58426966292134

In [39]:
model1.score(test_input, test_output) * 100   #정확도 확인 1번

79.88826815642457

In [42]:
test_pre = model1.predict(test_input)

In [43]:
test_pre

array([0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [44]:
test_input.iloc[0]

Pclass        3.0
Sex           1.0
Age           0.0
Fare          1.0
Cabin         2.0
Embarked      0.0
Title         1.0
FamilySize    1.6
Name: 24, dtype: float64

In [45]:
test_pre[0]

0

In [47]:
test_output.iloc[0]

0

In [49]:
#하나씩 일일이 확인할 수 없으니 

accuracy_score(test_pre, test_output) *100 #정확도 확인 2번

79.88826815642457

In [51]:
model2.fit(train_input, train_output) #모델 2학습

DecisionTreeClassifier()

In [53]:
model2.score(train_input, train_output) * 100 #모델 2의 트레인 데이터 스코어

90.30898876404494

In [54]:
model2.score(test_input, test_output) * 100 #모델 2의 테스트 스코어

79.3296089385475

In [55]:
model3.fit(train_input, train_output)

RandomForestClassifier()

In [56]:
model3.score(train_input, train_output) * 100

90.30898876404494

In [64]:
model3.score(test_input, test_output) * 100

82.68156424581005

In [58]:
model4.fit(train_input, train_output)

GradientBoostingClassifier()

In [59]:
model4.score(train_input, train_output) * 100

86.65730337078652

In [65]:
model4.score(test_input, test_output) * 100

83.24022346368714

In [61]:
model5.fit(train_input, train_output)

AdaBoostClassifier()

In [62]:
model5.score(train_input, train_output) * 100

81.32022471910112

In [66]:
model5.score(test_input, test_output) * 100

83.24022346368714

In [72]:
model = {'LogisticRegression' : LogisticRegression(),
'DecisionTreeClassifier' : DecisionTreeClassifier(),
'RandomForestClassifier' : RandomForestClassifier(),
'GradientBoostingClassifier' : GradientBoostingClassifier(),
'AdaBoostClassifier' : AdaBoostClassifier() }

In [73]:
for i in model :
    model_ = model[i]
    model_.fit(train_input, train_output)
    train_score = model_.score(train_input, train_output) * 100
    test_score  = model_.score(test_input, test_output) * 100
    
    print(f"[%26s] train:%.2f / test:%.2f" % \
         (i, train_score, test_score))

[        LogisticRegression] train:82.58 / test:79.89
[    DecisionTreeClassifier] train:90.31 / test:79.33
[    RandomForestClassifier] train:90.31 / test:82.68
[GradientBoostingClassifier] train:86.66 / test:83.24
[        AdaBoostClassifier] train:81.32 / test:83.24

데이터 프레임으로 만들수 있어야된다!~~

딕셔너리화 해서 데이터를 담아야하는데 쉽지 않다? --> 리스트로 하는게 편하다

In [130]:
model = {'LogisticRegression' : LogisticRegression(),
'DecisionTreeClassifier' : DecisionTreeClassifier(),
'RandomForestClassifier' : RandomForestClassifier(),
'GradientBoostingClassifier' : GradientBoostingClassifier(),
'AdaBoostClassifier' : AdaBoostClassifier() }

model_l = []
train_l = []
test_l = []

for i in model :
    model_ = model[i]
    model_.fit(train_input, train_output)
    train_score = model_.score(train_input, train_output) * 100
    test_score  = model_.score(test_input, test_output) * 100
    
    model_l.append(i)
    train_l.append(train_score)
    test_l.append(test_score)
    
    print(f"[%26s] train:%.2f / test:%.2f" % \
         (i, train_score, test_score))

[        LogisticRegression] train:82.58 / test:79.89
[    DecisionTreeClassifier] train:90.31 / test:79.33
[    RandomForestClassifier] train:90.31 / test:83.24
[GradientBoostingClassifier] train:86.66 / test:83.24
[        AdaBoostClassifier] train:81.32 / test:83.24

In [131]:
data = list(zip(model_l, train_l, test_l))

In [132]:
df = pd.DataFrame(data, columns=['model','tran','test'])

In [133]:
df.sort_values('test', ascending=False)

                        model       tran       test
2      RandomForestClassifier  90.308989  83.240223
3  GradientBoostingClassifier  86.657303  83.240223
4          AdaBoostClassifier  81.320225  83.240223
0          LogisticRegression  82.584270  79.888268
1      DecisionTreeClassifier  90.308989  79.329609

In [134]:
model = GradientBoostingClassifier()

In [135]:
model.fit(train_input, train_output)

GradientBoostingClassifier()

In [136]:
import pickle

In [137]:
with open('gbc.pkl', 'wb') as f :
    pickle.dump(model, f)     #gbc.pkl 파일이 생긴 것을 확인!

In [138]:
with open('gbc.pkl', 'rb') as f :
    load_model = pickle.load(f)   #학습시켰던 모델 불러오기

In [139]:
load_model

GradientBoostingClassifier()

In [140]:
data =test_input.iloc[0].to_list() #실제 데이터를 넣는 과정!

In [141]:
import numpy as np

In [142]:
np_data = np.asarray(data)

In [143]:
re_data = np_data.reshape(1, -1)

In [144]:
pred = load_model.predict(re_data)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

In [145]:
if pred[0] == 0:
    print('Died..')
else :
    print('Survived!!')

Died..

---------------------------------------------------

In [146]:
sub=pd.read_csv('titanic/submission.csv')

In [147]:
answer = sub['Survived']

In [148]:
submission = load_model.predict(test)

In [149]:
submission

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [150]:
accuracy_score(answer, submission) * 100

85.4066985645933

정확도 85% 가 어떻게 도출되었나? => 'Answer : ???' 왜 잘나오는지 이유는 모름.

XAI?  = 설명할 수 있는 AI (AI가 가르쳐주고 이유를 알려줌.)

모델에 대한 해석은 어렵고 학문적이다. 어떻게 사용하는지만 확실히!!

In [152]:
sub2 = pd.read_csv('titanic/submission2.csv')

In [153]:
sub2['Survived']= submission

In [154]:
sub2.to_csv('result.csv', index = False)

In [155]:
sub2['Survived'].value_counts()

0    281
1    137
Name: Survived, dtype: int64