In [1]:
import requests

In [2]:
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/BasicOld.aspx?sort=HRA_RT'

In [3]:
req = requests.get(url)

In [4]:
html = req.text

In [5]:
from bs4 import BeautifulSoup #소스코드를 아름답게 변환해줌~

In [6]:
soup = BeautifulSoup(html, 'html.parser')

In [7]:
soup

<!DOCTYPE html>

<html lang="ko">
<head><title>
	기록실 | 기록 | KBO
</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/><meta content="text/javascript" http-equiv="Content-Script-Type"/><meta content="text/css" http-equiv="Content-Style-Type"/><meta content="IE=edge, Chrome" http-equiv="X-UA-Compatible"/><meta content="KBO" name="title"/><meta content="스포츠투아이" name="author"/><meta content="KBO, 한국야구위원회, 프로야구, KBO 리그, 퓨처스리그, 프로야구순위, 프로야구 일정" name="keywords"/><meta content="width=1200" name="viewport"/>
<!-- OG -->
<meta content="website" property="og:type"/><meta content="KBO 홈페이지" property="og:title"/><meta content="KBO, 한국야구위원회, 프로야구, KBO 리그, 퓨처스리그, 프로야구순위, 프로야구 일정" property="og:description"/><meta content="https://lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/open_graph_kbo_2022.png" property="og:image"/><meta content="https://www.koreabaseball.com/" property="og:url"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/resources/css/font.css" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/reset.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/common.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/layout.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/contents.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery-ui.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery-ui-theme.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<link href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery.bxslider.min.css?version=20221028" rel="stylesheet" type="text/css"/>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-1.12.4.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-migrate-1.1.1.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-ui.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery.bxslider.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery.ui.datepicker-ko.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.Common-1.0.1.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.Paging-1.0.8.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/common.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.MakeTable-1.0.3.min.js?version=20221025" type="text/javascript"></script>
<script charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/bTogether.min.js?version=20221025" type="text/javascript"></script>
<!--—[if lt IE 9]-->
<script src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/html5shiv.min.js?version=20221025"></script>
<?endif]—>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-K3BL64Q');
	</script>
	<!-- End Google Tag Manager -->

    <link type="text/css" rel="stylesheet" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/common_old.min.css?version=20221028"/>
    <link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/sub.min.css?version=20221028" />

	<link type="text/css" rel="stylesheet" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/Record.min.css?version=20221028"/>



</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3BL64Q"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <form method="post" action="./BasicOld.aspx?sort=HRA_RT" id="mainForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJLTI5MjA2NDU3D2QWAmYPZBYCZg9kFgJmD2QWAgIBD2QWAmYPZBYCAgEPZBYCAgMPZBYCAgEPZBYCZg9kFgxmDw8WAh4JU3RhcnRZZWFyAr4PZBYCAgEPEGQQFSkEMTk4MgQxOTgzBDE5ODQEMTk4NQQxOTg2BDE5ODcEMTk4OAQxOTg5BDE5OTAEMTk5MQQxOTkyBDE5OTMEMTk5NAQxOTk1BDE5OTYEMTk5NwQxOTk4BDE5OTkEMjAwMAQyMDAxBDIwMDIEMjAwMwQyMDA0BDIwMDUEMjAwNgQyMDA3BDIwMDgEMjAwOQQyMDEwBDIwMTEEMjAxMgQyMDEzBDIwMTQEMjAxNQQyMDE2BDIwMTcEMjAxOAQyMDE5BDIwMjAEMjAyMQQyMDIyFSkEMTk4MgQxOTgzBDE5ODQEMTk4NQQxOTg2BDE5ODcEMTk4OAQxOTg5BDE5OTAEMTk5MQQxOTkyBDE5OTMEMTk5NAQxOTk1BDE5OTYEMTk5NwQxOTk4BDE5OTkEMjAwMAQyMDAxBDIwMDIEMjAwMwQyMDA0BDIwMDUEMjAwNgQyMDA3BDIwMDgEMjAwOQQyMDEwBDIwMTEEMjAxMgQyMDEzBDIwMTQEMjAxNQQyMDE2BDIwMTcEMjAxOAQyMDE5BDIwMjAEMjAyMQQyMDIyFCsDKWdnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnFgECKGQCAQ9kFgICAQ8QZBAVBhBLQk8g7KCV6rec7Iuc7KaMEEtCTyDsi5zrspTqsr3quLATS0JPIOyZgOydvOuTnOy5tOuTnBZLQk8g7KSA7ZSM66CI7J207Jik7ZSEE0tCTyDtlIzroIjsnbTsmKTtlIQTS0JPIO2VnOq1reyLnOumrOymiBUGATABMQE0ATMBNQE3FCsDBmdnZ2dnZxYBAgVkAgIPDxYCHghTZWFzb25JZAUEMjAyMmQWAgIBDxBkEBULCu2MgCDshKDtg50G65GQ7IKwBuuhr+uNsAbsgrzshLEG7YKk7JuABu2VnO2ZlANLSUECS1QCTEcCTkMDU1NHFQsAAk9CAkxUAlNTAldPAkhIAkhUAktUAkxHAk5DAlNLFCsDC2dnZ2dnZ2dnZ2dnFgFmZAIDD2QWAgIBDxBkEBUEEO2PrOyngOyFmCDshKDtg50G7Y+s7IiYCeuCtOyVvOyImAnsmbjslbzsiJgVBAABMgczLDQsNSw2BTcsOCw5FCsDBGdnZ2cWAWZkAgQPFgIeC18hSXRlbUNvdW50Ag4WHGYPZBYGZg8VAQExZAIBDxYCHgRUZXh0BUo8YSBocmVmPSIvUmVjb3JkL1BsYXllci9IaXR0ZXJEZXRhaWwvQmFzaWMuYXNweD9wbGF5ZXJJZD03NTg0NyI+7LWc7KCVPC9hPmQCAg8VEQNTU0cFMC41NzEBNAIxOQIxNAE4ATEBMAExATcBMQExATUBMAExATABMGQCAQ9kFgZmDxUBATJkAgEPFgIfAwVNPGEgaHJlZj0iL1JlY29yZC9QbGF5ZXIvSGl0dGVyRGV0YWlsL0Jhc2ljLmFzcHg/cGxheWVySWQ9Nzk0NTYiPuydtOyngOyYgTwvYT5kAgIPFREG7YKk7JuABTAuNTAwATQCMTcCMTABNQEwATABMAEyATABMAE1ATABMQEwATBkAgIPZBYGZg8VAQEzZAIBDxYCHwMFTTxhIGhyZWY9Ii9SZWNvcmQvUGxheWVyL0hpdHRlckRldGFpbC9CYXNpYy5hc3B4P3BsYXllcklkPTY1MzU3Ij7shqHshLHrrLg8L2E+ZAICDxURBu2CpOybgAUwLjQ2NwE0AjE2AjE1ATcBMwEwATABMgEwATABMQEwATEBMAEwZAIDD2QWBmYPFQEBNGQCAQ8WAh8DBU08YSBocmVmPSIvUmVjb3JkL1BsYXllci9IaXR0ZXJEZXRhaWwvQmFzaWMuYXNweD9wbGF5ZXJJZD02NDk4NCI+6rmA7YOc7KeEPC9hPmQCAg8VEQbtgqTsm4AFMC40MjkBNAIxNwIxNAE2ATEBMAEwATIBMAEwATIBMAEyATABMGQCBA9kFgZmDxUBATVkAgEPFgIfAwVNPGEgaHJlZj0iL1JlY29yZC9QbGF5ZXIvSGl0dGVyRGV0YWlsL0Jhc2ljLmFzcHg/cGxheWVySWQ9NzY4MDIiPuq5gOyEse2YhDwvYT5kAgIPFREDU1NHBTAuNDEyATQCMTgCMTcBNwEwATABMAEyATABMAExATABMAExATFkAgUPZBYGZg8VAQE2ZAIBDxYCHwMFTTxhIGhyZWY9Ii9SZWNvcmQvUGxheWVyL0hpdHRlckRldGFpbC9CYXNpYy5hc3B4P3BsYXllcklkPTUxODE3Ij7stpTsi6DsiJg8L2E+ZAICDxURA1NTRwUwLjM1MwE0AjIxAjE3ATYBMAEwATABMAEwATABNAEwATcBMAEwZAIGD2QWBmYPFQEBN2QCAQ8WAh8DBVA8YSBocmVmPSIvUmVjb3JkL1BsYXllci9IaXR0ZXJEZXRhaWwvQmFzaWMuYXNweD9wbGF5ZXJJZD01MjgwNiI+65286rCA66CI7IqkPC9hPmQCAg8VEQNTU0cFMC4yOTQBNAIxOQIxNwE1ATABMAExATMBMAEwATIBMAEyATABMGQCBw9kFgZmDxUBAThkAgEPFgIfAwVNPGEgaHJlZj0iL1JlY29yZC9QbGF5ZXIvSGl0dGVyRGV0YWlsL0Jhc2ljLmFzcHg/cGxheWVySWQ9NTA4NTQiPuy1nOyngO2biDwvYT5kAgIPFREDU1NHBTAuMjY3ATQCMTYCMTUBNAEwATABMQEyATEBMAEwATABNAEwATBkAggPZBYGZg8VAQE5ZAIBDxYCHwMFTTxhIGhyZWY9Ii9SZWNvcmQvUGxheWVyL0hpdHRlckRldGFpbC9CYXNpYy5hc3B4P3BsYXllcklkPTUyMzY2Ij7tkbjsnbTqt7g8L2E+ZAICDxURBu2CpOybgAUwLjI1MAE0AjE3AjE2ATQBMwEwATABMAEwATABMQEwATMBMAEwZAIJD2QWBmYPFQECMTBkAgEPFgIfAwVNPGEgaHJlZj0iL1JlY29yZC9QbGF5ZXIvSGl0dGVyRGV0YWlsL0Jhc2ljLmFzcHg/cGxheWVySWQ9NjczNDEiPuydtOygle2bhDwvYT5kAgIPFREG7YKk7JuABTAuMjExATQCMTkCMTkBNAExATABMAExATABMAEwATABMQEwATBkAgoPZBYGZg8VAQIxMWQCAQ8WAh8DBU08YSBocmVmPSIvUmVjb3JkL1BsYXllci9IaXR0ZXJEZXRhaWwvQmFzaWMuYXNweD9wbGF5ZXJJZD02Mjg5NSI+7ZWc7Jyg7ISsPC9hPmQCAg8VEQNTU0cFMC4yMDABNAIxOQIxNQEzATEBMAExATQBMAEwATMBMQExATEBMWQCCw9kFgZmDxUBAjEyZAIBDxYCHwMFTTxhIGhyZWY9Ii9SZWNvcmQvUGxheWVyL0hpdHRlckRldGFpbC9CYXNpYy5hc3B4P3BsYXllcklkPTY3ODkzIj7rsJXshLHtlZw8L2E+ZAICDxURA1NTRwUwLjE3NgE0AjE5AjE3ATMBMQEwATABMgEwATABMQEwATEBMAExZAIMD2QWBmYPFQECMTNkAgEPFgIfAwVNPGEgaHJlZj0iL1JlY29yZC9QbGF5ZXIvSGl0dGVyRGV0YWlsL0Jhc2ljLmFzcHg/cGxheWVySWQ9NjczMDQiPuq5gO2YnOyEsTwvYT5kAgIPFREG7YKk7JuABTAuMDcxATQCMTQCMTQBMQEwATABMAEwATABMAEwATABMwEwATFkAg0PZBYGZg8VAQIxNGQCAQ8WAh8DBU08YSBocmVmPSIvUmVjb3JkL1BsYXllci9IaXR0ZXJEZXRhaWwvQmFzaWMuYXNweD9wbGF5ZXJJZD02MzkyMCI+6rmA7KSA7JmEPC9hPmQCAg8VEQbtgqTsm4AFMC4wNjcBNAIxOQIxNQExATABMAEwATEBMAEwATQBMAE2ATABMGQCBQ8PFgQeCVBhZ2VJbmRleAUBMR4NVG90YWxSb3dDb3VudAIOZBYcAgEPDxYCHgdWaXNpYmxlaGRkAgMPDxYCHwZoZGQCBQ8PFgYfAwUBMR4IQ3NzQ2xhc3MFAm9uHgRfIVNCAgJkZAIHDw8WCB8DBQEyHwdlHwgCAh8GaGRkAgkPDxYIHwMFATMfB2UfCAICHwZoZGQCCw8PFggfAwUBNB8HZR8IAgIfBmhkZAINDw8WCB8DBQE1HwdlHwgCAh8GaGRkAg8PDxYGHwdlHwgCAh8GaGRkAhEPDxYGHwdlHwgCAh8GaGRkAhMPDxYGHwdlHwgCAh8GaGRkAhUPDxYGHwdlHwgCAh8GaGRkAhcPDxYGHwdlHwgCAh8GaGRkAhkPDxYCHwZoZGQCGw8PFgIfBmhkZGQr4/ooYvUVaLckinlmNGaS6Y9UlU97WfhdzUw2t3WAYQ==" />


<script src="/ScriptResource.axd?d=eLqvTZrSDFtYbPijNtyjIT6CVEgjpBaYOXOadsXTlFHYXIHUwPYcJXQzz3Z7lykZBuXl4A9Xj7n7yBoZ8IStMlsNtFc27j6WGyPVl81XsDWWuDpDofyRThhVLkxWNlX4IqkhRSTznXpsTOu2gxjlxeLlbk_PmW_CInh0qHnCDMiBW3zvAHoQSIWpasgKujn20&amp;t=ffffffffaa493ab8" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax 클라이언트 쪽 프레임워크를 로드하지 못했습니다.');
//]?>

<input id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" type="hidden" value="33D3A891"/>
<input id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="/wEdAETQ2s1LUjWCRafXnkDnKh1URc8CueumcEQeBh7AQ0QcAc3QpZG0WdQHnbTznhJMgoQXkfZ3eKVY/XA1XRpd2PLS+3NCxH5BFzTFUke2Ln5w4XITX9zAm2TulfA6kX9oC3Zn3O4oeuWhd8D/JCvwPZRyuu33LEDngY5uA9l/31FPKNMqdWuWHCxEIT6WjC5HuvRt/amVrfvX7YM5i0+ix+G2bKjNrIRYqQbZn6AzdCTXHj9jkv03RZMFkJ4LlItVG8FScN9cNnpWNx+XMdAdushKGP9T+6q8libABdW3ymnzLsM212rvQh71CUEtS9l04the1ZzMDrSxQi4jdbu/ubE6RtNrahrvsRN/LtkRXTxRLFkD3WWdA4mxMn7E0FNs+2M436KkpxQdo1oGVZc+Q5pyyZ/hCSO2eqGo2L1zgcIbiuDWjROg4UuzsebcGUzhFRIVNXnpoRAKe7SnRZk0WYkr75TX766VQxFIG0fS0oQtFzP/jkB0C2U4vNqpKt05Gk9qAWZlvtYyrShvS7mNj29HD6hf1tpA+XZvfJ3FO1ZyS7pBBhfzacp/t6H5ksqEDQDUUYL4MlmxKZvQlOd7OAp+Ju4KZ2t+H9zhzVxKdwO0FngObrI9pqD6B2iczr4vXyVmZt5/F5xuDeTrjSLHS2kmSWJAJ3sPxSmjawXcICPozS2uAdfWu0dEMbTA/K3CMil70JZQP4cRmMPEXI31TKsn87JdGpNmuYrg+3E4Vq2G5bbjKpl4LwHxHjdrNKBwqC45d4B4y5gubEiB1Q4MTx+MrT/fEQ3jZH33aRa47EJLIJ+za89w8ku4BFmFEPY+w4V/GXCKD8pdrIwhlObcqD5oPYPjpb5fKm2KSAjeocG1WZ6D1cNg0vy8T7QTt8gPNe7mJ/RSsb9+vetvzmrY1c1F65NUI27RCmDIEOwxtbAedn7cTxCCcDkv2WfzZJAhNfE6/Ak60tJL16F8Ap97yEqUFk6d5xL4xAHduU/ideG3+OsLpgzi52LVXF+jMcLJMban/vhRNMZEtg9Kq1/CVsBDmZ68J5R5w5fS4stafQLbTrJ3dFLjO/P6MUq5IOFpN0SEwKwjbwPdTXXJO/W/mw3bqsFs/IePeUpNfvrPNwEedRaFw7KQCRElfNbQHvQRR6I693d4m7eXE/53sQNLu2L0Ky2n2TgZNLW+2kQ3par4KMr0D2va9IJpvqnVTj847pWS6GQCkOcnPZBgnj5a2JUj8Ff0VwiGnNSN/ppZKDQrFl+Tz+DnTneKGCJVYGsB+LyUxDjhysaIDO+sap6cDF5Y5nyYNsqMQst2gd++Fp1r0VeyGVg3Y4Gbh670aESe6iEiBLKd/L+bUCRk2pGIClPRqUK6+mRsdxhnNCA+WG212rY7vOO7Ce+LEVgckbttP880DAoyDOlnWn5hlWrmZQBJTg8F0ZIMrtTFphxBzbdIOXr5LGxqa3eBuW5/aCwhXFFRchTXDzs0fG9LFpwB2kXH"/>
<!-- wrap -->
<div id="wrap">
<!-- header -->
<header>
<div class="bgf3" id="gnb">
<div class="gnb-wrap">
<img alt="신한은행" class="sponsor" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/main/img_shinhan.png"/>
<ul class="menu">
<li><a href="/Member/Login.aspx">로그인</a></li>
<li><a href="/Member/Join/Accessterms.aspx">회원가입</a></li>
<li><a href="http://eng.koreabaseball.com/">ENGLISH</a></li>
</ul>
<div class="search-area">
<div class="search-box">
<input class="ipt-search" id="txtTopPlayerWord" placeholder="선수 검색하기" type="text"/>
<a class="btn-search" href="#none;" id="btnTopPlayerSearch"><img alt="검색" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/btn_search.png"/></a>
</div>
<div class="search-result" id="player_search_area">
<!-- <p class="null">검색 결과가 없습니다.</p> -->
</div>
</div>
</div>
</div>
<div class="wrapping lnb-wrap">
<h1 class="logo"><a href="/Default.aspx"><img alt="" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/h1_logo.png"/></a></h1>
<nav>
<ul id="lnb">
<li>
<a href="/Schedule/GameCenter/Main.aspx">일정/결과</a>
<div class="lnb-sub">
<ul class="lnb01">
<li><a href="/Schedule/GameCenter/Main.aspx">게임센터</a></li>
<li><a href="/Schedule/ScoreBoard.aspx">스코어보드</a></li>
<li><a href="/Schedule/Schedule.aspx">경기일정/결과</a></li>
<li><a href="/Schedule/Calendar.aspx">월별일정/결과</a></li>
<li><a href="/Schedule/International/AsianGames/Main2022.aspx">국제대회</a></li>
<li><a href="/Schedule/Allstar/Game/Main2022.aspx">KBO 올스타전</a></li>
<li><a href="/Schedule/Weather.aspx">야구장 날씨</a></li>
</ul>
</div>
</li>
<li>
<a href="/TeamRank/TeamRank.aspx">순위</a>
<div class="lnb-sub">
<ul class="lnb02">
<li><a href="/TeamRank/TeamRank.aspx">팀순위</a></li>
<li><a href="/TeamRank/GraphDaily.aspx">팀별 순위변동 그래프</a></li>
</ul>
</div>
</li>
<li>
<a href="/Record/Main.aspx">기록</a>
<div class="lnb-sub">
<ul class="lnb03">
<li><a href="/Record/Main.aspx">TOP5</a></li>
<li><a href="/Record/Ranking/Week.aspx">주간/월간 랭킹</a></li>
<li><a href="/Record/Player/HitterBasic/Basic1.aspx">기록실</a></li>
<li><a href="/Record/Etc/HitVsPit.aspx">투수 vs 타자</a></li>
<li><a href="/Record/History/Top/Hitter.aspx">역대기록실</a></li>
<li><a href="/Record/Expectation/WeekList.aspx">주간/일간 예상 달성기록</a></li>
<li><a href="/Record/RecordCorrect/RecordCorrect.aspx">기록 정정 현황</a></li>
</ul>
</div>
</li>
<li>
<a href="/Player/Search.aspx">선수</a>
<div class="lnb-sub">
<ul class="lnb04">
<li><a href="/Player/Search.aspx">선수조회</a></li>
<li><a href="/Player/Register.aspx">선수등록현황</a></li>
<li><a href="/Player/RegisterAll.aspx">전체등록현황</a></li>
<li><a href="/Player/CareerCertificate.aspx">경력증명서 신청</a></li>
<li><a href="/Player/Trade.aspx">선수이동현황</a></li>
<li style="font-size:13px;"><a href="https://draft.koreabaseball.com/" target="_blank">신인 지명 참가 신청</a></li>
</ul>
</div>
</li>
<li class="">
<a href="/News/BreakingNews/List.aspx">NEWS</a>
<div class="lnb-sub">
<ul class="lnb05">
<li><a href="/News/BreakingNews/List.aspx">NEWS</a></li>
<li><a href="/News/NewsLetter/List.aspx">KBO 뉴스레터</a></li>
<li><a href="/News/Notice/List.aspx">KBO 보도자료</a></li>
</ul>
</div>
</li>
<li>
<a href="javascript:;">KBO</a>
<div class="lnb-sub lnb-style-all">
<div class="wrapping lnb-all-wrap">
<h3>KBO</h3>
<div class="lnb-all kbo01">
<h4>HISTORY</h4>
<ul>
<li><a href="/History/Crowd/GraphTeam.aspx">관중현황</a></li>
<li><a href="/History/Etc/PlayerPrize.aspx">역대 개인수상</a></li>
<li><a href="/History/Etc/GoldenGlove.aspx">역대 골든글러브</a></li>
<li><a href="/History/Etc/GameManage.aspx">경기운영제도</a></li>
<li><a href="/History/Etc/TeamHistory.aspx">각 구단 변천사</a></li>
</ul>
</div>
<div class="lnb-all kbo02">
<h4>KBO TV</h4>
<ul>
<li><a href="/KboTv/Highlight/List.aspx">하이라이트</a></li>
<li><a href="/KboTv/WeeklyLineUp/List.aspx">위클리 베스트 라인업</a></li>
<li><a href="/KboTv/MonthMvp/List.aspx">월간MVP</a></li>
<li><a href="/KboTv/Legend/List.aspx">레전드 올스타 동영상</a></li>
<li><a href="/KboTv/Event/List.aspx">KBO 공식 영상</a></li>
<li><a href="/KboTv/VeteranInterview/List.aspx">야구 원로 인터뷰</a></li>
</ul>
</div>
<div class="lnb-all kbo03">
<h4>게시판</h4>
<ul>
<li><a href="/Board/Notice/List.aspx">NOTICE</a></li>
<li><a href="/Board/Faqs/List.aspx">자주하는질문</a></li>
<li><a href="/Board/UnivMarketer/VideoList.aspx">대학생 마케터</a></li>
<li class="lnbDraft"><a href="/Event/Etc/Draft.aspx">신인 드래프트</a></li>
</ul>
</div>
<div class="lnb-all kbo04">
<h4>자료실</h4>
<ul>
<li><a href="/Reference/Ebook/EbookPublication.aspx">E-BOOK</a></li>
<li><a href="/Reference/OnlineLecture/List.aspx">초급자용 사이버야구교실</a></li>
<li><a href="/Reference/Etc/GameRule.aspx">경기규칙</a></li>
</ul>
</div>
<div class="lnb-all kbo05">
<h4>ABOUT KBO</h4>
<ul>
<li><a href="/About/Etc/TeamInfo.aspx">구단 소개</a></li>
<li><a href="/About/Group/Activity.aspx">조직 및 활동</a></li>
<li><a href="/About/Logo/Logo.aspx">KBO 로고</a></li>
<li><a href="/About/Etc/Map.aspx">약도 / 관람료</a></li>
<li><a href="/About/Committee/OrganizationChart.aspx">기록위원회</a></li>
<li><a href="http://www.cleankbo.com/" target="_blank">클린베이스볼센터</a></li>
</ul>
</div>
<div class="lnb-all kbo06">
<h4>주요 사업/행사</h4>
<ul>
<li><a href="/Event/Etc/TimeLine.aspx">KBO 타임라인</a></li>
<li><a href="/Event/Contribution/Service2019.aspx">KBO 사회공헌</a></li>
<li><a href="/Event/RecordClass/Professional.aspx">기록강습회</a></li>
<li><a href="/Event/WinterMeeting/WinterMeeting2019.aspx">KBO 윈터미팅</a></li> <!-- 20180417 KBO 요청 임시삭제 -->
<li><a href="/Event/Etc/SafeGuide.aspx">KBO 경기장 안전정책</a></li>
<li><a href="/Event/Etc/SaveSacrifice.aspx">Save &amp; Sacrifice</a></li>
</ul>
</div>
</div>
</div>
</li>
<li class="futures">
<a href="/Futures/Main.aspx">퓨처스리그</a>
</li>
<li class="market" id="market"><a href="https://www.kbomarket.com/" target="_blank">KBO 마켓</a></li>
<li class="anniversary" id="anniversary"><a href="/Anniversary/Legend40.aspx">레전드 40</a></li>
<li id="lnbAll">
<a href="javascript:;">전체 메뉴</a>
<div class="lnb-sub lnb-style-all">
<div class="wrapping lnb-all-wrap">
<div class="line line01">
<h3>전체 메뉴</h3>
<div class="lnb-all menu01">
<h4>일정/결과</h4>
<ul>
<li><a href="/Schedule/GameCenter/Main.aspx">게임센터</a></li>
<li><a href="/Schedule/ScoreBoard.aspx">스코어보드</a></li>
<li><a href="/Schedule/Schedule.aspx">경기일정/결과</a></li>
<li><a href="/Schedule/Calendar.aspx">월별일정/결과</a></li>
<li><a href="/Schedule/International/AsianGames/Main2022.aspx">국제대회</a></li>
<li><a href="/Schedule/Allstar/Game/Main2022.aspx">KBO 올스타전</a></li>
<li><a href="/Schedule/Weather.aspx">야구장 날씨</a></li>
</ul>
</div>
<div class="lnb-all menu02">
<h4>순위</h4>
<ul>
<li><a href="/TeamRank/TeamRank.aspx">팀순위</a></li>
<li><a href="/TeamRank/GraphDaily.aspx">팀별 순위변동 그래프</a></li>
</ul>
</div>
<div class="lnb-all menu03">
<h4>기록</h4>
<ul>
<li><a href="/Record/Main.aspx">TOP5</a></li>
<li><a href="/Record/Ranking/Week.aspx">주간/월간 랭킹</a></li>
<li><a href="/Record/Player/HitterBasic/Basic1.aspx">기록실</a></li>
<li><a href="/Record/Etc/HitVsPit.aspx">투수 vs 타자</a></li>
<li><a href="/Record/History/Top/Hitter.aspx">역대기록실</a></li>
<li class="menu0305"><a href="/Record/Expectation/WeekList.aspx">주간/일간 예상 달성기록</a></li>
<li><a href="/Record/RecordCorrect/RecordCorrect.aspx">기록 정정 현황</a></li>
</ul>
</div>
<div class="lnb-all menu04">
<h4>선수</h4>
<ul>
<li><a href="/Player/Search.aspx">선수조회</a></li>
<li><a href="/Player/Register.aspx">선수등록현황</a></li>
<li><a href="/Player/RegisterAll.aspx">전체등록현황</a></li>
<li><a href="/Player/CareerCertificate.aspx">경력증명서 신청</a></li>
<li><a href="/Player/Trade.aspx">선수이동현황</a></li>
<li><a href="https://draft.koreabaseball.com/" target="_blank">신인 지명 참가 신청</a></li>
</ul>
</div>
<div class="lnb-all menu05">
<h4>퓨처스리그</h4>
<ul>
<li><a href="/Futures/Schedule/GameList.aspx">경기일정/결과</a></li>
<li><a href="/Futures/TeamRank/North.aspx">팀순위</a></li>
<li><a href="/Futures/Top/Main.aspx">TOP5</a></li>

In [8]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(2) > a')

[<a href="/Record/Player/HitterDetail/Basic.aspx?playerId=75847">최정</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=79456">이지영</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=65357">송성문</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=64984">김태진</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=76802">김성현</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=51817">추신수</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=52806">라가레스</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=50854">최지훈</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=52366">푸이그</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=67341">이정후</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=62895">한유섬</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=67893">박성한</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=67304">김혜성</a>,
 <a href="/Record/Player/HitterDetail/Basic.aspx?playerId=63920">김준완</a>]

In [9]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(2) > td:nth-child(2) > a')

In [10]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(3) > td:nth-child(2) > a')

In [11]:
name = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(2) > a')

In [12]:
name[0]

In [13]:
name[0].text

'최정'

In [14]:
for i in range (len(name)) :
    print(name[i].text)

최정
이지영
송성문
김태진
김성현
추신수
라가레스
최지훈
푸이그
이정후
한유섬
박성한
김혜성
김준완

In [15]:
name_t =[]
for n in name :
    name_t.append(n.text)       #파이썬에서는 리스트를 변수에 그냥 넣을 수 있다!

In [16]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(1) > td:nth-child(3)')

In [17]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(2) > td:nth-child(3)')

In [18]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(3) > td:nth-child(3)')

In [19]:
team = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(3)')

In [20]:
for n in team :
    print(n.text)

SSG
키움
키움
키움
SSG
SSG
SSG
SSG
키움
키움
SSG
SSG
키움
키움

In [21]:
team_t =[]
for t in team :
    team_t.append(t.text)

In [22]:
name_t

['최정',
 '이지영',
 '송성문',
 '김태진',
 '김성현',
 '추신수',
 '라가레스',
 '최지훈',
 '푸이그',
 '이정후',
 '한유섬',
 '박성한',
 '김혜성',
 '김준완']

In [23]:
team_t

['SSG',
 '키움',
 '키움',
 '키움',
 'SSG',
 'SSG',
 'SSG',
 'SSG',
 '키움',
 '키움',
 'SSG',
 'SSG',
 '키움',
 '키움']

In [24]:
print(name_t, '\n', team_t)

['최정', '이지영', '송성문', '김태진', '김성현', '추신수', '라가레스', '최지훈', '푸이그', '이정후', '한유섬', '박성한', '김혜성', '김준완']
 ['SSG', '키움', '키움', '키움', 'SSG', 'SSG', 'SSG', 'SSG', '키움', '키움', 'SSG', 'SSG', '키움', '키움']

In [25]:
data  = list(zip(name_t, team_t))

In [26]:
data

[('최정', 'SSG'),
 ('이지영', '키움'),
 ('송성문', '키움'),
 ('김태진', '키움'),
 ('김성현', 'SSG'),
 ('추신수', 'SSG'),
 ('라가레스', 'SSG'),
 ('최지훈', 'SSG'),
 ('푸이그', '키움'),
 ('이정후', '키움'),
 ('한유섬', 'SSG'),
 ('박성한', 'SSG'),
 ('김혜성', '키움'),
 ('김준완', '키움')]

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(data, columns=['선수명','팀명'])

In [29]:
df

     선수명   팀명
0     최정  SSG
1    이지영   키움
2    송성문   키움
3    김태진   키움
4    김성현  SSG
5    추신수  SSG
6   라가레스  SSG
7    최지훈  SSG
8    푸이그   키움
9    이정후   키움
10   한유섬  SSG
11   박성한  SSG
12   김혜성   키움
13   김준완   키움

In [30]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(7)')

[<td data-id="AB_CN">14</td>,
 <td data-id="AB_CN">10</td>,
 <td data-id="AB_CN">15</td>,
 <td data-id="AB_CN">14</td>,
 <td data-id="AB_CN">17</td>,
 <td data-id="AB_CN">17</td>,
 <td data-id="AB_CN">17</td>,
 <td data-id="AB_CN">15</td>,
 <td data-id="AB_CN">16</td>,
 <td data-id="AB_CN">19</td>,
 <td data-id="AB_CN">15</td>,
 <td data-id="AB_CN">17</td>,
 <td data-id="AB_CN">14</td>,
 <td data-id="AB_CN">15</td>]

In [31]:
soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr:nth-child(2) > td:nth-child(7)')

In [32]:
AB = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(7)')

In [33]:
AB_t =[]
for i in AB :
    AB_t.append(i.text)

In [34]:
AB_t

['14',
 '10',
 '15',
 '14',
 '17',
 '17',
 '17',
 '15',
 '16',
 '19',
 '15',
 '17',
 '14',
 '15']

In [35]:
data  = list(zip(name_t, team_t, AB_t))

In [36]:
df = pd.DataFrame(data, columns=['선수명','팀명','AB'])

In [37]:
df

     선수명   팀명  AB
0     최정  SSG  14
1    이지영   키움  10
2    송성문   키움  15
3    김태진   키움  14
4    김성현  SSG  17
5    추신수  SSG  17
6   라가레스  SSG  17
7    최지훈  SSG  15
8    푸이그   키움  16
9    이정후   키움  19
10   한유섬  SSG  15
11   박성한  SSG  17
12   김혜성   키움  14
13   김준완   키움  15

In [38]:
H = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(8)')

In [39]:
H

[<td data-id="HIT_CN">8</td>,
 <td data-id="HIT_CN">5</td>,
 <td data-id="HIT_CN">7</td>,
 <td data-id="HIT_CN">6</td>,
 <td data-id="HIT_CN">7</td>,
 <td data-id="HIT_CN">6</td>,
 <td data-id="HIT_CN">5</td>,
 <td data-id="HIT_CN">4</td>,
 <td data-id="HIT_CN">4</td>,
 <td data-id="HIT_CN">4</td>,
 <td data-id="HIT_CN">3</td>,
 <td data-id="HIT_CN">3</td>,
 <td data-id="HIT_CN">1</td>,
 <td data-id="HIT_CN">1</td>]

In [40]:
H_t =[]
for i in H :
    H_t.append(i.text)

In [41]:
data  = list(zip(name_t, team_t, AB_t, H_t))

In [42]:
df = pd.DataFrame(data, columns=['선수명','팀명','AB','H'])

In [43]:
df

     선수명   팀명  AB  H
0     최정  SSG  14  8
1    이지영   키움  10  5
2    송성문   키움  15  7
3    김태진   키움  14  6
4    김성현  SSG  17  7
5    추신수  SSG  17  6
6   라가레스  SSG  17  5
7    최지훈  SSG  15  4
8    푸이그   키움  16  4
9    이정후   키움  19  4
10   한유섬  SSG  15  3
11   박성한  SSG  17  3
12   김혜성   키움  14  1
13   김준완   키움  15  1

In [44]:
AVG=soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr > td:nth-child(4)')

In [45]:
AVG_t =[]
for i in AVG :
    AVG_t.append(i.text)

In [46]:
AVG_t

['0.571',
 '0.500',
 '0.467',
 '0.429',
 '0.412',
 '0.353',
 '0.294',
 '0.267',
 '0.250',
 '0.211',
 '0.200',
 '0.176',
 '0.071',
 '0.067']

In [47]:
data  = list(zip(name_t, team_t, AB_t, H_t, AVG_t))

In [48]:
df = pd.DataFrame(data, columns=['선수명','팀명','AB','H','AVG'])

In [49]:
df

     선수명   팀명  AB  H    AVG
0     최정  SSG  14  8  0.571
1    이지영   키움  10  5  0.500
2    송성문   키움  15  7  0.467
3    김태진   키움  14  6  0.429
4    김성현  SSG  17  7  0.412
5    추신수  SSG  17  6  0.353
6   라가레스  SSG  17  5  0.294
7    최지훈  SSG  15  4  0.267
8    푸이그   키움  16  4  0.250
9    이정후   키움  19  4  0.211
10   한유섬  SSG  15  3  0.200
11   박성한  SSG  17  3  0.176
12   김혜성   키움  14  1  0.071
13   김준완   키움  15  1  0.067

In [50]:
df['AB'] = df['AB'].astype(int)

In [51]:
df['H'] = df['H'].astype(int)

In [52]:
df['AVG2'] = df['H'] / df['AB']

In [53]:
df['AVG2'] = round(df['AVG2'], 3)

In [54]:
df['AVG2']

0     0.571
1     0.500
2     0.467
3     0.429
4     0.412
5     0.353
6     0.294
7     0.267
8     0.250
9     0.211
10    0.200
11    0.176
12    0.071
13    0.067
Name: AVG2, dtype: float64

In [55]:
df  #AVG 와 AVG2가 같음을 확인!!

     선수명   팀명  AB  H    AVG   AVG2
0     최정  SSG  14  8  0.571  0.571
1    이지영   키움  10  5  0.500  0.500
2    송성문   키움  15  7  0.467  0.467
3    김태진   키움  14  6  0.429  0.429
4    김성현  SSG  17  7  0.412  0.412
5    추신수  SSG  17  6  0.353  0.353
6   라가레스  SSG  17  5  0.294  0.294
7    최지훈  SSG  15  4  0.267  0.267
8    푸이그   키움  16  4  0.250  0.250
9    이정후   키움  19  4  0.211  0.211
10   한유섬  SSG  15  3  0.200  0.200
11   박성한  SSG  17  3  0.176  0.176
12   김혜성   키움  14  1  0.071  0.071
13   김준완   키움  15  1  0.067  0.067

In [56]:
df['팀명'].value_counts()

SSG    7
키움     7
Name: 팀명, dtype: int64

In [57]:
df.to_csv('Hitter2022.csv', index=False, encoding='euc-kr')

In [58]:
#주소 복사하기

In [59]:
name[0]['href']

'/Record/Player/HitterDetail/Basic.aspx?playerId=75847'

In [60]:
name[0]['href']

'/Record/Player/HitterDetail/Basic.aspx?playerId=75847'

In [61]:
'http://www.koreabaseball.com/'+name[0]['href']

'http://www.koreabaseball.com//Record/Player/HitterDetail/Basic.aspx?playerId=75847'

---------------------------

## 로또복권사이트에서 1등배출점 을 크롤링하라.

In [62]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [63]:
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645' #주소 입력

In [64]:
req = requests.get(url) #주소 입력 후 엔터

In [65]:
html = req.text #요청값에서 text만 빼주겠다~

In [66]:
from bs4 import BeautifulSoup

In [67]:
soup = BeautifulSoup(html, 'html.parser')

In [68]:
soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr:nth-child(1) > td:nth-child(2)')

In [69]:
soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr:nth-child(2) > td:nth-child(2)')

In [70]:
name=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')

In [71]:
soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr:nth-child(1) > td:nth-child(3)')

[<td>


 												수동



 										</td>]

In [72]:
name_L =[]
for n in name :
    name_L.append(n.text)

In [73]:
name_L

['소리창고', '로그인편의점', '뉴빅마트', '새상무복권', '온천로또방', '행운복권', '드림복권방']

In [74]:
way=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')

In [75]:
where=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

*******  해답 ******

---------------------------------------

In [76]:
data=[]
for i in range(len(name)) :
    temp =[]
    temp.append(name[i].text)
    temp.append(way[i].text.strip())
    temp.append(where[i].text)
    data.append(temp)

In [77]:
data

[['소리창고', '수동', '서울 강서구 강서로 306 '],
 ['로그인편의점', '수동', '서울 성동구 천호대로 430 103호 로그인편의점'],
 ['뉴빅마트', '자동', '부산 기장군 정관중앙로 48 106호'],
 ['새상무복권', '자동', '광주 서구 치평로 30 수암빌딩 1층 102호'],
 ['온천로또방', '자동', '대전 유성구 계룡로 92 유성CJ나인파크 1층 101-3호'],
 ['행운복권', '자동', '경기 군포시 대야1로 3 현대팰리스 1동'],
 ['드림복권방', '자동', '경기 의정부시 청사로5번길 8-17 1층 112호(신곡동,센타프라자)']]

--------------------------------

In [78]:
way[0]

<td>


												수동



										</td>

In [79]:
way_L =[]
for n in way :
    way_L.append(n.text)

In [80]:
way_L[0].strip()

'수동'

In [81]:
len(way_L)

7

In [82]:
L2 =[]
for i in range (len(way_L)) :
    L2.append(way_L[i].strip())

In [83]:
L2

['수동', '수동', '자동', '자동', '자동', '자동', '자동']

In [84]:
where_L =[]
for n in where :
    where_L.append(n.text)

In [85]:
where_L

['서울 강서구 강서로 306 ',
 '서울 성동구 천호대로 430 103호 로그인편의점',
 '부산 기장군 정관중앙로 48 106호',
 '광주 서구 치평로 30 수암빌딩 1층 102호',
 '대전 유성구 계룡로 92 유성CJ나인파크 1층 101-3호',
 '경기 군포시 대야1로 3 현대팰리스 1동',
 '경기 의정부시 청사로5번길 8-17 1층 112호(신곡동,센타프라자)']

In [86]:
data  = list(zip(name_L, L2, where_L))

In [87]:
import pandas as pd

In [88]:
df = pd.DataFrame(data, columns=['상호명','구분','소재지'])

In [89]:
df

      상호명  구분                                     소재지
0    소리창고  수동                         서울 강서구 강서로 306
1  로그인편의점  수동             서울 성동구 천호대로 430 103호 로그인편의점
2    뉴빅마트  자동                    부산 기장군 정관중앙로 48 106호
3   새상무복권  자동               광주 서구 치평로 30 수암빌딩 1층 102호
4   온천로또방  자동        대전 유성구 계룡로 92 유성CJ나인파크 1층 101-3호
5    행운복권  자동                  경기 군포시 대야1로 3 현대팰리스 1동
6   드림복권방  자동  경기 의정부시 청사로5번길 8-17 1층 112호(신곡동,센타프라자)

### 맞춰보기!!

In [90]:
data=[]
for i in range(len(name)) :
    temp =[]
    temp.append(name[i].text)
    temp.append(way[i].text.strip())
    temp.append(where[i].text)
    data.append(temp)

# 로또 회차 목록을 추가하고, 1000회부터 1038회까지 pandas

In [91]:
data = {'method':'topStore',
        'nowPage':'1',
        'rankNo':'',
        'gameNo':'5133',
        'drwNo':'1037',
        'schKey':'all',
        'schVal':''}

data.append(1)

In [92]:
data

{'method': 'topStore',
 'nowPage': '1',
 'rankNo': '',
 'gameNo': '5133',
 'drwNo': '1037',
 'schKey': 'all',
 'schVal': ''}

In [93]:
req = requests.post(url, data= data)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

In [94]:
name=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
way=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
where=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

data=[]
for i in range(len(name)) :
    temp =[]
    temp.append(name[i].text)
    temp.append(way[i].text.strip())
    temp.append(where[i].text)
    data.append(temp)

In [95]:
data

[['지원물산', '자동', '서울 노원구 공릉로 108,(공릉동) '],
 ['로또 명당', '자동', '대구 동구 화랑로75길 69 '],
 ['초원복권 신창점', '자동', '광주 광산구 신창로 76 1층'],
 ['대전우표사', '자동', '대전 동구 중앙로204번길 16-1 '],
 ['대한유통', '자동', '울산 북구 박상진11로 1 1층112호'],
 ['몽키버블티', '자동', '경기 군포시 고산로250번길 27 1층 일부호(당동)'],
 ['꽃길', '수동', '경기 수원시 권선구 정조로 571 1층(세류동)'],
 ['꽃길', '수동', '경기 수원시 권선구 정조로 571 1층(세류동)'],
 ['행운복권방', '수동', '경기 안성시 서동대로 7184 1층 복권방'],
 ['로또복권합정점', '수동', '경기 평택시 중앙로 176 127호 평택합정 SK뷰 주상복합'],
 ['세븐일레븐화성봉담수기점', '자동', '경기 화성시 세자로 358 '],
 ['포항오거리CU복권', '자동', '경북 포항시 북구 죽도로 33 CU포항오거리점내'],
 ['삼정상회', '자동', '경남 김해시 활천로 23 가동 109호 복권판매점'],
 ['목화휴게소', '자동', '경남 사천시 사천대로 912 '],
 ['신세계', '자동', '제주 제주시 고마로14길 7 ']]

In [96]:
from tqdm import tqdm

In [97]:
data1 = []
for n in tqdm(range (1000,1039)):
    #print(n)
    d_data = {'method':'topStore',
        'nowPage':'1',
        'rankNo':'',
        'gameNo':'5133',
        'drwNo':n,
        'schKey':'all',
        'schVal':''}
    
    req = requests.post(url, data= d_data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    
    name=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    way=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    where=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

  
    for i in range(len(name)) :
        temp =[]
        temp.append(n)
        temp.append(name[i].text)
        temp.append(way[i].text.strip())
        temp.append(where[i].text)
        data1.append(temp)

100%|██████████████████████████████████████████████████████████████████████████████████| 39/39 [00:04<00:00,  8.26it/s]

In [98]:
data1

[[1000, '행운식품', '자동', '서울 관악구 신원로3길 21 '],
 [1000, '로또백화점 홍은점', '수동', '서울 서대문구 세검정로 99-1 1층 좌측'],
 [1000, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1000, '복권나라', '수동', '서울 성동구 용답중앙15길 12-1 1층'],
 [1000, '티에스네트웍스', '자동', '서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)'],
 [1000, '서면로또', '자동', '부산 부산진구 중앙대로680번가길 55-5 '],
 [1000, '로터리복권방', '수동', '부산 서구 자갈치로 4 '],
 [1000, '로터리복권방', '수동', '부산 서구 자갈치로 4 '],
 [1000, '수퍼복권대박', '수동', '인천 연수구 용담로 60 1층'],
 [1000, '돈벼락맞는곳', '수동', '대전 서구 복수남로 16 '],
 [1000, '와우복권방', '자동', '대전 중구 평촌로 94-1 '],
 [1000, '웃는로또방', '수동', '경기 고양시 덕양구 토당로 102 '],
 [1000, '강선복권', '반자동', '경기 고양시 일산서구 중앙로 1376 한양상가 1층 8호'],
 [1000, '올웨이즈', '자동', '경기 군포시  산본로 378 산본사이버텔 사이버텔109호'],
 [1000, '행운 아이스크림 판매점', '자동', '경기 부천시 부일로 434-1 1층'],
 [1000, '복권방', '수동', '경기 안양시 동안구 부림로 194  '],
 [1000, '복권나라', '수동', '경기 포천시 죽엽산로35번길 1 '],
 [1000, '동탄복합문화센터복권판매점', '자동', '경기 화성시 동탄순환대로 725 106호'],
 [1000, '더블로또', '수동', '강원 양구군 양구새싹로 22 1층 GS25'],
 [1000, '복권명당', '수동', '충북 청주시 상당구 월평로 204 '],
 [1000, '영유통(로또복권)', '수동', '전북 군산시 미룡로 45 '],
 [1000, '로또복권판매', '수동', '제주 서귀포시 표선동서로 230 '],
 [1001, '행운복권', '자동', '서울 강북구 솔샘로 212 신영빌딩 1층'],
 [1001, '복권백화점', '자동', '서울 은평구 연서로29길 7-2 1층'],
 [1001, '빅세일복권방', '자동', '부산 부산진구 서면문화로 6 '],
 [1001, '복권명당(동아스포츠점)', '자동', '대구 수성구 지범로 91 1층'],
 [1001, '최강복권&아이스크림', '수동', '경기 고양시 덕양구 삼송로 176-1 '],
 [1001, '최강복권&아이스크림', '수동', '경기 고양시 덕양구 삼송로 176-1 '],
 [1001, '대박복권방', '자동', '경기 남양주시 맷돌로 118 중흥프라자101호'],
 [1001, '월산리주고받는로또', '자동', '경기 남양주시 경춘로 2244 1층 CU내'],
 [1001, '소망로또', '자동', '경기 의정부시 평화로 176 '],
 [1001, '법원로또', '자동', '강원 원주시 무실로 300 원주무실8단지엘에이치아파트 상가 101호'],
 [1001, '영화유통', '자동', '경북 포항시 북구 양학천로 15 '],
 [1001, '진양호', '자동', '경남 진주시 남강로 58 1층'],
 [1002, '투데이', '수동', '서울 동대문구 천호대로 67 1층'],
 [1002, '그린마트', '자동', '서울 송파구 백제고분로19길 26 1층'],
 [1002, '진우복권', '자동', '부산 연제구 월드컵대로 119 204호(연산동)'],
 [1002, '복권방', '자동', '인천 남동구 백범로 123 cu편의점'],
 [1002, '복권판매점', '수동', '경기 성남시 수정구  남문로77번길 13-1 1층'],
 [1002, '에이데이마트', '자동', '전남 목포시 백년대로375번길 42 에이데이마트'],
 [1002, '동일설비 명성복권', '자동', '경북 안동시 경동로 913 '],
 [1002, '행복충전', '수동', '경북 포항시 북구 삼흥로 441 3호'],
 [1003, '가로판매대', '자동', '서울 강동구 올림픽로 648 천호역 3번 출구 앞(가판점)'],
 [1003, '노다지복권방', '자동', '서울 동대문구 한빛로 1-1,(신설동) '],
 [1003, '버스매표소', '자동', '인천 부평구 부평대로 3 가판'],
 [1003, '노다지복권방', '수동', '인천 연수구 앵고개로 256 '],
 [1003, '천복권방', '자동', '대전 대덕구 한밭대로1043번길 2 '],
 [1003, '주엽역 로또판매점', '자동', '경기 고양시 일산서구 중앙로 1437 화성프라자 도로'],
 [1003, '해뜰날', '수동', '경기 동두천시 중앙로 134-30 '],
 [1003, '해뜰날', '수동', '경기 동두천시 중앙로 134-30 '],
 [1003, '해뜰날', '수동', '경기 동두천시 중앙로 134-30 '],
 [1003, '해뜰날', '수동', '경기 동두천시 중앙로 134-30 '],
 [1003, '해뜰날', '수동', '경기 동두천시 중앙로 134-30 '],
 [1003, '오이도직판장마트', '자동', '경기 시흥시 오이도로 167 오이도이주단지B'],
 [1003, '떳다복권방', '자동', '전북 군산시 조촌로 90 '],
 [1003, '로또복권판매', '자동', '제주 서귀포시 표선동서로 230 '],
 [1004, '금손복권', '자동', '서울 마포구 새창로 22 1층(도화동)'],
 [1004, '교통카드', '자동', '서울 서초구 강남대로 517 '],
 [1004, 'G마트', '자동', '서울 영등포구 디지털로 387 '],
 [1004, '만복래', '자동', '인천 부평구 주부토로 20-2 1층'],
 [1004, '잉크와복권', '자동', '경기 광명시 시청로 69,(철산동) '],
 [1004, '대박로또', '자동', '충남 당진시 서해로 6869 '],
 [1004, '천하명당복권방', '자동', '충남 홍성군 조양로 180 '],
 [1004, '포시즌마트 빛가람희망로또', '자동', '전남 나주시 그린로 351 110호 포시즌마트'],
 [1004, '로또야놀자', '자동', '경북 경주시 양정로 211,(동천동) '],
 [1004, '로또월드', '수동', '경북 성주군 성주순환로 113 1층 창민전기'],
 [1005, '스파', '자동', '서울 노원구 동일로 1493 상계주공아파트(10단지) 주공10단지종합상가111'],
 [1005, '부일카서비스', '자동', '부산 동구 자성로133번길 35 '],
 [1005, '대박신화로또판매점', '자동', '인천 미추홀구 인하로 267 1층'],
 [1005, '드림마트', '수동', '인천 서구 검단로 490 '],
 [1005, '영화복권(버들점)', '자동', '광주 서구 상무버들로 32 '],
 [1005, '이전유통', '자동', '경기 고양시 일산동구 호수로446번길 54 1층'],
 [1005, '마리오슈퍼', '반자동', '경기 부천시 송내대로265번길 85 뱅뱅프라자 1층 118호'],
 [1005, '남문시장', '수동', '경기 수원시 팔달구 수원천로255번길 6 영동시장 영동시장 101호'],
 [1005, '용꿈돼지꿈복권방', '수동', '경기 시흥시 하중로 235 법조타운103호'],
 [1005, '도깨비복권방', '자동', '전북 군산시 문화로 29 '],
 [1005, '복권명당', '자동', '경북 경주시 동문로 46 '],
 [1005, '천하명당복권방', '수동', '경남 거제시 옥포성안로 60 '],
 [1006, '다판다25 일광푸르지오점', '자동', '부산 기장군 해빛로 39-32 '],
 [1006, '종로복권', '수동', '인천 서구 검단로 519 종로문고'],
 [1006, '로또랑 슈퍼랑', '자동', '경기 고양시 일산동구 고양대로 739 1층 108호'],
 [1006, '토큰박스', '자동', '경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점'],
 [1006, '북문복권방', '자동', '경기 수원시 장안구 정조로 927-1 '],
 [1006, '지니로또복권방', '자동', '경기 오산시 대호로 70 '],
 [1006, '행운복권방', '수동', '경기 포천시 솔모루로 86-1 '],
 [1006, '서울로또방', '자동', '충북 옥천군 삼금로 8 '],
 [1006, '로또복권', '자동', '경남 창원시 의창구 원이대로69번길 24-4 1층 103호 태경동태탕'],
 [1007, '소울로또', '수동', '서울 강동구 진황도로 119 '],
 [1007, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1007, '뉴빅마트', '자동', '부산 기장군 정관중앙로 48 106호'],
 [1007, '로또나라', '자동', '부산 북구 팽나무로 1 '],
 [1007, '복권명당', '반자동', '대구 수성구 천을로 180 동서1차아파트상가108-112호'],
 [1007, '로또명당 이천쌀유통', '자동', '인천 부평구 광장로 34 1층'],
 [1007, '주엽역 로또판매점', '자동', '경기 고양시 일산서구 중앙로 1437 화성프라자 도로'],
 [1007, '거진터미널로또복권판매점', '수동', '강원 고성군 거진읍 거진길 21-2 거진터미널'],
 [1007, '로또명당인주점', '자동', '충남 아산시 서해로 519-2 '],
 [1008, '포이로또방', '수동', '서울 강남구 개포로22길 19 1층'],
 [1008, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1008, '어머화장품', '자동', '서울 송파구 가락로11길 19 '],
 [1008, '현대슈퍼', '자동', '서울 중랑구 봉우재로 203-1,(망우동) '],
 [1008, '삼각R복권방', '수동', '대구 남구 현충로 221 솔내음발연구소 내'],
 [1008, '삼각R복권방', '수동', '대구 남구 현충로 221 솔내음발연구소 내'],
 [1008, '드림월드복권', '자동', '인천 남동구 만수로27번길 3 '],
 [1008, '로또대박', '자동', '세종  장척로 571 '],
 [1008, '현대25시편의점', '자동', '경기 고양시 일산서구 경의로 862 1층'],
 [1008, '대박찬스', '자동', '충북 청주시 흥덕구 가경로161번길 3 '],
 [1008, '노형로또마트', '자동', '제주 제주시 수덕로 6 '],
 [1009, '명동역5번출구가판', '자동', '서울 중구 퇴계로 115 '],
 [1009, '토스터리 아리울', '자동', '부산 동구 중앙대로286번길 3-1 '],
 [1009, '행운복권방', '수동', '부산 부산진구 냉정로 273 '],
 [1009, '대원슈퍼마켓', '자동', '부산 수영구 수영로 524 '],
 [1009, '금강복권', '자동', '경기 김포시 율생로 3 '],
 [1009, '일등복권', '수동', '경기 성남시 분당구 성남대로331번길 3-3 110호 (정자동, 젤존타워3)'],
 [1009, '비나리', '자동', '경기 수원시 권선구 금호로 67 (금곡동)'],
 [1009, '서부역지점', '자동', '경기 평택시 원평로 55 1층'],
 [1009, '향남복권', '수동', '경기 화성시 행정서로1길 30 '],
 [1009, '거두리복권방', '자동', '강원 춘천시 거두택지길 25 부영아파트 부영아파트제상가1-102호'],
 [1009, '황금손복권판매점', '자동', '전북 전주시 완산구 어은로 9 1층'],
 [1009, '파워할인마트', '자동', '경북 김천시 자산로 44-2 1층 파워할인마트내'],
 [1009, '삼정상회', '수동', '경남 김해시 활천로 23 가동 109호 복권판매점'],
 [1009, '부강 돈벼락', '수동', '경남 양산시 물금로 41 양산물금양우내안애5차리버파크 상가108호 양우대산부동산 내'],
 [1009, '제주대림점', '자동', '제주 제주시 과원북2길 48 '],
 [1010, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1010, '지에스25 신매태왕점로또', '자동', '대구 수성구 욱수천로 70 편의점_GS25'],
 [1010, '한꿈복권방', '자동', '울산 중구 번영로 586 '],
 [1010, '복권 판매점', '자동', '경기 구리시 안골로 103 '],
 [1010, '로또25시', '수동', '경기 수원시 권선구 금곡로102번길 15 비즈웍스 비즈웍스 111호'],
 [1010, '춘향로또', '수동', '전북 남원시 동림로 102-1 '],
 [1010, '대박복권방', '자동', '경북 구미시 인동36길 34 '],
 [1010, '억만금로또복권', '자동', '경남 사천시 주공로 60 용강현대아파트 현대상가 1동 101호'],
 [1011, '버스카드판매대', '자동', '서울 관악구 신림로 145-2 '],
 [1011, '지에스(GS)25대전코젤점', '자동', '대전 유성구 계백로 927 코젤병원 1층 GS25편의점'],
 [1011, '복권나라', '수동', '경기 수원시 장안구 장안로 288 수단란주점 1층'],
 [1011, '오뚜기로또', '수동', '경기 안산시 단원구 원초로 30 보성프라자 143호'],
 [1011, 'J마트', '수동', '경기 안양시 만안구 안양로 145-1 '],
 [1011, '규암복권판매점', '자동', '충남 부여군 자온로 61 '],
 [1011, '노다지복권방', '자동', '충남 천안시 동남구 원성천1길 151 2호'],
 [1011, '좋은사람들로또', '수동', '전남 보성군 현충로 85 '],
 [1011, '돈벼락맞는곳', '자동', '경남 김해시 김해대로 2793 복권판매점'],
 [1011, '희망슈퍼', '수동', '경남 창원시 의창구 원이대로279번길 17 '],
 [1011, '동홍코사마트', '자동', '제주 서귀포시 동홍서로 108 '],
 [1012, '복권천하', '자동', '서울 강북구 월계로7나길 23,(미아동) '],
 [1012, '노다지', '자동', '서울 동대문구 한천로 55 '],
 [1012, '세계로생활가전', '수동', '서울 동작구 보라매로 104 1층'],
 [1012, '복권천국', '자동', '서울 서초구 서초대로 97 1층'],
 [1012, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1012, '종국이두마리치킨불로점', '자동', '대구 동구 팔공로30길 6 '],
 [1012, '이마트24 대구북구매천점', '자동', '대구 북구 매전로4길 22 1층(매천동)'],
 [1012, '명당로또', '자동', '울산 남구 팔등로 65 '],
 [1012, '명당슈퍼', '자동', '경기 수원시 영통구 중부대로 285 김환규산부인과 '],
 [1012, '천하명당', '자동', '경기 평택시 탄현로 224 '],
 [1012, '복권명당', '자동', '충남 공주시 번영1로 41 '],
 [1012, '차암일등로또', '자동', '충남 천안시 서북구 밤개울1길 1-5 '],
 [1012, '로또복권판매점', '자동', '전북 남원시 가방뜰길 57 금동휴먼시아 상가'],
 [1013, '삼성마트', '자동', '서울 강남구 선릉로 628 '],
 [1013, '스파', '자동', '서울 노원구 동일로 1493 상계주공아파트(10단지) 주공10단지종합상가111'],
 [1013, '가로가판대제57호(구)', '자동', '서울 중구 세종대로14길 6-2 '],
 [1013, '부일카서비스', '자동', '부산 동구 자성로133번길 35 '],
 [1013, '장원로또', '자동', '경기 수원시 영통구 중부대로246번길 10 1층 3호'],
 [1014, '서울구가-17가판', '자동', '서울 구로구 구로동로 130-2 구로4동우체국앞가판'],
 [1014, '가로판매점', '수동', '서울 용산구 한강대로 114 신용산역 1번출구앞 가판'],
 [1014, '갈렙분식한식', '수동', '서울 중랑구 용마산로115길 92 '],
 [1014, '현대슈퍼', '수동', '광주 서구 상무대로 871 '],
 [1014, '가판점', '자동', '경기 부천시 부일로459번길 8 국민은행버스정류장 옆 가판'],
 [1014, '금곡로', '자동', '경기 수원시 권선구 금곡로197번길 18-23 해피라움블루 105호(금곡동, 해피라움블루)'],
 [1014, '로또복권방', '반자동', '충남 천안시 서북구 쌍용대로 190 상가3호'],
 [1014, '행운플러스', '수동', '전북 전주시 덕진구 송천로 1 '],
 [1014, '드림마트', '자동', '경남 김해시 인제로170번길 15-6 씨스페이스편의점 내'],
 [1014, '스마일', '반자동', '경남 양산시 북안남4길 2 복권판매점'],
 [1015, '오렌지데이편의점', '수동', '부산 해운대구 좌동순환로249번길 11 르네상스오피스102호'],
 [1015, '복권명당(영남점)', '수동', '대구 달서구 월배로 122,(진천동) '],
 [1015, '1등로또방', '자동', '광주 동구 중앙로 249-2 '],
 [1015, '오천억복권방', '자동', '광주 서구 상무대로 1087 '],
 [1015, '돈방석', '수동', '경기 수원시 장안구 송정로 170 1층 101호(조원동)'],
 [1015, '복권천국', '수동', '전남 여수시 선소로 62 부영아파트상가4동1-2호'],
 [1015, '큐마트학동점로또', '수동', '전남 여수시 학동서5길 2 큐마트내'],
 [1015, '부강 돈벼락', '자동', '경남 양산시 물금로 41 양산물금양우내안애5차리버파크 상가108호 양우대산부동산 내'],
 [1016, '나눔로또 석촌점', '수동', '서울 송파구 백제고분로27길  34 1층'],
 [1016, '가판14호', '자동', '서울 중구 퇴계로 37 '],
 [1016, '가판14호', '자동', '서울 중구 퇴계로 37 '],
 [1016, '희망복권방', '자동', '부산 동래구 명장로20번길 26,(명장동) '],
 [1016, '운수대통', '자동', '인천 부평구 동암광장로 6 1층 A호'],
 [1016, '우두로또', '자동', '강원 춘천시 영서로 2786 1층'],
 [1016, '국영슈퍼', '자동', '충남 아산시 시민로 366 '],
 [1016, '종합복권방', '자동', '전남 해남군 해남로 34 종합복권방편의점 '],
 [1016, '고현시장만남의광장복권방', '자동', '경남 거제시 거제중앙로19길 8 102호'],
 [1016, '호박넝쿨복권방', '자동', '경남 김해시 여래로20번길 50-7 103호'],
 [1016, '지에스(GS25)뉴양산혜인점', '자동', '경남 양산시 웅상대로 955 GS편의점'],
 [1017, '베네시티앞가판', '자동', '서울 강동구 올림픽로 664 대우베네시티cafe7gram앞'],
 [1017, '대박복권방', '수동', '서울 구로구 개봉로17길 18 '],
 [1017, '복권명당', '자동', '서울 동작구 국사봉길 26 '],
 [1017, 'SK 복권방', '자동', '인천 미추홀구 용정공원로 33 인천SKSkyVIEW 상가 A-2동 1층 104호'],
 [1017,
  '로또판매점',
  '자동',
  '경기 김포시 김포한강2로 208 고창마을케이시시스위첸아파트 스웨첸아파트상가1동101호씨유kcc점'],
 [1017, '슈퍼맨편의점', '자동', '강원 강릉시 경강로 2113 꽃사슴복권방'],
 [1017, '행운복권', '자동', '충북 제천시 명륜로 67 1층'],
 [1018, '씨스페이스 범어사역점', '자동', '부산 금정구 중앙대로 2097 1층'],
 [1018, '노다지복권방', '자동', '인천 미추홀구 한나루로 400 학익시장 외7필지125호'],
 [1019, '미나식품(로또판매점)', '수동', '서울 강서구 금낭화로 91-12 '],
 [1019, '장수복권', '수동', '서울 관악구 난곡로 223 1층'],
 [1019, 'Today', '수동', '서울 광진구 광나루로56길 85 테크노마트9층판매동24호'],
 [1019, '종합가판점', '수동', '서울 동대문구 왕산로40길 6 건물 앞쪽 가판점 청량리역 5번출구 앞쪽'],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1019, '잠실매점', '수동', '서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판'],
 [1019, '우리마트', '수동', '서울 중구 창경궁로 11 '],
 [1019, '신간판', '수동', '서울 중구 무교로 24 '],
 [1019, '빅세일복권방', '수동', '부산 부산진구 서면문화로 6 '],
 [1019, '청솔서점', '수동', '부산 사하구 하신번영로 195 '],
 [1019, '플러스로또', '수동', '대구 달서구 월곡로45길 56,(상인동) '],
 [1019, '로또명당', '반자동', '인천 남동구 호구포로 874 '],
 [1019, '대박스타', '수동', '인천 미추홀구 경인로 348 1층'],
 [1019, '무판안경시청점', '수동', '울산 남구 중앙로 210-1 '],
 [1019, '광명24시편의점', '반자동', '울산 동구 방어진순환도로 945 '],
 [1019, '복권방', '자동', '울산 울주군 덕남로 87 '],
 [1019, '경은 로또 판매점', '수동', '울산 중구 태화로 37 1층'],
 [1019, '다정로또복권', '자동', '세종   다정중앙로 52 '],
 [1019, '대박복권판매점', '수동', '경기 김포시 김포한강11로140번길 8-12 102호'],
 [1019, '오남 로또택배', '수동', '경기 남양주시 진건오남로 814 B동 1층 5호'],
 [1019, '팡팡마트', '수동', '경기 남양주시 진건오남로522번길 3 102호'],
 [1019, '또와또복권', '수동', '경기 성남시 수정구 수정로 215 왼쪽2호 (태평동)'],
 [1019, '크로바쉼터', '수동', '경기 성남시 수정구 대왕판교로 1289 1층 5호'],
 [1019, '따따블 대박로또', '수동', '경기 시흥시 서울대학로278번길 26 109호'],
 [1019, '머니머니', '자동', '경기 시흥시 월곶중앙로14번길 100 '],
 [1019, '로또복권', '수동', '경기 오산시 성호새싹길 11 '],
 [1019, '대박로또', '자동', '경기 용인시 기흥구 신갈로 32 '],
 [1019, '노다지복권방', '자동', '경기 용인시 처인구 금령로 130 '],
 [1019, '행운복권방', '수동', '경기 포천시 솔모루로 86-1 '],
 [1019, '서해로또방', '수동', '경기 화성시 화성로 1471 '],
 [1019, '드림 복권방', '수동', '경기 화성시 효행로 216 1층'],
 [1019, '황금복권방', '수동', '강원 인제군 인제로 232 '],
 [1019, '사내로또', '수동', '강원 화천군 문화마을1길 113 1층'],
 [1019, '행운복권방', '수동', '충북 청주시 상당구 단재로 119,(영운동) '],
 [1019, '행운복권방', '수동', '충북 청주시 상당구 단재로 119,(영운동) '],
 [1019, '로또매점', '수동', '충남 당진시 송산로 723 '],
 [1019, '1등명당', '수동', '충남 서천군 장항로 220 '],
 [1019, '1등명당', '수동', '충남 서천군 장항로 220 '],
 [1019, '1등명당', '수동', '충남 서천군 장항로 220 '],
 [1019, '남원복권방', '자동', '전북 남원시 남문로 414 '],
 [1019, '대박찬스', '수동', '전북 정읍시 관통로 59 '],
 [1019, '광양복권나라(로터리)', '수동', '전남 광양시 백운로 1 '],
 [1019, '복받는날', '수동', '경북 포항시 북구 삼흥로 64 '],
 [1019, '스마일', '수동', '경남 양산시 북안남4길 2 복권판매점'],
 [1019, '범어로또판매점', '수동', '경남 양산시 목화로 52 좌측 복권판매점'],
 [1020, '고덕로또복권', '자동', '서울 강동구 상일로15길 18 1층'],
 [1020, '오케이상사', '자동', '서울 서초구 신반포로 176 센트럴시티내100호매점'],
 [1020, '복권 아이스크림', '자동', '서울 송파구 위례광장로 188 101호'],
 [1020, '제이복권방', '자동', '서울 종로구 종로 225-1 평창빌딩 1층 103호'],
 [1020, '을지상회', '자동', '서울 중구 장충단로13길 43 동화연쇄상가1층특3'],
 [1020, '이마트24침산명성점', '자동', '대구 북구 침산로 153 명성푸르지오 상가 103동 B2호'],
 [1020, '충남상회', '자동', '인천 미추홀구 석정로 78 10호'],
 [1020, '진플러스안경', '자동', '대전 중구 대종로 301-1 '],
 [1020, '행운대박복권방', '자동', '경기 남양주시 광릉내로 17 '],
 [1020, '주택복권방', '자동', '경기 안양시 동안구 흥안대로145번길 77 77'],
 [1020, '포유25다농점', '자동', '경기 오산시  운천로 80-5 거성그린프라자114호'],
 [1020, '민속촌삼거리 행운복권방', '수동', '경기 용인시 기흥구 용구대로 1869 '],
 [1020, '광포로또복권', '자동', '경북 울진군 죽변북로 154 '],
 [1021, '황금대박점', '자동', '서울 노원구 공릉로 328,(하계동) '],
 [1021, '대만상사', '자동', '서울 성북구 보국문로11길 30 '],
 [1021, 'G마트', '자동', '서울 영등포구 디지털로 387 '],
 [1021, '야단법석', '자동', '대구 북구 호암로 20 123동112호(성광우방상가 내)'],
 [1021, '유연마트', '자동', '대전 동구 계족로 88 '],
 [1021, '대운복권', '자동', '경기 성남시 중원구 성남대로 1149 '],
 [1021, '스타복권방', '수동', '충남 논산시 안심로 72 '],
 [1021, '오복로또', '자동', '충남 부여군 성흥로 178 '],
 [1021, '로또명당인주점', '자동', '충남 아산시 서해로 519-2 '],
 [1021, '롯데마트', '자동', '전북 군산시 하나운로 43 '],
 [1021, '불타는복권', '자동', '경북 영주시 기주로 84 '],
 [1021, '목화휴게소', '자동', '경남 사천시 사천대로 912 '],
 [1022, '복권백화점', '자동', '경기 파주시 평화로 70 '],
 [1022, '규암복권판매점', '자동', '충남 부여군 자온로 61 '],
 [1022, '씨유 목포세진점', '자동', '전남 목포시 해안로249번길 17 CU편의점'],
 [1022, '텀브커피왜관점 로또명당', '자동', '경북 칠곡군 중앙로 95 1층 커피&로또명당'],
 [1022, '포항오거리CU복권', '자동', '경북 포항시 북구 죽도로 33 CU포항오거리점내'],
 [1023, '오로라복권방', '수동', '서울 광진구 뚝섬로 625 국민은행자양동지점 50m'],
 [1023, '광장하이퍼', '자동', '서울 구로구 경인로53길 15 중앙유통단지C-05'],
 [1023, '아이마트', '수동', '대전 서구 둔산로 230 '],
 [1023, '(I.A) 로또마트', '자동', '경기 안산시 단원구 신길로 9-4 '],
 [1023, '협신복권방', '자동', '경기 여주시 도예로 28 CU편의점내'],
 [1023, '서해로또방', '자동', '경기 화성시 화성로 1471 '],
 [1023, '운수대통복권방', '자동', '충남 천안시 동남구 대흥로 122 중앙시장 입구'],
 [1023, '복권판매점', '반자동', '전남 광양시 용강로 35 '],
 [1023, '돈방석(로또)', '자동', '경남 사천시 사천대로 1791 '],
 [1024, '로또 光복권', '자동', '서울 구로구 개봉로23가길 37 '],
 [1024, 'CU(남가좌현대점)', '자동', '서울 서대문구 가재울로 46 '],
 [1024, '천하명당로또복권', '수동', '서울 서대문구 세무서길 12 '],
 [1024, '제일복권', '자동', '부산 서구 충무대로 35-1 1층 복권방'],
 [1024, '대박명당', '자동', '울산 남구 중앙로 154 '],
 [1024, '희망복권', '자동', '경기 시흥시 월곶중앙로14번길 68 1동 104호'],
 [1024, '열두보석복권방', '자동', '경기 용인시 기흥구 구갈로 74 구갈스포츠센타 구갈스포츠센터106호'],
 [1024, 'CU노서점', '자동', '경북 경주시 금성로259번길 38 1층 CU 노서점 내'],
 [1025, '행복슈퍼', '자동', '서울 성북구 동소문로 49 '],
 [1025, '로또킹', '자동', '서울 영등포구 영중로 2 1층(영등포동3가)'],
 [1025, '오늘또로또', '자동', '경기 이천시 중앙로 92 1층 101호'],
 [1025, '복권나라', '자동', '충북 제천시 청풍호로 52 1층'],
 [1026, '자양사거리가로매점', '자동', '서울 광진구 자양로 95 '],
 [1026, 'GS25궁동상지점', '자동', '서울 구로구 부일로15길 29 '],
 [1026, '금정복권방', '자동', '서울 도봉구 해등로 168 1층'],
 [1026, '씨스페이스 범어사역점', '자동', '부산 금정구 중앙대로 2097 1층'],
 [1026, '수퍼복권대박', '자동', '인천 연수구 용담로 60 1층'],
 [1026, '운수대통', '자동', '광주 광산구 어등대로 581-1 1층 운수대통'],
 [1026, '서민', '수동', '경기 광주시 무들로 211 '],
 [1026, '서민', '수동', '경기 광주시 무들로 211 '],
 [1026, '지엘복권 및 위로마트', '자동', '경기 김포시 김포한강4로 571 1층 110호'],
 [1026, '천운', '자동', '경기 의정부시 문충로  110 ,106호(고산동,백봉프라자)'],
 [1026, 'OK편의점', '자동', '경기 이천시 중리천로 56 '],
 [1026, '복권하우스', '자동', '경기 평택시 송탄로 369-1 1층'],
 [1026, '삼팔로또', '자동', '충남 서천군 서천읍 충절로 34 '],
 [1026, '태안로또복권방', '자동', '충남 태안군 독샘로 57 '],
 [1026, '진빈레코드', '자동', '경남 밀양시 북성로 7 '],
 [1027, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1027, '골든티켓', '자동', '인천 남동구 만수서로 23 101호'],
 [1027, '행복충전소', '수동', '경기 평택시 탄현로 332-2 '],
 [1027, '나눔로또판매점희망엄사점', '자동', '충남 계룡시 엄사중앙로 11 '],
 [1027, '큰별복권판매점', '자동', '충남 논산시 중앙로 318 '],
 [1027, '왕대박복권', '자동', '충남 논산시 연산면 계백로 1853 편의점'],
 [1027, '부안복권방', '자동', '전북 부안군 부안읍 번영로 135 '],
 [1027, '팡팡복권마트.잡화슈퍼', '자동', '전북 전주시 덕진구 가리내로 26 '],
 [1027, '로또명당', '자동', '전남 해남군 우수영로 1 '],
 [1027, '럭키', '수동', '경남 진주시 하대로 138 상가동 103호'],
 [1028, '복권세계', '자동', '서울 구로구 우마길 4 '],
 [1028, '오성할인마트', '자동', '서울 도봉구 도봉로 505,(쌍문동) '],
 [1028, '노다지복권방', '자동', '서울 동대문구 한빛로 1-1,(신설동) '],
 [1028, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1028, '대지사', '자동', '서울 성동구 왕십리로 362 '],
 [1028, '크로바쎄븐', '자동', '서울 송파구 법원로11길 7 문정현대지식산업센터1-2 1층 128호'],
 [1028, '더디씨 신월점', '자동', '서울 양천구 남부순환로 516 '],
 [1028, '로또킹', '자동', '서울 영등포구 영중로 2 1층(영등포동3가)'],
 [1028, 'GS25(명륜성대점)', '자동', '서울 종로구 명륜길 2 '],
 [1028, '돈벼락맞는곳', '자동', '부산 동구 조방로49번길 18-1 '],
 [1028, '루이방', '수동', '경기 과천시 중앙로 135-1 '],
 [1028, '로또명당 대박복권방', '자동', '경기 광명시 소하로 78 109호(소하동, 신성프라자)'],
 [1028, '로또', '자동', '경기 구리시 갈매순환로 96 102호(갈매동,오대타워)'],
 [1028, '역곡역전로또', '자동', '경기 부천시 경인로 506 가판대'],
 [1028, '천하명당', '자동', '경기 시흥시 신천3길 26-1 1층1호'],
 [1028, '로또스테이션', '자동', '경기 안산시 단원구 선부광장1로 81 주공15단지아파트 상가동 108호(선부동1080-2)'],
 [1028, '열두보석복권방', '자동', '경기 용인시 기흥구 구갈로 74 구갈스포츠센타 구갈스포츠센터106호'],
 [1028, '한솔제지 오거리로또', '자동', '충남 천안시 동남구 행정길 9 오리사냥 '],
 [1028, '천하명당', '자동', '전남 여수시 망마로 107 '],
 [1028, '복권왕국', '자동', '전남 여수시 화산로 134 '],
 [1029, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1029, '통일복권방', '반자동', '서울 송파구 백제고분로7길 6 '],
 [1029, '씨유 장기파랑새점', '자동', '대구 달서구 용산로 63-1 1층  CU편의점'],
 [1029, '가평로또방', '자동', '경기 가평군 석봉로 240 스마트빌딩 1층'],
 [1029, '행운복권', '자동', '경기 군포시 대야1로 3 현대팰리스 1동'],
 [1029, '송추장흥로또', '자동', '경기 양주시 호국로 511 '],
 [1029, '신나는복권방', '자동', '경기 파주시 문향로 51-1 '],
 [1029, '현대장미슈퍼', '자동', '전북 익산시 동서로61길 41 현대아파트1층108호'],
 [1029, '한성슈퍼', '자동', '전북 익산시 익산대로 52 '],
 [1029, '송도하우스', '자동', '전남 목포시 영산로 525 목포터미널 내'],
 [1030, '명당복권방', '수동', '서울 동작구 상도로 281 1층'],
 [1030, '용꿈돼지꿈', '자동', '서울 마포구 마포대로 112-5 '],
 [1030, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1030, '인터넷 복권판매사이트', '수동', '동행복권(dhlottery.co.kr) '],
 [1030, '교통카드판매대', '수동', '서울 송파구 송파대로28길 27 송파성원쌍떼빌 공영주차장앞가판'],
 [1030, '코사마트금강점', '반자동', '대구 달서구 용산로 204 1층 코사마트'],
 [1030, '대박복권방', '수동', '대구 북구 옥산로 53,(노원동1가) '],
 [1030, '복권전문점', '수동', '인천 부평구 원적로 437 '],
 [1030, '인생로또', '수동', '울산 북구 천곡남로 33 삼성코아루상가내'],
 [1030, '복권사랑', '자동', '경기 가평군 청평중앙로 24 1층 CU청평중앙로점'],
 [1030, '대박', '수동', '경기 구리시 안골로103번길 46 '],
 [1030, '로또맛집배은복', '반자동', '경기 김포시 풍무로 121 1층 6호'],
 [1030, '김포로또', '자동', '경기 김포시 돌문로 48 한솔프라자101'],
 [1030, '여수복권방', '자동', '경기 성남시 중원구 성남대로997번길 25-9 '],
 [1030, '스피드세븐', '자동', '경기 화성시 한절이길 15 101호'],
 [1030, '돈벼락복권', '자동', '강원 태백시 번영로 356 '],
 [1030, '천하명당', '반자동', '전남 여수시 망마로 107 '],
 [1030, '일등복권', '자동', '경북 칠곡군 동명면 금암중앙길 42,(금암리) '],
 [1030, '동행복권 진해신항점', '자동', '경남 창원시 진해구 신항4로 47-26 111호(마린타워)'],
 [1031, '삼육오상사', '자동', '서울 동대문구 홍릉로 67 1층우측(청량리동)'],
 [1031, '우일', '수동', '서울 송파구 마천로 235 '],
 [1031, '한국인세계대박복권', '자동', '인천 연수구 한나루로197번길 34 '],
 [1031, '해피+24시편의점', '자동', '광주 북구 하서로 330 '],
 [1031, '삼산현대 로또판매', '자동', '울산 남구 월평로 225 '],
 [1031, '후레쉬슈퍼', '수동', '경기 부천시 부천로 80 풍산메디칼프라자 101호'],
 [1031, '이마트24녹동점1등복권방', '자동', '전남 고흥군 녹동남촌1길 13 이마트24녹동점옆'],
 [1031, '로또 휴게', '자동', '제주 제주시 연삼로 626 '],
 [1032, '일등복권방', '자동', '부산 남구 고동골로 3 '],
 [1032, '미니스톱 새법조타운점', '자동', '부산 연제구 법원로16번길 10 금복빌딩 '],
 [1032, '행운생활건강', '수동', '인천 서구 고래울로 42 '],
 [1032, '복권명당(광주시청점)', '자동', '경기 광주시 회안대로 900 로얄프라자 115호'],
 [1032, '로또복권방', '자동', '경기 군포시 산본로323번길 16-6 신명타워 신명빌딩1층1005호'],
 [1032, '1번지복권방', '자동', '경기 성남시 중원구 희망로 448 1층일부 (금광동)'],
 [1032, '번개로또복권방', '자동', '경기 수원시 장안구 경수대로973번길 13-4 1층 (송죽동)'],
 [1032, '대박천국', '자동', '전북 군산시 가도로 217 다모아 '],
 [1032, '에코시티복권판매점', '수동', '전북 전주시 덕진구 세병로 8 '],
 [1032, '코아복권판매점', '자동', '전북 전주시 완산구 팔달로 252 '],
 [1033, '월드 복권방', '자동', '서울 강서구 곰달래로53길 41 1층 102호(화곡동, 재룡빌딩)'],
 [1033, '헬스프라자', '수동', '서울 관악구 관악로 184 1층'],
 [1033, '인터넷 복권판매사이트', '자동', '동행복권(dhlottery.co.kr) '],
 [1033, '행운복권방', '수동', '서울 은평구 서오릉로 10,(녹번동) '],
 [1033, '송천복권방', '자동', '부산 해운대구 선수촌로 108 '],
 [1033, '복권왕국', '자동', '인천 부평구 경인로 931 '],
 [1033, '복권천국', '자동', '인천 부평구 평천로 306 양영빌딩1층'],
 [1033, '성호복권방', '자동', '대전 대덕구 신일동로 1 '],

In [99]:
len(data1)

459

In [100]:
lotto = pd.DataFrame(data1)

In [101]:
lotto

        0            1   2                                                 3
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]

In [102]:
lotto.columns

RangeIndex(start=0, stop=4, step=1)

In [103]:
lotto.columns=['회차','상호명','구분','소재지']

In [104]:
lotto

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]

In [105]:
 # get 방식과 post방식
 #    req = requests.post(url, data= d_data)
 #    req = request.get(url, headers=headers)

In [106]:
lotto[lotto['소재지'].str.contains('광명')]

       회차         상호명  구분                             소재지
60   1004       잉크와복권  자동            경기 광명시 시청로 69,(철산동)
334  1028  로또명당 대박복권방  자동  경기 광명시 소하로 78 109호(소하동, 신성프라자)

In [107]:
#lotto.to_csv('lotto.csv', index=False, encoding='euc-kr')

In [108]:
df=lotto

In [109]:
df

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]

In [110]:
df['회차'].value_counts() #회차별 당첨자수

1019    50
1000    22
1028    20
1030    19
1038    15
1037    15
1026    15
1009    15
1003    14
1012    13
1033    13
1020    13
1021    12
1001    12
1005    12
1008    11
1011    11
1016    11
1004    10
1032    10
1014    10
1027    10
1029    10
1036     9
1034     9
1006     9
1023     9
1007     9
1035     8
1031     8
1002     8
1024     8
1010     8
1015     8
1017     7
1013     5
1022     5
1025     4
1018     2
Name: 회차, dtype: int64

In [111]:
df[df['회차']==1019] #1019회의 당첨자들을 DF로표현

       회차          상호명   구분                                      소재지
197  1019  미나식품(로또판매점)   수동                       서울 강서구 금낭화로 91-12
198  1019         장수복권   수동                        서울 관악구 난곡로 223 1층
199  1019        Today   수동          서울 광진구 광나루로56길 85 테크노마트9층판매동24호
200  1019        종합가판점   수동  서울 동대문구 왕산로40길 6 건물 앞쪽 가판점 청량리역 5번출구 앞쪽
201  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
202  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
203  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
204  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
205  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
206  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
207  1019         잠실매점   수동            서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
208  1019         우리마트   수동                           서울 중구 창경궁로 11
209  1019          신간판   수동                            서울 중구 무교로 24
210  1019       빅세일복권방   수동                         부산 부산진구 서면문화로 6
211  1019         청솔서점   수동                        부산 사하구 하신번영로 195
212  1019        플러스로또   수동                  대구 달서구 월곡로45길 56,(상인동)
213  1019         로또명당  반자동                         인천 남동구 호구포로 874
214  1019         대박스타   수동                       인천 미추홀구 경인로 348 1층
215  1019      무판안경시청점   수동                         울산 남구 중앙로 210-1
216  1019     광명24시편의점  반자동                       울산 동구 방어진순환도로 945
217  1019          복권방   자동                           울산 울주군 덕남로 87
218  1019    경은 로또 판매점   수동                          울산 중구 태화로 37 1층
219  1019       다정로또복권   자동                           세종   다정중앙로 52
220  1019      대박복권판매점   수동            경기 김포시 김포한강11로140번길 8-12 102호
221  1019      오남 로또택배   수동               경기 남양주시 진건오남로 814 B동 1층 5호
222  1019         팡팡마트   수동                경기 남양주시 진건오남로522번길 3 102호
223  1019        또와또복권   수동            경기 성남시 수정구 수정로 215 왼쪽2호 (태평동)
224  1019        크로바쉼터   수동              경기 성남시 수정구 대왕판교로 1289 1층 5호
225  1019     따따블 대박로또   수동                경기 시흥시 서울대학로278번길 26 109호
226  1019         머니머니   자동                    경기 시흥시 월곶중앙로14번길 100
227  1019         로또복권   수동                         경기 오산시 성호새싹길 11
228  1019         대박로또   자동                       경기 용인시 기흥구 신갈로 32
229  1019       노다지복권방   자동                      경기 용인시 처인구 금령로 130
230  1019        행운복권방   수동                        경기 포천시 솔모루로 86-1
231  1019        서해로또방   수동                         경기 화성시 화성로 1471
232  1019       드림 복권방   수동                        경기 화성시 효행로 216 1층
233  1019        황금복권방   수동                          강원 인제군 인제로 232
234  1019         사내로또   수동                     강원 화천군 문화마을1길 113 1층
235  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
236  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
237  1019         로또매점   수동                          충남 당진시 송산로 723
238  1019         1등명당   수동                          충남 서천군 장항로 220
239  1019         1등명당   수동                          충남 서천군 장항로 220
240  1019         1등명당   수동                          충남 서천군 장항로 220
241  1019        남원복권방   자동                          전북 남원시 남문로 414
242  1019         대박찬스   수동                           전북 정읍시 관통로 59
243  1019  광양복권나라(로터리)   수동                            전남 광양시 백운로 1
244  1019         복받는날   수동                        경북 포항시 북구 삼흥로 64
245  1019          스마일   수동                     경남 양산시 북안남4길 2 복권판매점
246  1019      범어로또판매점   수동                   경남 양산시 목화로 52 좌측 복권판매점

In [112]:
df['구분'].value_counts() #방식 당 당첨자수

자동     300
수동     147
반자동     12
Name: 구분, dtype: int64

## 8 대 광역시 / 시군구 별 당첨자수 비교

In [113]:
df['소재지'][0]

'서울 관악구 신원로3길 21 '

In [125]:
df['소재지']

0                                      서울 관악구 신원로3길 21
1                               서울 서대문구 세검정로 99-1 1층 좌측
2                                동행복권(dhlottery.co.kr)
3                                서울 성동구 용답중앙15길 12-1 1층
4      서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
                             ...
454             강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455                                    경북 칠곡군 북중리3길 59
456                                  경남 창원시 의창구 사화로 26
457                                 제주 제주시 아란4길 85-5 1층
458                                   제주 제주시 우정로11길 12
Name: 소재지, Length: 459, dtype: object

In [131]:
df['소재지1#'] =df['소재지'].str.contains('서울#i')

In [134]:
df[df['소재지1']==True]

,회차,상호명,구분,소재지,소재지1
0,1000,행운식품,자동,서울 관악구 신원로3길 21,True
1,1000,로또백화점 홍은점,수동,서울 서대문구 세검정로 99-1 1층 좌측,True
3,1000,복권나라,수동,서울 성동구 용답중앙15길 12-1 1층,True
4,1000,티에스네트웍스,자동,"서울 영등포구 신길로28길 9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)",True
22,1001,행운복권,자동,서울 강북구 솔샘로 212 신영빌딩 1층,True
...,...,...,...,...,...
420,1036,토큰박스,자동,서울 동대문구 이문로 93 민족통일MJ캠퍼스외대 외대앞 버스정류장,True
421,1036,명지복권방,자동,서울 송파구 거마로 55 101호,True
422,1036,하나복권(가로판매점),자동,서울 영등포구 여의나루로 42 가로판매점(여의도동),True
429,1037,지원물산,자동,"서울 노원구 공릉로 108,(공릉동)",True
445,1038,하나복권(가로판매점),자동,서울 영등포구 여의나루로 42 가로판매점(여의도동),True

--------------------------

In [ ]:
df['소재지'].str.contains() == True

In [122]:
kwang = []
dae8 = ['서울','경기','부산','대구','인천','광주','대전','울산']
for i in dae8 :
    df['소재지1']=df['소재지'].str.contains(i) :

[]

-----------------------------------

In [ ]:
df['광역시']= df['소재지'].str.split(' ', expand=True)[0]

In [ ]:
df['시군구']= df['소재지'].str.split(' ', expand=True)[1]

In [ ]:
df['광역시'].value_counts()

In [ ]:
df['시군구2'] = df['광역시'] + ' '+ df['시군구']

In [ ]:
df['시군구2'].value_counts()

In [ ]:
df[df['시군구2']=='서울 구로구']

In [ ]:
df['소재지'].str.contains('서울').value_counts()

In [ ]:
df['소재지'].str.contains('경기').value_counts()

In [ ]:
df['소재지'].str.contains('부산').value_counts()

In [ ]:
df['소재지'].str.contains('대구').value_counts()

In [ ]:
df['소재지'].str.contains('인천').value_counts()

In [ ]:
df['소재지'].str.contains('광주').value_counts()

In [ ]:
df['소재지'].str.contains('대전').value_counts()

In [ ]:
df['소재지'].str.contains('울산').value_counts()

In [ ]:
df['소재지'].str.split(' ', expand=True)[1].value_counts().head(50)

In [ ]:
df['소재지'].str.split(' ', expand=True)[1] == ' '