In [13]:
#####해답

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

변수 해석
1.제1순위 보험금 수령인의 나이
2 계약자의 성별
3 bmi 
4 건강보험 적용 자녀 수
5 흡연여부
6 수혜자의 주거 지역
7 보험료

In [5]:
data[data.duplicated()] #중복된 데이터 찾기

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [6]:
data[data['charges']==1639.5631]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [8]:
data.drop_duplicates() #중복된 데이터 삭제

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [10]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
obj_col = ['sex','children','smoker','region']

In [12]:
for col in obj_col:
    print(col, data[col].unique())       #자료들의 변수의 유니크값들 확인

sex ['female' 'male']
children [0 1 3 2 5 4]
smoker ['yes' 'no']
region ['southwest' 'southeast' 'northwest' 'northeast']

In [15]:
for col in obj_col:
    print(col, '\n', data[col].value_counts())
    print('---------')                    #변수들의 개수파악 대략의 이상치 파악

sex
 male      676
female    662
Name: sex, dtype: int64
---------
children
 0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64
---------
smoker
 no     1064
yes     274
Name: smoker, dtype: int64
---------
region
 southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64
---------

In [17]:
data.groupby('smoker')['charges'].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [18]:
data.groupby('region')['charges'].median()

region
northeast    10057.652025
northwest     8965.795750
southeast     9294.131950
southwest     8798.593000
Name: charges, dtype: float64

In [24]:
q1=data['charges'].quantile(0.25)     # Q1

In [25]:
q3= data['charges'].quantile(0.75)     # Q3

In [26]:
outlier = q3 + (q3-q1) *1.5     #이상치 구간 설정 (신뢰도 99.7%)

In [27]:
data['charges'].describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [29]:
data[data['charges'] > outlier]  #139개의 이상치 확인!! 뺄지를 고려

      age     sex     bmi  children smoker     region      charges
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1300   45    male  30.360         0    yes  southeast  62592.87309
1301   62    male  30.875         3    yes  northwest  46718.16325
1303   43    male  27.800         0    yes  southwest  37829.72420
1313   19  female  34.700         2    yes  southwest  36397.57600
1323   42  female  40.370         2    yes  southeast  43896.37630

[139 rows x 7 columns]

In [31]:
data1=data[data['charges'] <= outlier]

In [32]:
data1.describe()

               age          bmi     children       charges
count  1199.000000  1199.000000  1199.000000   1199.000000
mean     38.989992    30.095200     1.084237   9927.753402
std      14.068040     6.010551     1.214304   7241.158309
min      18.000000    15.960000     0.000000   1121.873900
25%      26.000000    25.800000     0.000000   4408.695900
50%      39.000000    29.735000     1.000000   8410.046850
75%      51.000000    33.820000     2.000000  12953.594600
max      64.000000    53.130000     5.000000  34472.841000

In [33]:
data1.shape

(1199, 7)

In [34]:
from sklearn.preprocessing import LabelEncoder

In [38]:
col_list = ['sex','smoker','region']
for col in col_list : 
    label = LabelEncoder()
    label.fit(data[col].unique())
    data[col] = label.transform(data[col])  #명목변수를 숫자로 바꾸기! 알아둘것!!

In [37]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [39]:
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split #학습과 테스트 데이터로 나누기
from sklearn.linear_model import LinearRegression  #첫번쨰 모델
from sklearn.metrics import mean_absolute_error  #오차값 계산
from sklearn.ensemble import GradientBoostingRegressor  #두번째 모델

In [40]:
model = LinearRegression() # 모델 첫번째에 적용

In [41]:
x = data.drop(['charges'],axis=1)

In [42]:
y= data['charges']

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [44]:
model.fit(x_train, y_train)

LinearRegression()

In [45]:
pre_train = model.predict(x_train)

In [46]:
mean_absolute_error(pre_train, y_train)

4235.3838760320905

In [54]:
model.score(x_train, y_train)

0.7368306228430945

In [55]:
pre_test = model.predict(x_test)

In [56]:
mean_absolute_error(pre_test, y_test)

3930.3332739011403

In [57]:
model.score(x_test, y_test) #모델 정확도

0.7998747145449959

In [ ]:
# *참조 정확도 구하는 공식 ((y_true - y_test))제곱 .sum()

In [50]:
from sklearn.preprocessing import PolynomialFeatures

In [51]:
pol= PolynomialFeatures(degree=2) # 변수 늘리기

In [52]:
x_pol = pol.fit_transform(x)

In [53]:
x_pol

array([[ 1., 19.,  0., ...,  1.,  3.,  9.],
       [ 1., 18.,  1., ...,  0.,  0.,  4.],
       [ 1., 28.,  1., ...,  0.,  0.,  4.],
       ...,
       [ 1., 18.,  0., ...,  0.,  0.,  4.],
       [ 1., 21.,  0., ...,  0.,  0.,  9.],
       [ 1., 61.,  0., ...,  1.,  1.,  1.]])

In [58]:
pol.get_feature_names()

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['1',
 'x0',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x0^2',
 'x0 x1',
 'x0 x2',
 'x0 x3',
 'x0 x4',
 'x0 x5',
 'x1^2',
 'x1 x2',
 'x1 x3',
 'x1 x4',
 'x1 x5',
 'x2^2',
 'x2 x3',
 'x2 x4',
 'x2 x5',
 'x3^2',
 'x3 x4',
 'x3 x5',
 'x4^2',
 'x4 x5',
 'x5^2']

In [59]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
forest = RandomForestRegressor(n_estimators = 100, criterion='mes', random_state= ,

----------------------------

데이터 정제

1> 첫번째 정제 변수들을 수치화

1) object 변수인 sex 를 남자는 0 여자는 1로!
2) smoker 변수를 yes는 1  no는 0으로
3) 주거지역 north_west 1 north_east 2 south_west 3 south_east 4로!!

# 2> 이상치 찾기!

각 항목을 describe으로 살펴 이상치로 판별 가능한 것들을 제외하고 다시 모델 검정

In [ ]:
data.describe()

In [ ]:
data = data[data['bmi'] < 45]

In [ ]:
x= data.drop('charges',axis=1)

In [ ]:
y = data['charges']

In [ ]:
import numpy as np

In [ ]:
data.columns

In [ ]:
data['sex'] = np.where((data['sex'] == 'female'), 1 ,0)

In [ ]:
data

In [ ]:
data['smoker'] = np.where((data['smoker'] == 'yes'), 1 , 0)

In [ ]:
data

In [ ]:
data['region'] = np.where((data['region'] == 'northwest'), 1 , 0)

In [ ]:
data # 최종 수치로 정제한 데이터

In [ ]:
type(data['region'][5])

In [ ]:
data

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
corr = data.corr().round(2)

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(corr, annot=True)

In [ ]:
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(data['smoker'], data['charges'])

In [ ]:
import numpy as np

In [ ]:
data.columns

In [ ]:
data['sex'] = np.where((data['sex'] == 'female'), 1 ,0)

In [ ]:
data

In [ ]:
data['smoker'] = np.where((data['smoker'] == 'yes'), 1 , 0)

In [ ]:
data

In [ ]:
data['region'] = np.where((data['region'] == 'northwest'), 1 , 0)

In [ ]:
data # 최종 수치로 정제한 데이터

In [ ]:
type(data['region'][5])

In [ ]:
plt.boxplot(data['bmi'])

sns.boxplot(data= data, x='charges' ,y='bmi', xlim=[15000,30000], ylim=[15,30])

In [ ]:
import numpy as np

In [ ]:
data.columns

In [ ]:
data['sex'] = np.where((data['sex'] == 'female'), 1 ,0)

In [ ]:
data

In [ ]:
data['smoker'] = np.where((data['smoker'] == 'yes'), 1 , 0)

In [ ]:
data

In [ ]:
data['region'] = np.where((data['region'] == 'northwest'), 1 , 0)

In [ ]:
data # 최종 수치로 정제한 데이터

In [ ]:
type(data['region'][5])

In [ ]:
model = LinearRegression() # 모델 첫번째

In [ ]:
x = data.drop(['charges'],axis=1)

In [ ]:
y= data['charges']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [ ]:
model.fit(x_train, y_train)

In [ ]:
pre_train = model.predict(x_train)

In [ ]:
mean_absolute_error(pre_train, y_train)

In [ ]:
pre_test = model.predict(x_test)

In [ ]:
mean_absolute_error(pre_test, y_test)

In [ ]:
model.score(x_train, y_train) #모델 정확도

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
model2 = GradientBoostingRegressor() # 모델 두번째

In [ ]:
model2.fit(x_train, y_train)

In [ ]:
pre_train = model2.predict(x_train)

In [ ]:
mean_absolute_error(pre_train, y_train)

In [ ]:
pre_test = model2.predict(x_test)

In [ ]:
mean_absolute_error(pre_test, y_test)

In [ ]:
model2.score(x_train, y_train) #모델 정확도

In [ ]:
plt.scatter(pre_test, y_test) # 2번째 모델 테스트 시 산점도

In [ ]:
plt.scatter(pre_train, y_train) #2번째 모델 트레인 시 산점도

2> 이상치제거

In [ ]:
data

In [ ]:
data1 = data.drop(['region','charges'], axis=1)

In [ ]:
data1

In [ ]:
data1.describe()

1) age,sex는 이상치 존재의 의미가 없다. PASS

머신러닝의 여러가지 방법 케글에서 찾아서 보면서 익혀볼것!